  <div class="columns six offset-by-three margin-b-2 border-ra-50 text-center ft-orange circle-rate">
    <span><strong class=" ft-2">{{recFundsProjects.product.maxRate}}</strong>%</span>
    <br>
    年化收益率
  </div>
  <hr>
  <div>
    <span class="ft-orange">{{recFundsProjects.product.baseRate}}%</span>起，每七日涨<span class="ft-orange">{{recFundsProjects.product.riseRate}}%</span>，最高<span class="ft-orange">{{recFundsProjects.product.maxRate}}%</span>
  </div>
  <hr>
  <div>
    <i class="fa fa-jpy"></i>&nbsp;<span>剩余可投金额&nbsp;<strong class="ft-blue">{{recFundsProjectInvestNum}}</strong>&nbsp;元</span>
  </div>
  <a  ui-sref="root.funds-project-detail({number: recFundsProjects.number})" class="columns eight offset-by-two button button-primary margin-t-2">查看详情</a>
  <div class="columns twelve margin-b-2">
    <small class="ft-grey2">已有{{"76"}}人次参与“七日盈”</small>
  </div>
