<!-- 宏金保首页 在下面的div class="main-list-temp"上面添加ng-repeat即可  start list   ui-sref="root.project-detail"-->

<div infinite-scroll="loadMore()" infinite-scroll-distance="0" class="main-list">
  <div class="main-list-temp clear" ng-repeat="item in jigoubaoData" ng-click="toDetail(item)">
    <div class="title">
      <span class="title-text" ng-show="widthFlag===0 && item.name.length <= 12">{{item.name}}</span>
      <span class="title-text" ng-show="widthFlag===0 && item.name.length > 12">{{item.name | limitTo:14}}...</span>
      <span class="title-text" ng-show="widthFlag===1 || widthFlag===2">{{item.name}}</span>
    </div>
    <div class="pro-info">
      <ul>
        <li>

          <p class="text-left" ng-class="{'ft-orange':item.status === 7 || item.status === 6 , 'ft-grey6':item.status !== 6 || item.status !== 7 }"><span class="ft-3p6">{{item.annualEarnings}}</span>%</p>
          <p>预期年化收益率</p>
        </li>
        <li>
          <p class=""><span ng-class="{'ft-black1':item.status === 7 || item.status === 6 ,'ft-grey6':item.status !== 6 || item.status !== 7 }">{{item.projectDays}}</span>天</p>
          <p class=""><span ng-class="{'ft-black1':item.status === 7 || item.status === 6 ,'ft-grey6':item.status !== 6 || item.status !== 7 }">{{item.total}}</span>元</p>
        </li>
        <li>
          <span class="fa fa-angle-right" ng-class="{'ft-black1':item.status === 7 || item.status === 6 , 'ft-grey6':item.status !== 6 || item.status !== 7 }"></span>
        </li>
      </ul>
      <div class="pro-info2" ng-hide="item.status === 6">
        <div class="process">
          <div class="progress-bar" ng-class="{'bg-orange':item.status === 7 || item.status === 6 ,'bg-grey5':item.status === 11 || item.status === 9 || item.status === 10}" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:{{(item.soldStock + item.occupancyStock) * item.increaseAmount / item.total * 100}}%;">
            <div class="type-img"></div>
          </div>
        </div>

        <div class="join-in">{{(item.soldStock + item.occupancyStock) * item.increaseAmount / item.total * 100| number:1}}%</div>
      </div>
      <span class="count-down" ng-show="item.status === 6">倒计时：{{ item._timeDown.hour }}:{{ item._timeDown.min }}:{{ item._timeDown.seconds }}</span>
    </div>
    <div class="status">
      <img ng-show="item.status === 7 || item.status === 6" src="/images/main-list/status1.png" alt="">
      <img ng-show="item.status !== 7 && item.status !== 6 " src="/images/main-list/status2.png" alt="">
      <span ng-show="item.status === 6" class="title-status-orange">预发布</span>
      <span ng-show="item.status === 11" class="title-status-orange">预约中</span>
      <span ng-show="item.status === 7" class="title-status-orange">融资中</span>
      <span ng-show="item.status === 9" class="title-status-green">还款中</span>
      <span ng-show="item.status === 8" class="title-status-green">融资成功</span>
      <span ng-show="item.status === 10" class="title-status-grey">已完成</span>
    </div>
  </div>
  <!--ending repeat-->
</div>
