<!-- 新首页项目列表 -->
<div class="new-main-list">
  <!-- 宏财精选 -->
  <div class="gap"></div>
  <div class="main-list-temp clear border-none" ng-click="toDetail(item)">
    <div class="projectType1">宏财精选</div>
    <div class="new-title ft-666">
      <span class="title-text ft-1p5" ng-show="widthFlag===0 && item.name.length <= 12">HCJX170314期</span>
      <span class="title-text ft-1p5" ng-show="widthFlag===0 && item.name.length > 12">HCJX170314期...</span>
      <span class="title-text ft-1p5" ng-show="widthFlag===1 || widthFlag===2">HCJX170314期</span>
      <span class="hot-project"></span>  
      <span class="more-list ft-1p3">更多</span>  
    </div>
    <div class="pro-info">
      <ul>
        <li class=""><span class="ft-2p8 margin-r-0p3 ft-Arial orange-rate">9.35 </span></li>
        <li class=""><span class="ft-2p3 margin-r-0p3 ft-Arial ft-black4">1000</span></li>
        <li class=""><span class="ft-2p3 margin-r-0p3 ft-Arial ft-black4">45</span></li>
      </ul>
      <ul class="padding-t-0 margin-b-0 ft-666 border-greye-bottom">
        <li>预期年化收益率(%)</li>
        <li>可投金额(元)</li>
        <li>投资期限(天)</li>
      </ul>
      <ul class="padding-t-0 margin-b-0 ft-grey999">
        <li><span class="medium-short"></span>中短期</li>
        <li><span class="steady-income"></span>收益稳健</li>
        <li><span class="mortgage-guarantee"></span>抵押强担保</li>
      </ul>
    </div>
  </div>
  
  <!-- 宏财尊贵 -->
  <div class="gap"></div>
  <div class="main-list-temp clear border-none" ng-click="toDetail(item)">
    <div class="projectType2">宏财尊贵</div>
    <div class="new-title ft-666">
      <span class="title-text ft-1p5" ng-show="widthFlag===0 && item.name.length <= 12">HCJX170314期</span>
      <span class="title-text ft-1p5" ng-show="widthFlag===0 && item.name.length > 12">HCJX170314期...</span>
      <span class="title-text ft-1p5" ng-show="widthFlag===1 || widthFlag===2">HCJX170314期</span>
      <span class="hot-project"></span>  
      <span class="more-list ft-1p3">更多</span>
      <img class="sold-out" src="/images/new-main/sold-out.png" alt="">  
    </div>
    <div class="pro-info">
      <ul>
        <li class=""><span class="ft-2p8 margin-r-0p3 ft-Arial ft-grey999">9.35 </span></li>
        <li class=""><span class="ft-2p3 margin-r-0p3 ft-Arial ft-black4">1000</span></li>
        <li class=""><span class="ft-2p3 margin-r-0p3 ft-Arial ft-black4">45</span></li>
      </ul>
      <ul class="padding-t-0 margin-b-0 ft-666 border-greye-bottom">
        <li>预期年化收益率(%)</li>
        <li>可投金额(元)</li>
        <li>投资期限(天)</li>
      </ul>
      <ul class="padding-t-0 margin-b-0 ft-grey999">
        <li><span class="medium-short"></span>中短期</li>
        <li><span class="steady-income"></span>收益稳健</li>
        <li><span class="mortgage-guarantee"></span>抵押强担保</li>
      </ul>
    </div>
  </div>

  <!-- 债权转让 -->
  <div class="gap"></div>
  <div class="main-list-temp clear border-none" ng-click="toDetail(item)">
    <div class="projectType3">债权转让</div>
    <div class="new-title ft-666">
      <span class="title-text ft-1p5" ng-show="widthFlag===0 && item.name.length <= 12">HCJX170314期</span>
      <span class="title-text ft-1p5" ng-show="widthFlag===0 && item.name.length > 12">HCJX170314期...</span>
      <span class="title-text ft-1p5" ng-show="widthFlag===1 || widthFlag===2">HCJX170314期</span>
      <span class="more-list ft-1p3" ui-sref="root._main-list-temp({tab: 1})">更多</span>  
    </div>
    <div class="pro-info">
      <ul>
        <li class=""><span class="ft-2p8 margin-r-0p3 ft-Arial orange-rate">9.35 </span></li>
        <li class=""><span class="ft-2p3 margin-r-0p3 ft-Arial ft-black4">1000</span></li>
        <li class=""><span class="ft-2p3 margin-r-0p3 ft-Arial ft-black4">45</span></li>
      </ul>
      <ul class="padding-t-0 margin-b-0 ft-666 border-greye-bottom">
        <li>预期年化收益率(%)</li>
        <li>可投金额(元)</li>
        <li>剩余期限(天)</li>
      </ul>
      <ul class="padding-t-0 margin-b-0 ft-grey999">
        <li><span class="day-interest"></span>当日计息</li>
        <li><span class="steady-income"></span>收益稳健</li>
        <li><span class="asset-quality"></span>资产优质</li>
      </ul>
    </div>
  </div>

  <!-- 风险提醒 -->
  <div class="risk-reminder">预期收益可能存在市场波动 , 请谨慎投资 !</div>
</div>
