<div class="columns twelve margin-t-0p5 margin-b-0p5">

</div>
<div class="margin-t-2" ng-repeat="item in fundsProjectsRecommendations">
  <div class="bg-white overflow-hid padding-1 margin-b-0p5">
    <header class="margin-b-1">{{item.product.name}}{{item.name}}</header>
    <div class="columns twelve">
      <div class="columns eight text-center">
        <span class="u-pull-left">{{item.product.sealingDays}}天</span>
        <span><strong class="ft-red gyrate">{{item.product.baseRate}}</strong>%</span>
        <span class="u-pull-right">{{item.total}}元</span>
        <hr class="margin-t-0p5 margin-b-0p5">
        <span class="u-pull-right">{{item.total - (item.soldStock + item.occupancyStock) * item.increaseAmount}}元可投金额</span>
      </div>
      <div class="columns four padding-t-1 padding-b-1 u-pull-right">
        <div class="margin-0 padding-0 u-pull-right" style="width:90%">
          <a class="button button-primary " ui-sref="root.funds-project-detail({number: item.number})">马上加入</a>
        </div>
      </div>
    </div>
  </div>
</div>

