.about {
  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
  }
  .about-tab1 li {
    width: 25%;
  }
  .half {
    width: 48%;
  }
  .base-background {
    background-color: #F5F5F5;
  }
  .aboutorange li.active {
    color: #f5762f;
    border-bottom: .2rem solid ##f5762f;
  }

  // 高管团队
  .topTeam {
    margin: 1rem;
    border: 3px solid #fff4d5;
    background-color: #fffdf7;
  }
}

