.about {
  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
  }
  .about-tab1 li {
    width: 20%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  .half {
    width: 48%;
  }
  .base-background {
    background-color: #F5F5F5;
  }
  .aboutorange li {
    padding-bottom: .4rem;
    margin-top: .5rem;
    color: #757575;
  }
  .aboutorange li.active {
    color: #f5762f;
    border-bottom: .2rem solid #f5762f;
    box-sizing: border-box;
  }

  // 宏财简介
  .introduce {
    .unit1 {

    }
  }
}

