.about {
  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
  }
  .about-tab1 li {
    width: 20%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  .half {
    width: 48%;
  }
  .base-background {
    background-color: #F5F5F5;
  }
  .aboutorange li {
    padding-bottom: .4rem;
    margin-top: .5rem;
    color: #757575;
  }
  .aboutorange li.active {
    color: #f5762f;
    border-bottom: .2rem solid #f5762f;
    box-sizing: border-box;
  }

  // 宏财简介
  .introduce {
    .unit1 {

    }
  }

  // 高管团队
  .topTeam {
    margin: 1rem 1rem 5rem;
    border: 3px solid #fff4d5;
    background-color: #fffdf7;
    .part1 {
      .top_title, .top_title1, .top_title2, .top_title3 {
        background: url('/images/about/bg_title.png') no-repeat 0 0;
        background-size: 69% 83%;
        height: 3rem;
        margin: 1rem 0 0 1rem;
        p{
          margin-bottom: 0;
          color: #fff;
          text-align: center;
          width: 69%;
          font-size: 1.3rem;
          height: 2rem;
          line-height: 2rem;
          .t_title {
            font-size: 1.2rem;
          }
        }
      }
      .top_title1 {
        background-size: 79% 83% !important;
        background-position: right;
        p{
          width: 93%;
          text-align: right;
          padding-top: 3px;
        }
        @media (min-width:320px) {
          background-size: 91% 83% !important;
        }
        @media (min-width:360px) {
          background-size: 81% 83% !important;
        }
        @media (min-width:375px) {
          background-size: 77% 83% !important;
        }
        @media (min-width:414px) {
          background-size: 71% 83% !important;
        }
      }
      .top_title2 {
        background-size: 71% 83% !important;
        p{
          width: 71%;
        }
        @media (min-width:320px) {
          background-size: 85% 83% !important;
          p{
            width: 85%;
          }
        }
        @media (min-width:360px) {
          background-size: 73% 83% !important;
          p{
            width: 73%;
          }
        }
        @media (min-width:375px) {
          background-size: 70% 83% !important;
          p{
            width: 70%;
          }
        }
      }
      .top_title3 {
        background-size: 69% 83% !important;
        background-position: right;
        p{
          width: 79%;
          text-align: right;
          padding-top: 3px;
        }
        @media (min-width:320px) {
          p{
            width: 83%;
          }
        }
        @media (min-width:414px) {
          p{
            width: 80%;
          }
        }
      }
      .content {
        margin-bottom: 2rem;
        .lf_text {
          width: 64%;
          overflow: hidden;
          margin: 1rem 0 0 1rem;
          .circle {
            width: 8%;
            color: #fcb165;
            font-size: 1.2rem;
            margin-top: 3px;
          }
          .text {
            width: 85%;
            font-size: 1.2rem;
            padding-bottom: 1rem;
            color: #5a5959;
          }
        }
      }
      .img, .img1, .img2 {
          position: absolute;
          bottom: 0;
        }
      .img {
        right: -0.9rem;
      }
      .img1 {
        left: -1rem;
      }
      .img2 {
        left: -0.4rem;
      }
    }
  }
}

