.activity {
  .input-msg {
    margin-top: -0.5rem;
  }
  .activity-input {
    font-family: "微软雅黑";
    width: 100%;
    p {
      margin-bottom: 0;
    }
    input[type="number"] {
      width: 60.5%;
      margin-bottom: 0rem;
      box-sizing: border-box;
      border-radius: 0;
      border: none;
      float: left;
    }
    input[type="tel"] {
      width: 100%;
      margin-bottom: 1rem;
      box-sizing: border-box;
    }
    label {
      width: 39.5%;
      box-sizing: border-box;
      margin-bottom: 0rem;
      float: right;
      text-align: center;
      height: 38px;
      line-height: 38px;
      background-color: #f0f0f0;
      color: #fd8f3f;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none !important;
      margin: 0;
    }
  }
  .activity-getpwd {
    font-family: "微软雅黑";
    width: 100%;
    p {
      margin-bottom: 0;
    }
    input[type="number"] {
      width: 60.5%;
      margin-bottom: 0rem;
      box-sizing: border-box;
      border-radius: 0;
      border: none;
      float: left;
    }
    input[type="tel"] {
      width: 100%;
      margin-bottom: 1rem;
      box-sizing: border-box;
    }
    .button-getpwd {
      width: 39.5%;
      box-sizing: border-box;
      margin-bottom: 0rem;
      float: right;
      text-align: center;
      height: 38px;
      line-height: 38px;
      background-color: #f0f0f0;
      color: #fd8f3f;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none !important;
      margin: 0;
    }
  }
  .button-experience {
    width: 100%;
    background-color: #fffc00;
    box-shadow: 0rem 0.5rem 0rem 0rem #bebc00;
    height: 5rem;
    line-height: 5rem;
    border: none;
    margin-top: 1rem;
    img {
      width: 69%;
      height: 3rem;
      vertical-align: middle;
    }
  }
  .button-experience:focus {
    border: none;
  }
  .button-shadow-rate {
    box-shadow: 0rem 0.5rem 0rem 0rem #9e2d00 !important;
  }
  .activity-rule {
    padding: 0rem 1rem 0 1rem;
    background-color: #ff692c;
    margin-top: -0.1rem;
    .rule {
      img {
        width: 100%;
        margin-top: -0.1rem;
      }
      width: 100%;
      padding: 0 1rem;
      color: #ff692c;
      background-color: #FDE48A;
      p {
        margin-bottom: 0;
        font-size: 1.6rem;
      }
    }
  }
  .activity-raterule {
    padding: 1rem 1rem 0 1rem;
    margin-top: -0.1rem;
    background-color: #ff692c;
    .rule {
      img {
        margin-top: -0.1rem;
        width: 100%;
      }
      h4 {
        margin-bottom: 1rem;
        padding-top: 1rem;
      }
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      width: 100%;
      padding: 0 1rem;
      color: #373635;
      background-color: #FEFDC3;
      p {
        margin-bottom: 0;
        font-size: 1.6rem;
      }
    }
  }
}

.bg-exinner {
  background-color: #FDE48A;
  margin-bottom: 0 !important;
  padding: 0 !important;
  img {
    width: 101%;
    margin-bottom: -0.5rem;
    margin-left: -0.1rem;
  }
}

.bg-rateinner {
  margin-bottom: 0;
  background-color: #FEFDC3;
  padding: 0 !important;
  img {
    width: 101%;
    margin-left: -0.1rem;
    margin-bottom: -0.5rem;
  }
}

.bg-offred {
  background-color: #FF692C;
}

.rate-block {
  position: absolute;
  top: 68%;
  left: 29%;
  width: 50%;
  .span-outer {
    width: 100%;
    span {
      width: 16%;
      height: 3rem;
      line-height: 3rem;
      background-color: #852803;
      color: #fff090;
      display: inline-block;
      text-align: center;
      font-size: 2rem;
      border-radius: 0.5rem;
    }
  }
}

.border-ra-full {
  border-radius: 0.5rem !important;
}

.border-ra-left {
  border-top-left-radius: 0.5rem !important;
  border-bottom-left-radius: 0.5rem !important;
}

.border-ra-right {
  border-top-right-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
}

.border-red {
  border: 2px solid #e34c0f !important;
}

.width-full {
  width: 100%;
}

.bg-main {
  background-color: #F0602C;
}

.new-user {
  position: absolute;
  bottom: 7%;
  left: 9%;
  width: 9rem;
  height: 9rem;
  text-align: center;
  font-size: 2.5rem;
  color: #ffea00;
  p {
    margin-bottom: -1rem !important;
  }
}

.old-user {
  position: absolute;
  bottom: 7%;
  text-align: center;
  right: 9%;
  width: 9rem;
  height: 9rem;
  color: #fc0000;
  font-size: 2.5rem;
  p {
    margin-bottom: -1rem !important;
  }
}

.landing-rule {
  background-image: url("/images/activity/12.jpg");
  background-size: 100% 100%;
  position: absolute;
  left: 0%;
  right: 0%;
  h4 {
    margin-top: 12%;
    margin-bottom: 1rem !important;
    margin-left: 25%;
  }
  p {
    margin-bottom: 0 !important;
    padding-left: 10%;
    padding-right: 10%;
  }
  p:last-child {
    padding-bottom: 25%;
  }
}

.button-code {
  width: 100%;
  height: 5rem;
  line-height: 5rem;
  border: none;
  margin-top: 1rem;
  padding: 0;
  img {
    width: 100%;
    height: 5rem;
    vertical-align: middle;
  }
}

.button-code:focus {
  border: none;
}

.bg-code {
  background-image: url("/images/activity/code02.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-bottom: 10rem;
}

.input-code {
  position: absolute;
  top: 8%;
  left: 20%;
  width: 76%;
  img {
    height: 50px;
    float: left;
    margin-left: 10px;
  }
  input {
    margin-left: 10px;
    padding: 0 0 0 10px;
    background-color: none;
    border: none;
    float: left;
    margin-bottom: 0;
    height: 50px;
    ;
    line-height: 50px;
    ;
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none !important;
      margin: 0;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

.code-grade {
  position: absolute;
  top: 66.5%;
  left: 35.2%;
  right: 38.9%;
  color: #f93131;
  width: 31%;
  height: 26px;
  line-height: 26px;
  background-image: url("/images/activity/code04.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
}

.act-example {
  width: 93.3%;
  margin: 1rem auto 7.5rem;
  overflow: auto;
  .user-head {
    width: 12.5%;
    float: left;
    img {
      width: 100%;
    }
  }
  .user-main {
    width: 81.2%;
    float: left;
    margin: 0 3.7% 0 2.5%;
    .user-topic {
      overflow: auto;
      img{
        min-height: 136px;
        max-height: 176px;
      }
    }
    .name-font {
      color: #4c618e;
      font-size: 1.5rem;
      font-weight: bold;
    }
    .content-font {
      font-size: 1.4rem;
      line-height: 1.6rem;
      letter-spacing: 0.5px;
      margin-top: 0.5rem;
    }
    .address-font {
      font-size: 1.2rem;
      color: #4c618e;
    }
    .time-spectial {
      margin-top: 0.5rem;
      span:nth-child(1) {
        display: block;
        width: 49%;
        float: left;
        color: #a6a5a5;
        font-size: 1.3rem;
      }
      span:nth-child(2) {
        width: 49%;
        display: block;
        float: right;
        text-align: right;
      }
    }
    .comment-spectial {
      overflow: auto;
      font-size: 1.4rem;
      .arrow_box {
        margin-top: 0.8rem;
        color: #4c618e;
        font-weight: bold;
        position: relative;
        background: #eeeeee;
        border: 10px solid #eeeeee;
        border-bottom: 0.5rem solid #eeeeee;
        line-height: 1.5rem;
        .heart{
          display: inline-block;
          width: 1rem;
          height: 1.5rem;
          line-height: 1.5rem;
          img{
            height: auto;
            overflow: hidden;
          }
        }
      }
      .arrow_box:after,
      .arrow_box:before {
        bottom: 100%;
        left: -3%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      .arrow_box:after {
        border-color: rgba(238, 238, 238, 0);
        border-bottom-color: #eeeeee;
        border-width: 20px;
        // margin-left: -120px;
      }
      .arrow_box:before {
        border-color: rgba(238, 238, 238, 0);
        border-bottom-color: #eeeeee;
        border-width: 20px;
        // margin-left: -122px;
      }
      .comment-main {
        overflow: auto;
        width: 100%;
        border-top: 1px solid white;
        background: #eeeeee;
        padding: 0.5rem 1rem;
        font-size: 1.4rem;
        .comment-parent {
          margin-bottom: 0.5rem;
          p {
            width: 100%;
            margin-bottom: 0;
            line-height: 1.4rem;
            span {
              float: left;
              display: block;
            }
          }
          .font-name {
            color: #4c618e;
            font-weight: bold;
            letter-spacing: 1px;
          }
          .normal-font {
            color: black;
          }
        }
      }
    }
  }
  .share-travel {
    margin-top:2rem;
    p {
      color: #4c618e;
      font-size: 1.8rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-weight: bold;
      a{
        color: #4c618e !important;
      }
    }
  }
}

.choice-font {
  padding: 1rem;
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 0;
}

.scene-container {
  padding: 0 0.5rem;
  width: 100%;
  overflow: auto;
  .scene-item {
    padding: 0 0.5rem 0.5rem;
    width: 25%;
    box-sizing: border-box;
    float: left;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    p{
      margin:0.5rem 0 0;
    }
    .img-area {
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      position: relative;
      img {
        max-width: 100%;
        height: auto;
        overflow: hidden;
      }
      .icon-checked {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: black;
        opacity: 0.8;
        filter:alpha(opacity=80);
        span {
          display: block;
          width:100%;
          margin-top:30%;
          color:red;
        }
      }
    }
  }
}
.activity-us{
  width: 100%;
  position: fixed;
  bottom:0rem;
  left: 0;
  right: 0;
  background: black;
  color:white;
  padding-top:1rem;
  padding-bottom: 0.5rem;
  .icon{
    width: 12%;
    float: left;
    margin-left: 0%;
  }
  .p-text{
    width: 56%;
    float: left;
    p:nth-child(1){
      font-size: 1.6rem;
    }
    p:nth-child(2){
      font-size: 1.2rem;
    }
  }
  .down-btn{
    width: 32%;
    float: left;
    margin-top: 0.8rem;
    a{
      width: 100%;
      background-color: white;
      border-radius: 0.5rem;
      color:black;
      padding: 1rem 2rem;
    }
  }
}
.share-page-breakWishLayer {
  position: fixed;
  top: 0;
  z-index: 999999;
  bottom: 0;
  left: 0;
  right: 0;
}
