.activity {
  .input-msg {
    margin-top: -0.5rem;
  }
  .activity-input {
    font-family: "微软雅黑";
    width: 100%;
    p {
      margin-bottom: 0;
    }
    input[type="number"] {
      width: 60.5%;
      margin-bottom: 0rem;
      box-sizing: border-box;
      border-radius: 0;
      border: none;
      float: left;
    }
    input[type="tel"] {
      width: 100%;
      margin-bottom: 1rem;
      box-sizing: border-box;
    }
    label {
      width: 39.5%;
      box-sizing: border-box;
      margin-bottom: 0rem;
      float: right;
      text-align: center;
      height: 38px;
      line-height: 38px;
      background-color: #f0f0f0;
      color: #fd8f3f;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none !important;
      margin: 0;
    }
  }
  .button-experience {
    width: 100%;
    background-color: #fffc00;
    box-shadow: 0rem 0.5rem 0rem 0rem #bebc00;
    height: 5rem;
    line-height: 5rem;
    border: none;
    margin-top: 1rem;
    img {
      width: 100%;
      height: 4rem;
      vertical-align: middle;
    }
  }
  .button-experience:focus {
    border: none;
  }
  .button-shadow-rate{
    box-shadow: 0rem 0.5rem 0rem 0rem #9e2d00 !important;
  }
  .activity-rule {
    padding: 1rem 1rem 0 1rem;
    background-color: #ff692c;
    margin-top: -0.1rem;
    .rule {
      img {
        width: 100%;
        margin-top: -0.1rem;
      }
      width: 100%;
      padding: 0 1rem;
      color: #ff692c;
      background-color: #FDE48A;
      p {
        margin-bottom: 0;
        font-size: 1.6rem;
      }
    }
  }
  .activity-raterule {
    padding: 1rem 1rem 0 1rem;
    margin-top: -0.1rem;
    background-color: #ff692c;
    .rule {
      img {
        margin-top: -0.1rem;
        width: 100%;
      }
      h4 {
        margin-bottom: 1rem;
        padding-top: 1rem;
      }
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      width: 100%;
      padding: 0 1rem;
      color: #373635;
      background-color: #FEFDC3;
      p {
        margin-bottom: 0;
        font-size: 1.6rem;
      }
    }
  }
}

.bg-exinner {
  background-color: #FDE48A;
  margin-bottom: 0 !important;
  padding: 0 !important;
  img {
    width: 101%;
    margin-bottom: -0.5rem;
    margin-left: -0.1rem;
  }
}

.bg-rateinner {
  margin-bottom: 0;
  background-color: #FEFDC3;
  padding: 0 !important;
  img {
    width: 101%;
    margin-left: -0.1rem;
    margin-bottom: -0.5rem;
  }
}

.bg-offred {
  background-color: #FF692C;
}

.rate-block {
  position: absolute;
  top: 68%;
  left: 29%;
  width: 50%;
  .span-outer {
    width: 100%;
    span {
      width: 16%;
      height: 3rem;
      line-height: 3rem;
      background-color: #852803;
      color: #fff090;
      display: inline-block;
      text-align: center;
      font-size: 2rem;
      border-radius: 0.5rem;
    }
  }
}

.border-ra-full {
  border-radius: 0.5rem !important;
}

.border-ra-left {
  border-top-left-radius: 0.5rem !important;
  border-bottom-left-radius: 0.5rem !important;
}

.border-ra-right {
  border-top-right-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
}

.border-red {
  border: 2px solid #e34c0f !important;
}

.width-full {
  width: 100%;
}

.bg-main {
  background-color: #F0602C;
}

.new-user {
  position: absolute;
  bottom: 7%;
  left: 9%;
  width: 9rem;
  height: 9rem;
  text-align: center;
  font-size: 2.5rem;
  color: #ffea00;
  p {
    margin-bottom: -1rem !important;
  }
}

.old-user {
  position: absolute;
  bottom: 7%;
  text-align: center;
  right: 9%;
  width: 9rem;
  height: 9rem;
  color: #fc0000;
  font-size: 2.5rem;
  p {
    margin-bottom: -1rem !important;
  }
}

.landing-rule {
  background-image: url("/images/activity/12.jpg");
  background-size: 100% 100%;
  position: absolute;
  left: 0%;
  right: 0%;
  h4 {
    margin-top: 12%;
    margin-bottom: 1rem !important;
    margin-left: 25%;
  }
  p {
    margin-bottom: 0 !important;
    padding-left: 10%;
    padding-right: 10%;
  }
  p:last-child {
    padding-bottom: 25%;
  }
}
