.box-shadow {
  box-shadow: 0em 0.1em 0.2em #eee;
  box-sizing:border-box;
}
.border-grey {
  border: 1rem solid #ddd;
}
.border-grey-top {
  border-top: 1rem solid #ddd;
}
.border-grey-bottom {
  border-bottom: 1rem solid #ddd;
}
.border-ra-50 {
  border-radius: 50%;
}
/* setposition */
.position-re {
  position: relative;
}
.position-ab {
  position: absolute;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
/* font */
.ft-0p75 {
  font-size: 0.75rem;
}
.ft-1 {
  font-size: 1rem;
}
.ft-1p5 {
  font-size: 1.5rem;
}
.ft-2 {
  font-size: 2rem;
}
.ft-2p5 {
  font-size: 2.5rem;
}
.ft-white {
  color: #fff;
}
.ft-grey {
  color: #555;
}
.ft-grey1 {
  color: #928e8e;
}
.ft-red {
  color: #eb5c3f;
}
/* background */
.bg-offWhite {
  background-color: #f8f8f8;
}
.bg-white {
  background-color: #fff;
}
.bg-grey {
  background-color: #333;
}
/* margin、padding */
.margin-0 {
  margin:0;
}
.margin-t-0p5 {
  margin-top: 0.5rem;
}
.margin-b-0p5 {
  margin-bottom: 0.5rem;
}
.margin-t-1 {
  margin-top: 1rem;
}
.margin-b-1 {
  margin-bottom: 1rem;
}
.margin-t-2 {
  margin-top: 2rem;
}
.margin-t-2p5 {
  margin-top: 2.5rem;
}
.padding-0 {
  padding: 0;
}
.padding-0p5 {
  padding: 0.5rem;
}
.padding-1 {
  padding: 1rem;
}
.padding-t-1 {
  padding-top: 1rem;
}
.padding-b-1 {
  padding-bottom: 1rem;
}
.padding-2 {
  padding: 2rem;
}


/* index-main */
.clip-line {
  width:37%;
  padding-top: 0.7rem;
}

/* clear float */
.overflow-hid {
  overflow: hidden;
}

/* header */
.nav-ul {
  list-style: none;
}
.nav-ul li {
  float: left;
}

