.line-normal {
  line-height: normal;
}
.box-shadow {
  box-shadow: 0em 0.2rem 0.2rem #eee;
  box-sizing:border-box;
}
.border-grey {
  border: 0.1rem solid #ddd;
}
.border-grey-top {
  border-top: 0.1rem solid #ddd;
}
.border-grey-bottom {
  border-bottom: 0.1rem solid #ddd;
}
.border-grey1 {
  border: 0.1rem solid #999;
}
.border-grey-right {
  border-right: 0.1rem solid #ddd;
}
.border-grey1-right {
  border-right: 0.1rem solid #999;
}
.border-ra-50 {
  border-radius: 50%;
}
.border-ra-0p5 {
  border-radius: 0.5rem;
}
/* setposition */
.position-re {
  position: relative;
}
.position-ab {
  position: absolute;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
/* font */
.ft-0p75 {
  font-size: 0.75rem;
}
.ft-1 {
  font-size: 1rem;
}
.ft-1p5 {
  font-size: 1.5rem;
}
.ft-2 {
  font-size: 2rem;
}
.ft-2p5 {
  font-size: 2.5rem;
}
.ft-white {
  color: #fff;
}
.ft-grey {
  color: #555;
}
.ft-grey1 {
  color: #928e8e;
}
.ft-grey2 {
  color: #333;
}
.ft-shell {
  color: #FFF5EE;
}
.ft-green {
  color: #a6d600;
}
.ft-orange {
  color: #ffa729;
}
.ft-red {
  color: #eb5c3f;
}
/* background */
.bg-offWhite {
  background-color: #f8f8f8;
}
.bg-white {
  background-color: #fff;
}
.bg-grey {
  background-color: #333;
}
.bg-yellow {
  background-color: #fff9e9;
}
.bg-red {
  background-color: #eb5c3f;
}
/* margin、padding */
.margin-0 {
  margin:0;
}
.margin-t-0p5 {
  margin-top: 0.5rem;
}
.margin-b-0p5 {
  margin-bottom: 0.5rem;
}
.margin-t-1 {
  margin-top: 1rem;
}
.margin-b-1 {
  margin-bottom: 1rem;
}
.margin-b-1p5 {
  margin-bottom: 1.5rem;
}
.margin-t-2 {
  margin-top: 2rem;
}
.margin-t-2p5 {
  margin-top: 2.5rem;
}
.padding-0 {
  padding: 0 !important;
}
.padding-0p5 {
  padding: 0.5rem;
}
.padding-1 {
  padding: 1rem;
}
.padding-t-1 {
  padding-top: 1rem;
}
.padding-b-1 {
  padding-bottom: 1rem;
}
.padding-b-2 {
  padding-bottom: 2rem;
}
.padding-t-2 {
  padding-top: 2rem;
}
.padding-l-1 {
  padding-left: 1rem;
}
.padding-r-1 {
  padding-right: 1rem;
}
.padding-2 {
  padding: 2rem;
}

/* clear float */
.overflow-hid {
  overflow: hidden;
}
.clear {
  clear: both;
} 

/* header */
.nav-ul {
  list-style: none;
}
.nav-ul li {
  float: left;
}

/* animation */
@keyframes gyrate {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

@-moz-keyframes gyrate {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

@-webkit-keyframes gyrate /* Safari 和 Chrome */ {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

@-o-keyframes gyrate /* Opera */{
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
.gyrate {
  animation: gyrate 2s;
  -moz-animation: gyrate 2s; /* Firefox */
  -webkit-animation: gyrate 2s;  /* Safari 和 Chrome */
  -o-animation: gyrate 2s; /* Opera */
}