/* header */

#header {
  li {
    width: 25%;
  }
  strong {
    left: 45%
  }
}

.footer {
  a {
    box-sizing: border-box;
    display: inline-block;
    float: left;
  }
  .footer-up {
    a {
      width: 33.33333%;
      padding: 0.4rem 0 0.1rem 0;
      background-color: #f7f6f6;
      color: #898989;
      font-size: 1.2rem;
    }
    a:nth-child(1) {
      span {
        display: block;
        width: 27px;
        height: 26px;
        margin: 0.1rem auto;
        background: url(/images/head/main2.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
      span.active {
        background: url(/images/head/main1.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        color: #f5762f;
        background-color: #fcfcfc;
      }
    }
    a:nth-child(2) {
      span {
        display: block;
        width: 27px;
        height: 26px;
        margin: 0.1rem auto;
        background: url(/images/head/project4.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
      span.active {
        background: url(/images/head/project3.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        color: #f5762f;
        background-color: #fcfcfc;
      }
    }
    a:nth-child(3) {
      span {
        display: block;
        width: 27px;
        height: 26px;
        margin: 0.1rem auto;
        background: url(/images/head/account4.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
      span.active {
        background: url(/images/head/account3.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        color: #f5762f;
        background-color: #fcfcfc;
      }
    }
    a:nth-child(4),
    a:nth-child(5) {
      span {
        display: block;
        width: 27px;
        height: 26px;
        margin: 0.1rem auto;
        background: url(/images/head/account4.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
      span.active {
        background: url(/images/head/account3.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        color: #f5762f;
        background-color: #fcfcfc;
      }
    }
    a.active {
      color: #f5762f;
      background-color: #fcfcfc;
    }
  }
  .footer-down {
    a {
      width: 50%
    }
  }
}
