/* header */

#header {
  li {
    width: 25%;
  }
  strong {
    left: 45%
  }
}

.footer {
  a {
    box-sizing: border-box;
    display: inline-block;
    float: left;
  }
  .footer-up {
    a {
      width: 33.33333%;
      padding: 0.4rem 0 0.1rem 0;
      background-color: #f7f6f6;
      color: #898989;
      font-size: 1.2rem;
    }
    a:nth-child(1) {
      span {
        display: block;
        width: 27px;
        height: 26px;
        margin: 0.1rem auto;
        background: url(/images/head/footer.png) no-repeat 0 -30px;
        background-size: 286% 455%;
      }
      span.active {
        background: url(/images/head/footer.png) no-repeat 0 0;
        background-size: 286% 455%;
        color: #f5762f;
        background-color: #fcfcfc;
      }
    }
    a:nth-child(2) {
      span {
        display: block;
        width: 27px;
        height: 26px;
        margin: 0.1rem auto;
        background: url(/images/head/footer.png) no-repeat 0 -90px;
        background-size: 286% 448%;
      }
      span.active {
        background: url(/images/head/footer.png) no-repeat 0 -60px;
        background-size: 286% 448%;
        color: #f5762f;
        background-color: #fcfcfc;
      }
    }
    a:nth-child(3) {
      span {
        display: block;
        width: 27px;
        height: 26px;
        margin: 0.1rem auto;
        background: url(/images/head/footer.png) no-repeat -39px -43px;
        background-size: 286% 453%;
      }
      span.active {
        background: url(/images/head/footer.png) no-repeat -21px 0;
        background-size: 192% 304%;
        color: #f5762f;
        background-color: #fcfcfc;
      }
    }
    a:nth-child(4),
    a:nth-child(5) {
      span {
        display: block;
        width: 28px;
        height: 26px;
        margin: 0.1rem auto;
        background: url(/images/head/footer.png) no-repeat -40px -43px;
        background-size: 286% 453%;
      }
      span.active {
        background: url(/images/head/footer.png) no-repeat -22px 0;
        background-size: 192% 304%;
        color: #f5762f;
        background-color: #fcfcfc;
      }
    }
    a.active {
      color: #f5762f;
      background-color: #fcfcfc;
    }
  }
  .footer-down {
    a {
      width: 50%
    }
  }
}
