/* header */
#header {
  li {
    width: 25%;
  }
  strong {
    left: 45%
  }
}
.footer {
  a {
    box-sizing: border-box;
    display: inline-block;
    float: left;
  }
  .footer-up {
    a {
      width: 25%;
    }
  }
  .footer-down {
    a {
      width: 50%
    }
  }
}
