.login,
.register {
  font-family: "微软雅黑";
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="tel"] {
    width: 75%;
    margin-bottom: 0;
    box-sizing: border-box;
    border: none;
  }
  label {
    width: 25%;
    box-sizing: border-box;
    margin: 0;
    float: left;
    text-align: center;
    height: 38px;
    line-height: 38px;
    background-color: #f0f0f0;
  }
}

.getCaptcha {
  // display: inline-block;
  margin-left: 5%;
  margin-bottom: 0;
}

#invitationCode {
  background-color: #f0f0f0;
  input {
    //background-color: #f0f0f0;
  }
}

// #invitationCode {
//   input[type="text"] {
//     border: 0.1rem solid #ddd;
//   }
//   label {
//     border: none;
//     box-shadow: none;
//     line-height: 38px;
//   }
//   span {
//     font-weight: normal;
//   }
// }
.password {
  font-family: "微软雅黑";
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="tel"] {
    width: 65%;
    margin-bottom: 0;
    box-sizing: border-box;
    border: none;
  }
  label {
    width: 35%;
    box-sizing: border-box;
    margin: 0;
    float: left;
    text-align: center;
    height: 38px;
    line-height: 38px;
    background-color: #f0f0f0;
  }
}

.ft-89 {
  color: #898989;
}

.login-form {
  font-family: "微软雅黑";
  padding: 2rem 1rem;
  button {
    font-family: "Microsoft yahei";
  }
  .to-login {
    background-color: #fff;
    border: 0.1rem solid #cecece;
    box-shadow: inset 0px 3px 1px #e9e9e9;
    border-radius: 0.5rem;
    padding: 0;
    margin: 0;
    font-size: 1.8rem;
    input:nth-child(1) {
      margin-bottom: 0;
      width: 100%;
      border: none;
      font-family: "微软雅黑";
      border-radius: 0.8rem 0.8rem 0 0;
    font-size: 1.8rem;
      border-bottom: 1px solid #cecece;
      height: 48px;
      line-height: 48px;
    }
    .input-pwd {
      margin-bottom: 0;
      width: 100%;
      border: none;
      font-family: "微软雅黑";
      // border-top: 1px solid #cecece;
      border-radius: 0 0 0.8rem 0.8rem;
      height: 48px;
    font-size: 1.8rem;
      line-height: 48px;
    }
  }
}

.register-form {
  font-family: "微软雅黑";
  padding: 2rem 1rem;
  button {
    font-family: "Microsoft yahei";
  }
  .to-register {
    background-color: #fff;
    border: 0.1rem solid #cecece;
    border-radius: 0.5rem;
    padding: 0;
    font-size: 1.8rem;
    margin: 0;
    input:nth-child(1) {
      margin-bottom: 0;
      width: 100%;
      border: none;
      font-family: "微软雅黑";
      border-radius: 0.5rem 0.5rem 0 0;
      border-bottom: 1px solid #cecece;
      box-shadow: inset 0px 2px 1px #e9e9e9;
      height: 48px;
    font-size: 1.8rem;
      line-height: 48px;
    }
    .input-pwd {
      margin-bottom: 0;
      width: 100%;
      border: none;
      font-family: "微软雅黑";
      // border-top: 1px solid #cecece;
      border-radius: 0 0 0.8rem 0.8rem;
      height: 48px;
    font-size: 1.8rem;
      line-height: 48px;
    }
  }
  .to-invite {
    background-color: #fff;
    border: 0.1rem solid #cecece;
    border-radius: 0.5rem;
    padding: 0;
    margin: 1rem 0;
    input:nth-child(1) {
      border-radius: 0.8rem 0.8rem 0 0;
      border: none;
      // border-bottom: 1px solid #cecece;
      width: 2/3*100%;
      margin-bottom: 0;
      font-family: "微软雅黑";
      height: 48px;
    font-size: 1.8rem;
      line-height: 48px;
    }
    .input-invitecode {
      border: none;
      border-top: 1px solid #cecece;
      border-radius: 0 0 0.8rem 0.8rem;
      margin-bottom: 0;
      font-family: "微软雅黑";
      height: 48px;
      line-height: 48px;
    font-size: 1.8rem;
      width: 100%;
    }
    span {
      width: 32%;
      display: inline-block;
      height: 48px;
      line-height: 48px;
      // border-bottom: 1px solid #cecece;
      border-left: 1px solid #cecece;
      float: right;
      box-sizing: border-box;
      button {
        width: 100%;
        border: none;
        border-radius: 0;
        padding: 0;
        margin: 0;
        font-size: 1.5rem;
        font-weight: normal;
        color: #ff705d;
      }
    }
  }
}
