.login,
.register {
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="tel"] {
    width: 75%;
    margin-bottom: 0;
    box-sizing: border-box;
    border: none;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
  }
  label {
    width: 25%;
    box-sizing: border-box;
    margin: 0;
    float: left;
    text-align: center;
    height: 38px;
    line-height: 38px;
  }
}
.getCaptcha {
  // display: inline-block;
  margin-left: 5%; 
  margin-bottom: 0;
}
#invitationCode {
  input[type="text"] {
    border: 0.1rem solid #ddd;
  }
  label {
    border: none;
    box-shadow: none;
    line-height: 19px;
  }
  span {
    font-weight: normal;
  }
}
.registration-agreement {
  height: 100%;
  width: 100%;
  z-index: 10;
  position: fixed;
  top: 0%;
  left: 0%;
  overflow-y: auto;
  h5 {
    position: fixed;
    width: 100%;
  }
}
