// 投资页轮播
.slide-banner {
  margin: 0 auto;
  max-width: 560px;
  .bd{
    z-index:0;
    li {
      a{
        img{
          vertical-align:top;
          width:100%;
        }
      }
    }
  }
  .hd {
    top: 83%;
    left: 42%;
    li{
      display:inline-block;
      width:8px;
      height:8px;
     -webkit-border-radius:5px;
     -moz-border-radius:5px;
     border-radius:5px;
     background-color: black;
     opacity: .25;
     text-indent:-9999px;
     overflow:hidden;
     margin:0 6px;
     }
     li.on{
       background:#fff;
       opacity: .75;
     }
  }
}


.main {
  .gap {
    border-bottom: 1px solid #d4d4d4;
    border-top: 1px solid #d4d4d4;
    height: 1.2rem;
  }
  // 首页的关于我们li列表
  .about-list{
    ul{
      margin-bottom: 1.2rem;
      li{
        height: 8.5rem;
        border-right: 1px solid #d4d4d4;
        width: 33.3333%;
        margin-bottom: 0;
        box-sizing: border-box;
        img {
          margin-top: 1.8rem
        }
        p {
          color: #716b66;
        }
      }
    }
  }
  //项目展示
  .project-name {
    p {
      margin-bottom: 3rem;
    }

  }
  // 进度条
  .pro-info3 {
          width: 100%;
          padding: 0 2rem 0 3rem;
          overflow: auto;
          .join-in{
            display:inline-block;
            width:10%;
            float:left;
            margin-top: .1rem;
            margin-left:0.5rem;
            color:#b7b6b6;
            font-size:1.2rem
          }
          @media(min-width:320px){
            padding: 0 2rem 0 4rem;
          }
          @media(min-width:375px){
            padding: 0 5rem 0 6.5rem;
          }
          @media(min-width:411px){
            padding: 0 5.5rem 0 7rem;
          }
          .process {
            position: relative;
            margin: 1rem 0 2rem;
            width: 85%;
            height: 1px;
            background-color: #b7b6b6;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            display:inline-block;
            float:left;
          }
          .process .progress-bar {
            width: 12%;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            //background-color: #fd8f3f;
          }
          .process .processing {
            position: absolute;
            top: -16px;
            left: 3px;
            color: #000;
            font-size: 0.5rem;
          }
          .type-img {
            height: 1px;
          }
        }
  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
  }
  .main-tab1 li {
    width: 1/2*100%;
    // border-left: 0.1rem solid #fd8f3f;
  }
  .main-tab1 li:nth-child(1) {
    &.active{color:#fff !important;}
  }
  .main-tab1 li:nth-child(3) {
    // width: 1/2*100%;
    border-left: 0.1rem solid #fd8f3f;
  }
  .main-tab1 li:nth-child(2) {
    border-left: 0.1rem solid #fd8f3f;
    &.active{color:#fff !important;}
  }
  .main-tab2 {
    // border-right: 0.1rem solid #ddd;
    font-family: "微软雅黑";
    li:nth-child(1) {
      width: 40%;
      color: #ff705d;
      text-align: right;
      //font-size: 1.4rem;
      &.active {
        color: #ff705d;
        background-color: #fff;
        font-weight: bold;
        font-size: 1.6rem;
      }
    }
    li:nth-child(2) {
      width: 20%;
      color: #ff705d;
      text-align: center;
      &.active {
        color: #ff705d;
        background-color: #fff;
        font-weight: bold;
        font-size: 1.6rem;
      }
    }
    li:nth-child(3) {
      width: 40%;
      color: rgba(255, 112, 93, 0.5);
      text-align: left;
      &.active {
        color: #ff705d;
        background-color: #fff;
        font-weight: bold;
        font-size: 1.6rem;
      }
    }
  }
  .mainsubtab1 {
    font-family: "微软雅黑";
    li:nth-child(1) {
      width: 40%;
    }
    li:nth-child(2) {
      width: 20%;
      color: #47c6f5;
      text-align: center;
      font-weight: bold;
      font-size: 1.6rem;
      &.active {
        color: #ff705d;
        background-color: #fff;
        font-weight: bold;
        font-size: 1.6rem;
      }
    }
    li:nth-child(3) {
      width: 40%;
      color: rgba(255, 112, 93, 0.5);
      text-align: left;
      &.active {
        color: #ff705d;
        background-color: #fff;
        font-weight: bold;
        font-size: 1.6rem;
      }
    }
  }
  .mainsubtab2 {
    font-family: "微软雅黑";
    li:nth-child(1) {
      width: 40%;
      color: rgba(255, 112, 93, 0.5);
      text-align: right;
    }
    li:nth-child(2) {
      width: 20%;
      color: #ff705d;
      text-align: center;
      &.active {
        color: #ff705d;
        background-color: #fff;
        font-weight: bold;
        font-size: 1.6rem;
      }
    }
    li:nth-child(3) {
      width: 40%;
      color: rgba(255, 112, 93, 0.5);
      text-align: left;
      &.active {
        color: #47c6f5;
        background-color: #fff;
        font-weight: bold;
        font-size: 1.6rem;
      }
    }
  }
  .mainsubtab3 {
    font-family: "微软雅黑";
    li:nth-child(1) {
      width: 40%;
      color: rgba(255, 112, 93, 0.5);
      text-align: right;
    }
    li:nth-child(2) {
      width: 20%;
      color: #ff705d;
      text-align: center;
      font-weight: bold;
      font-size: 1.6rem;
      &.active {
        color: #ff705d;
        background-color: #fff;
        font-weight: bold;
        font-size: 1.6rem;
      }
    }
    li:nth-child(3) {
      width: 40%;
    }
  }
  .mainblue {
    border: 0.1rem solid #47c6f5;
    li {
      width: 1/2*100%;
      // border: 0.1rem solid #ddd;
      border-left: 0.1rem solid #47c6f5;
      color: #000;
      &.active {
        color: #fff;
        background-color: #47c6f5;
        border-top: 0.2rem solid #47c6f5;
        // box-shadow: 0rem -0.1rem 0.8rem #ddd;
      }
    }
  }
  .mainred {
    border: 0.1rem solid #ff705d;
    li {
      width: 1/2*100%;
      // border: 0.1rem solid #ddd;
      // border-left: 0.1rem solid #ff705d;
      color: #000;
      &.active {
        color: #fff !important;
        background-color: #ff705d;
        // border-top: 0.2rem solid #ff705d;
        // box-shadow: 0rem -0.1rem 0.8rem #ddd;
      }
    }
  }
  .mainorange1 {
    border: 0.1rem solid #fd8f3f;
    li {
      width: 1/2*100%;
      // border: 0.1rem solid #ddd;
      border-left: 0.1rem solid #fd8f3f;
      color: #000;
      &.active {
        color: #fff !important;
        background-color: #fd8f3f;
        // box-shadow: 0rem -0.1rem 0.8rem #ddd;
      }
    }
    li:nth-child(1) {
      border-right: 0.1rem solid #fd8f3f;
    }
  }
  .maingreen {
    border: 0.1rem solid #3cc3cc;
    li {
      width: 1/2*100%;
      // border: 0.1rem solid #ddd;
      border-left: 0.1rem solid #3cc3cc;
      color: #000;
      &.active {
        color: #fff;
        background-color: #3cc3cc;
        border-top: 0.2rem solid #3cc3cc;
        // box-shadow: 0rem -0.1rem 0.8rem #ddd;
      }
    }
  }
}
@media (min-width:320px) {
    .main{
      .about-list {
        ul{
          margin-bottom: 1.2rem;
          li{
            height: 8.5rem;
            img {
              margin-top: 1.9rem
            }
          }
        }
      }
      .project-name {
        .details{
          font-size: 1.3rem;
          margin-top: 3px;
        }
      }
      .project-show {
        .project-profit {
          font-size: 3.8rem;
        }
        .benefits {
          font-size: 1.2rem;
          margin-top: -3px;
        }
        .project-limit {
          .project-amounts,.project-date{
            margin-top: 1rem;
            p:nth-child(1){
              font-size: 1rem;
            }
          }
          .project-amounts {
            margin-right: 7rem;
            margin-left: -1rem;
            margin-top: 1.5rem;
            span{
              height:3rem;
              border-right: 1px solid #f5f2f2;
              top: 16px;
              right: -43px;
            }
          }
        }
      }
    }
 }
 @media (min-width:360px) {
    .main{
      .about-list {
        ul{
          margin-bottom: 1.2rem;
          li{
            height: 9.5rem;
            img {
              margin-top: 2.1rem
            }
            p {
              margin-top: .5rem;
            }
          }
        }
      }
      .project-name {
        font-size: 1.45rem;
        .details {
          font-size: 1.4rem
        }
      }
      .project-show {
        .project-profit {
          font-size: 4.2rem;
        }
        .benefits {
          font-size: 1.3rem;
          margin-top: -3px;
        }
      }
    }
 }
 @media (min-width:375px) {
    .main{
      .about-list {
        ul{
          margin-bottom: 1.2rem;
          li{
            height: 9.7rem;
            img {
              margin-top: 2.2rem;
            }
            p {
              margin-top: 0.3rem;
            }
          }
        }
      }
      .project-name {
        font-size: 1.48rem;
        .details {
          font-size: 1.4rem
        }
      }
      .project-show {
        .project-profit {
          font-size: 4.3rem;
        }
        .benefits {
          font-size: 1.3rem;
          margin-top: 0px;
        }
      }
    }
 }
 @media (min-width:411px) {
    .main{
      .about-list {
        ul{
          margin-bottom: 1.3rem;
          li{
            height: 10.5rem;
            img {
              margin-top: 2.4rem
            }
            p {
              margin-top: 0.5rem;
            }
          }
        }
      }
      .project-name {
        font-size: 1.5rem;
        .details {
          font-size: 1.4rem
        }
      }
      .project-show {
        .project-profit {
          font-size: 5rem;
        }
        .project-limit {
          .project-amounts,.project-date{
            margin-top: 1rem;
            p:nth-child(1){
              font-size: 1rem;
            }
          }
          .project-amounts {
            margin-right: 8rem;
            margin-left: -1rem;
            margin-top: 1.5rem;
            span{
              height:3rem;
              border-right: 1px solid #f5f2f2;
              top: 16px;
              right: -50px;
            }
          }
        }
      }
    }
 }
.main-list{
  background-color:#ebebed;
  margin-bottom:4rem;
 .main-list-temp {
    width: 100%;
    background-color: white;
    overflow: hidden;
    border-top: #dedede 1px solid;
    border-bottom: #dedede 1px solid;
    margin-bottom:1.2rem;
    padding: 0 2rem;
    .title {
      width: 100%;
      box-sizing: border-box;
      overflow: auto;
      border-bottom: 1px solid #f5f2f2;
      .height-line {
        border-left: 4px solid #fd8f3f;
        display: block;
        height: 20px;
        width: 5px;
        float: left;
        margin-top: 10px;
      }
      img {
        width: 30px;
        height: 30px;
        margin-top: 5px;
        vertical-align: middle;
        float: left;
      }
      .title-text {
        font-size: 1.5rem;
        color: #45484f;
        float: left;
        height: 32px;
        line-height: 32px;
        display: block;
        @media (max-width: 375px) {
          font-size:1.4rem;
        }
      }
      .title-status-orange {
        background-color: #fd8f3f;
        text-align: center;
      }
      .title-status-green {
        background-color: #40a03e;
      }
      .title-status-grey {
        text-align: center;
        background-color: #c6c6c6;
      }
    }
    .pro-info {
      width: 100%;
      overflow: hidden;
      //padding-top: 1rem;
      ul:first-child {
        margin-bottom: 0rem;
        padding-top: 1.5rem;
      }
      ul:last-child {
        margin-top: -1.5rem;
        font-size: 1.25rem;
        height: 3.4rem;
      }
      ul li {
        width: 32.3%;
        list-style: none;
        line-height: 3.5rem;
        //float: left;
        display: inline-block;
        text-align: center;

      }
      ul li:nth-child(1) {
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
        width: 34%;
        p:nth-child(1) {
          margin-bottom: 0.5rem;
          line-height: 4rem;
          font-size:2.5rem;
          padding-left:2.5rem;
        }
        p:nth-child(2) {
          margin-bottom: 0;
          font-size: 1.4rem;
          color: #9f9d9e;
          text-align: left;
          padding-left: 2.5rem;
          margin-top: -1rem;
          @media ( max-width : 375px ) {
            font-size: 1.4rem;
          }
        }
      }
      ul li:nth-child(2) {
        border-left: #e0dede 1px solid;
        border-right: #e0dede 1px solid;
        box-sizing: border-box;
        width: 33%;
        p{
          text-align:left;
          font-size: 2rem;
          color:#9f9e9d;
          margin-bottom: -0.1rem;
          @media ( max-width : 375px ) {
            font-size:1.4rem;
          }
          span{
            font-size:1.6rem;
            //color:#45484f;
            line-height:3.5rem;
            @media ( max-width : 375px ) {
              font-size:1.8rem;
            }
            @media ( max-width : 360px ) {
              font-size:1.8rem;
            }
            @media ( max-width : 320px ) {
              font-size:1.8rem;
            }
          }
        }
        p:nth-child(1) {
          padding-top:0rem;
        }
      }
      ul li:nth-child(3) {
        width: 30%;
        span{
          //color: #45484f;
          font-size:2rem;
          display: inline-block;
          //margin-left: 2rem;
        }
      }
      .pro-info2 {
        width: 100%;
        padding: 0 2.5rem;
        overflow: auto;
        .join-in{
          display:inline-block;
          width:10%;
          float:left;
          //margin-top: 1rem;
          margin-left:0.5rem;
          color:#9f9d9e;
          font-size:1.4rem
        }
        .process {
          position: relative;
          margin: 1rem 0 2rem;
          width: 85%;
          height: .1rem;
          background-color: #c6c6c6;
          border-radius: 3px;
          -webkit-border-radius: 3px;
          display:inline-block;
          float:left;
        }
        .process .progress-bar {
          width: 12%;
          border-radius: 3px;
          -webkit-border-radius: 3px;
          //background-color: #fd8f3f;
        }
        .process .processing {
          position: absolute;
          top: -16px;
          left: 3px;
          color: #000;
          font-size: 0.5rem;
        }
        .type-img {
          height: 0.1rem;
        }
        // .info1 {
        //   font-size: 1.4rem;
        //   .left,
        //   .right {
        //     span:nth-child(1) {
        //       color: #7a7a7a;
        //     }
        //     span:nth-child(2) {
        //       color: #fd8f3f;
        //     }
        //   }
        //   .left{
        //     width: 60%;
        //   }
        //   .right{
        //     width: 40%;
        //   }
        // }
      }
    }
    .operation-btn {
      width: 100%;
      overflow: auto;
      border-top: #e0dede 1px solid;
      padding: 1rem 2rem;
      margin-top: 1rem;
      button {
        width: 100%;
        margin-bottom: 0;
        font-family: "微软雅黑";
      }
      .button-grey{
        color: #fff;
        background-color: #c6c6c6;
        border-color: #c6c6c6;
      }
    }
    .status{
      width: 5.2rem;
      margin-top: 7px;
      //padding: 0 6px;
      height: 17px;
      line-height: 17px;
      font-size: 1.2rem;
      color: #ffffff;
      border-radius: 1rem;
      display: block;
      float: right;
    }
    //倒计时
    .count-down{
      color: #fd8f3f;
      display: inline-block;
      font-size: 1.4rem;
      position:relative;
      bottom:0.7rem;
      left: 19rem;
      margin-top: 0.5rem;
      @media (max-width: 375px) {
        left:17rem;
      }
      @media (max-width: 360px) {
        left:16.5rem;
      }
      @media (max-width: 320px) {
        left:14.5rem;
      }
    }
  }
}

.main-hongjinbao {
  width: 100%;
  color: white;
  font-size: 1.8rem;
  margin-top: -1.5rem;
  ul li {
    width: 33%;
    display: inline-block;
    float: left;
    background-color: #67E3EA;
    border-right: 0.1rem solid white;
    border-bottom: 0.1rem solid white;
    padding-top: 1rem;
    i {
      background-color: white;
      color: #67E3EA;
      width: 2.5rem;
      height: 2.5rem;
      line-height: 2.5rem;
      margin-bottom: 1rem;
    }
  }
  .progress-hongjinbao {
    background-color: #67E3EA;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    p {
      margin-bottom: 1rem;
      width: 100%;
      span {
        display: inline-block;
        width: 50%;
      }
    }
  }
}

.hongjinbao-list-detail {
  border-top: 1rem solid #f2f2f2;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  color: black;
  p {
    height: 4.5rem;
    line-height: 4.5rem;
    width: 100%;
    border-bottom: 0.1rem solid #f5f5f5;
    margin-bottom: 0;
    font-size: 1.6rem;
    span:nth-child(1) {
      display: inline-block;
      width: 40%;
      float: left;
      text-align: left;
    }
    span:nth-child(2) {
      display: inline-block;
      width: 60%;
      float: left;
      text-align: right;
    }
  }
}

.detail-more {
  border-top: 1rem solid #f2f2f2;
  height: 5rem;
  line-height: 4rem;
  text-align: center;
}

.more-info {
  p {
    margin-bottom: 1rem;
    padding-top: 1rem;
  }
  pre {
    // border-bottom: 0.1rem solid #f2f2f2;
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-bottom: 0;
    text-align: justify;
    white-space: initial;
    width: 100%;
    font-family: "微软雅黑";
    p{
      padding-top: 0 !important;
    }
  }
}

.left-tip {
  height: 17.2rem;
  line-height: 17.2rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
  -webkit-tap-highlight-color: transparent;
}

.right-tip {
  height: 17.2rem;
  line-height: 17.2rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  -webkit-tap-highlight-color: transparent;
}

.left-tip,
.right-tip:focus {
  outline: none !important;
  background-color: none !important;
  border: none !important;
  -webkit-tap-highlight-color: transparent;
}

.fa-angle-right-tip:before {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f105";
  font-size: 7rem;
}

.fa-angle-left-tip:before {
  content: "\f104";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 7rem;
}

.fa-tip-5x {
  font-size: 5em;
}

.fa-tip {
  display: inline-block;
  //font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}

.left-arrow {
  width: 1rem;
  height: 1rem;
  padding: 1rem;
  display: inline-block;
  border-left: 0.5rem solid #ff705d;
  border-top: 0.5rem solid #ff705d;
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  /* Internet Explorer */
  -moz-transform: rotate(-45deg);
  /* Firefox */
  -webkit-transform: rotate(-45deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(-45deg);
  /* Opera */
}

.right-arrow {
  width: 1rem;
  height: 1rem;
  padding: 1rem;
  display: inline-block;
  border-left: 0.5rem solid #ff705d;
  border-top: 0.5rem solid #ff705d;
  transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  /* Internet Explorer */
  -moz-transform: rotate(135deg);
  /* Firefox */
  -webkit-transform: rotate(135deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(135deg);
  /* Opera */
}
div, p {
    box-sizing: border-box;
}





#main-list-title {
  div {
    width: 49%;
  }
  a {
    display: block;
    text-align: center;
    height: 55px;
    line-height: 66px;
    font-size: 2rem;
    box-sizing: border-box;
    font-weight: normal;
  }
  a.title-border {
    border-bottom: .2rem solid #fd8f3f;
    box-sizing: border-box;
    color: #fd8f3f;
  }
  a:hover {
    color: #9F9DA9;
  }
}
