.main {
  .circle-rate {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    border: 0.1rem solid #ffa729;
    box-shadow: 0rem 0rem 1.5rem #ffe8c7 inset;
  }
  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
  }
  .nav-ul li {
    width: 50%
  }
}

