.funds-project {
  td {
    border: 0.1rem solid #e1e1e1;
    padding: 1rem 0.5rem;
  }
  td:first-child {
    color: #908f8f;
    text-align: center; 
  }
  .investForm {
    .investAmount {
      width: 60%;
      border: 0.1rem solid #666;
      border-radius: 0;
    }
    button {
      width: 35%;
      height: 32px;
      padding: 0;
      line-height: 32px;
      margin-left: 5%;
    }
  }
}