/*
*推荐-活动页面样式
*/

* {
  color: #fff;
  margin: 0;
  padding: 0;
}
ul,li,a,p,span {
  text-decoration: none;
  list-style: none;
}
.clearfix::after, .clearfix::before {
    content: ".";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
.recommend-layout {
  padding: 0;
  width: 100%;
  // height: 70em;
  min-height: 100%;
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
  // position: relative;
  background:url("../images/activity/bg-activity.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  .rcm-activity img:nth-child(1) {
  display: block;
  margin: 12px auto;
  width: 60%;
}

}
//天天送大奖活动详情

.rcm-activity p {
  // display: inline-block;
  // margin-top: 12px;
  font-size: 1em;
  color: #fff;
  position: absolute;
  right: 3.5em;
  top: 12px;
}
.rcm-activity .rec-icon {
  // font-size: 1em;
  width: 1em;
  height: 1em;
  top:1em;
  position: absolute;
  top: 18px;
  right: 2em;
}
//签到周期
.rec-sign{
  margin-top: -1.5em;
  margin-bottom: .8em;
}
.rec-sign span:nth-child(1){
  font-size: 1.2em;
  margin-left: 4em;
}
.rec-sign span:nth-child(2){
  font-size: 1em;
  margin-right: 4.5em;
}

.rec-sign-list {
  width: 70px;
  padding-top:22px;
  margin-left:-50%;
}
.rec-sign-list li {
width: 60px;
height: 75px;
background-color: #fff;

}






// 转盘
.rec-disk {
  display: block;
  width: 67%;
  margin:0 auto;

}

.rec-arrow-r {
  left: 16%;
  top: 42%;
  width: 12%;
}
.rec-disk-bottom {
  width: 100%;
  background: url("../images/activity/rec-disk-bottom.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
}
.rec-disk-bottom img{
  width: 100%;
  display: block;
  margin:-8.5% auto;

}
.rec-disk-bottom  p{
  width: 64%;
  left: 18%;
  font-size: 1.2em;
  margin-bottom: 0;
  text-align: center;

}

//其他活动
.rec-other-act{

}
.rec-other-act .rec-other-img{
   padding: 0 20px;

}
.rec-other-act p {

  margin-top: 69px;
  height: 44px;
  // line-height: 62px;
  margin-bottom: 0;
  padding-left: 2px;
}
.rec-other-act .rec-other-img img {
  display: block;
  width: 100%;
  padding:-2px;
  border: 2px solid #fff;
}
.rec-other-act .rec-other-img img:nth-child(1) {
  margin-bottom: 20px;
}



