.safe {
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: -2rem;
  margin:1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0 0 #C7C7C7;
  .item-style {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  .font-bule {
    color: #68A8F0;
    .font-sub-bule {
      font-size: 1.5rem;
      color: #fd8f3f;
    }
  }
  .border-bottom-safe {
    border-bottom: 0.1rem solid #F5F5F5;
  }
}

.font-sub-bule {
  font-size: 1.5rem;
  color: #fd8f3f;
}

.mainblue {
  border: 0.1rem solid #47c6f5;
  li {
    width: 1/2*100%;
    // border: 0.1rem solid #ddd;
    border-left: 0.1rem solid #47c6f5;
    color: #000;
    list-style: none;
    &.active {
      color: #fff;
      background-color: #47c6f5;
      border-top: 0.2rem solid #47c6f5;
      // box-shadow: 0rem -0.1rem 0.8rem #ddd;
    }
  }
}

.mainorange{
  // border: 0.1rem solid #fd8f3f;
  background-color: white;
  li {
    width: 1/2*100%;
    // border: 0.1rem solid #ddd;
    // border-left: 0.1rem solid #fd8f3f;
    color: #000;
    list-style: none;
    &.active {
      color: #fff;
      background-color: #fd8f3f;
      border-top: 0.2rem solid #fd8f3f;
      // box-shadow: 0rem -0.1rem 0.8rem #ddd;
    }
  }
}

.person{
  margin:1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0 0 #c7c7c7;
  img{
    border-radius: 50%;
    border-bottom: 2rem #c7c7c7;
  }
}
