.safe {
  background-color: #fff;
  padding-left: 1rem;
  margin-bottom: 1rem;
  .item-style {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  .font-bule {
    color: #68A8F0;
    .font-sub-bule {
      color: #A8BBD3;
    }
  }
  .border-bottom-safe {
    border-bottom: 0.1rem solid #F5F5F5;
  }
}
