.user-center {
  .account-tab1 {
    li {
      width: 50%;
    }
  }
  .account-bg {
    background-image: url(/images/user-center/account-bg.png);
    background-size: 100% 100%;
  }
  .credit {
    li.active {
      border-top: 0.2rem solid #6da9f3;
      color: #6da9f3;
      background-color: #fff;
    }
    .tab-content.active {
      display: block;
    }
    .credit-item-info {
      width: 1/3*100%;
    }
  }
} 
