<div class="u-full-width padding-l-2 padding-r-2">
  <table class="account-tab1 u-full-width margin-t-2 margin-0 ft-1p4">
    <tr>
      <td class="border-grey padding-0p5 ft-grey1">
        <span class="u-pull-left padding-l-0p5">可用余额&nbsp;</span>
        <span class="u-pull-left">
          <strong class="ft-orange">{{ userAccount.balance | number:2 }}</strong>
          &nbsp;元
        </span>
      </td>
      <td class="border-grey padding-0p5 ft-grey1">
        <span class="u-pull-left">冻结资金&nbsp;</span>
        <span class="u-pull-left">
          <strong class="ft-orange">{{ userAccount.freezeCapital | number:2 }}</strong>
          &nbsp;元
        </span>
      </td>
    </tr>
    <tr>
      <td class="border-grey padding-0p5 ft-grey1">
        <span class="u-pull-left padding-l-0p5">待收本金&nbsp;</span>
        <span class="u-pull-left">
          <strong class="ft-orange">{{ userAccount.waitingCapital | number:2 }}</strong>
          &nbsp;元
        </span>
      </td>
      <td class="border-grey padding-0p5 ft-grey1">
        <span class="u-pull-left">待收收益&nbsp;</span>
        <span class="u-pull-left">
          <strong class="ft-orange">{{ userAccount.waitingProfit  | number:2}}</strong>
          &nbsp;元
        </span></td>
    </tr>
    <tr ng-if="userAccount.reward">
      <td colspan="2" class="border-grey padding-0p5 ft-grey1">
        活动奖金 &nbsp;<span class="ft-orange">{{ userAccount.reward  | number:2}}</span>&nbsp;元
      </td>
    </tr>
  </table>
</div>
