<!-- 我的账户 -->
<div class="account-userInfo bg-white">
  <div>
    <div class=" margin-0 padding-1">您好，亲爱的&nbsp;<strong class="ft-orange">{{ hasLoggedUser.name }}</strong>&nbsp;<i class="fa fa-newspaper-o"></i>
      <span class="pull-right">基本资料></span></div>
    <div class="account-bg padding-t-3 padding-b-3 padding-l-3" style="position:relative;">
      <div class="padding-l-0p5">
      <span class="ft-black bg-white border-ra-20 padding-1 padding-t-0p5 padding-b-0p5">账户资产(元)</span>&nbsp;&nbsp;&nbsp;<span class="ft-white ft-2p5">{{ userAccount.tTotalAssets | number:2}}</span><span class="ft-white">&nbsp;元</span>
      </div>
      <div style="position:absolute;bottom:1rem;right:1rem;"><a class="ft-white" style="text-decoration:underline;" ui-sref="root.user-center.investments-stat">投资项目</a></div>
    </div>
    <!-- 已开通易宝时展示 账户资金详情-->
    <div ng-include src="'views/user-center/_account-assets-info.html'" ng-if="hasLoggedUser.securityStatus.trusteeshipAccountStatus !== 0">
    </div>
  </div>
  <!-- 体验金 -->
  <div class="padding-0p5 bg-experience margin-2">
    <div class="text-center padding-l-9">
      <p class="margin-b-0 margin-t-1">体验金</p>
      <p class="ft-orange margin-b-1">￥<span class="ft-2p5">5000</span></p>
    </div>
  </div>
  <!-- 加息券 -->
  <div class="padding-0p5 bg-ratemoney margin-2 clear">
    <div class="text-center padding-l-9 clear">
      <p class="margin-b-0 margin-t-1">加息券</p>
      <p class="margin-b-1 rate-span"><span></span><span>+0.5%</span> <span>1张</span></p>
      <p class="margin-b-1 rate-span"><span></span><span>+1%</span> <span>2张</span></p>
    </div>
  </div>
  <!-- 已开通易宝时展示 充值/提现提示 !==0-->
  <div class="padding-l-2 padding-r-2 text-center overflow-hid margin-t-2 margin-b-7" ng-if="hasLoggedUser.securityStatus.trusteeshipAccountStatus !== 0">
    <button class="margin-0 half u-pull-left button btn-orange-border" ng-click="!timeout || goWithdraw()">提现</button>
    <button class="margin-0 half u-pull-right button button-primary" ng-click="!timeout || goRecharge()">充值</button>
  </div>
  <!-- 尚未开通易宝提示 ===0  -->
  <div ng-include src="'views/yeepayless-hint.html'" ng-if="hasLoggedUser.securityStatus.trusteeshipAccountStatus === 0" class=" margin-b-7">
  </div>
  <!-- 细分页面入口 -->
  <div class="overflow-hid padding-t-2 padding-b-2">
    <!-- <a class="column border-grey padding-l-2 padding-r-2 padding-t-0p5 padding-b-0p5" ui-sref="root.user-center.info">
      <span class="u-pull-left ft-grey"><i class="fa fa-info-circle ft-blue ft-1p8">&nbsp;&nbsp;</i>基本资料</span>
      <span class="u-pull-right"><i class="fa fa-chevron-right ft-grey2 ft-2"></i></span>
    </a>
    <a class="column border-grey border-top-none padding-l-2 padding-r-2 padding-t-0p5 padding-b-0p5 margin-0" ui-sref="root.user-center.bankcard">
      <span class="u-pull-left ft-grey"><i class="fa fa-credit-card ft-blue ft-1p8">&nbsp;&nbsp;</i>银行卡管理</span>
      <span class="u-pull-right"><i class="fa fa-chevron-right ft-grey2 ft-2"></i></span>
    </a> -->
    <!-- <a class="column border-grey border-top-none padding-l-2 padding-r-2 padding-t-0p5 padding-b-0p5 margin-0" ui-sref="root.user-center.deals">
      <span class="u-pull-left ft-grey"><i class="fa fa-list-ul ft-blue ft-1p8">&nbsp;&nbsp;</i>交易记录</span>
      <span class="u-pull-right"><i class="fa fa-chevron-right ft-grey2"></i></span>
    </a> -->
  </div>
</div>
