<!-- 我的账户 -->
<div class="account-userInfo bg-accountcolor padding-b-7">
  <div>
    <div class=" margin-0 padding-1">您好，亲爱的&nbsp;<strong class="ft-orange">{{ hasLoggedUser.nickName || (hasLoggedUser.mobile || hasLoggedUser.name) }}</strong>&nbsp;<i class="fa fa-newspaper-o"></i>
      <span class="pull-right" ui-sref="root.userCenter.setting">基本资料></span></div>
    <div class="padding-2 position-re bg-orange">
      <div class="money-info">
        <p>账户总资产：</p>
        <p>￥<strong class="ft-3">{{ userAccount.tTotalAssets | number:2}}</strong>元</p>
      </div>
      <div class="touzi-product"><a class="ft-white" ui-sref="root.userCenter.investments-stat">我的投资&nbsp;<i class="fa fa-angle-right"></i></a></div>
    </div>
    <!-- 已开通易宝时展示 账户资金详情-->
    <div ng-include src="'views/user-center/_account-assets-info.html'" class="margin-b-1">
    </div>
  </div>
  <!-- 未开通易宝 ng-if="securityStatus.trusteeshipAccountStatus !== 1"-->
  <div class="padding-l-1 padding-r-1 margin-t-1" ng-if="securityStatus.trusteeshipAccountStatus !== 1">
    <button class="margin-0 margin-t-0p5 button button-primary button-shadwo ft-1p5" ng-click="openYeepay()" style="width:100%">立即开通托管账户</button>
    <div class="grade-owner">
      <p class="title">我的奖励</p>
      <div class="account-panel">
        <div class="icon"><img src="/images/user-center/balance5.png" alt=""></div>
        <div class="title-text">我的体验金</div>
        <div class="more" ng-click="viewMore(0)">查看记录<i class="fa fa-chevron-right ft-97 margin-l-1"></i></div>
      </div>
      <div class="left-to-right">
        <span><strong class="ft-orange">{{userAccount.experienceAmount | number:0}}</strong>
        &nbsp;元</span>
        <span ng-click="quickInvest()">快速投资</span>
      </div>
      <hr>
      <div class="account-panel border-none">
        <div class="icon"><img src="/images/user-center/balance6.png" alt=""></div>
        <div class="title-text">我的加息券<sup class="green-sup">{{couponStatis.couponCount || 0}}</sup></div>
        <div class="more" ng-click="viewMore(1)">查看所有加息券<i class="fa fa-chevron-right ft-97 margin-l-1"></i></div>
      </div>
      <hr>
      <div class="account-panel border-none">
        <div class="icon"><img src="/images/user-center/invite.png" alt=""></div>
        <div class="title-text">我的邀请<sup class="green-sup">{{inviteNum || 0}}</sup></div>
        <div class="more" ng-click="viewMore(2)">查看所有邀请人<i class="fa fa-chevron-right ft-97 margin-l-1"></i></div>
      </div>
    </div>
  </div>
  <!-- 已开通易宝时展示 充值/提现提示 !==0  ng-if="securityStatus.trusteeshipAccountStatus === 1"-->
  <div class="padding-l-1 padding-r-1 margin-t-1" ng-if="securityStatus.trusteeshipAccountStatus === 1">
    <div class="padding-l-1 padding-r-1 text-center overflow-hid margin-t-1 margin-b-1">
      <button class="margin-0 margin-t-0p5 half u-pull-left button btn-orange-border bg-white" style="background:white;" ng-click="!timeout || goWithdraw()">提现</button>
      <button class="margin-0 margin-t-0p5 half u-pull-right button button-primary" ng-click="!timeout || goRecharge()">充值</button>
    </div>
    <div class="grade-owner">
      <p class="title">我的奖励</p>
      <div class="account-panel">
        <div class="icon"><img src="/images/user-center/balance5.png" alt=""></div>
        <div class="title-text">我的体验金</div>
        <div class="more" ng-click="viewMore(0)">查看记录<i class="fa fa-chevron-right ft-97 margin-l-1"></i></div>
      </div>
      <div class="left-to-right">
        <span><strong class="ft-orange">{{userAccount.experienceAmount | number:0}}</strong>
        &nbsp;元</span>
        <!-- ng-click="quickInvest()" -->
        <span ng-click="quickInvest()">快速投资</span>
      </div>
      <hr>
      <div class="account-panel border-none">
        <div class="icon"><img src="/images/user-center/balance6.png" alt=""></div>
        <div class="title-text">我的加息券<sup class="green-sup">{{couponStatis.couponCount || 0}}</sup></div>
        <div class="more" ng-click="viewMore(1)">查看所有加息券<i class="fa fa-chevron-right ft-97 margin-l-1"></i></div>
      </div>
      <hr>
      <div class="account-panel border-none">
        <div class="icon"><img src="/images/user-center/invite.png" alt=""></div>
        <div class="title-text">我的邀请<sup class="green-sup">{{inviteNum || 0}}</sup></div>
        <div class="more" ng-click="viewMore(2)">查看所有邀请人<i class="fa fa-chevron-right ft-97 margin-l-1"></i></div>
      </div>
    </div>
    <!-- 体验金 -->
  </div>
  <!-- 尚未开通易宝提示 -->
  <!-- 细分页面入口 -->
</div>
<!-- 实名认证 toRealNameAuth-->
<div ng-include src="'views/user-center/realname-auth.html'" ng-show="toRealNameAuth">
</div>
