<div class="project-mask" ng-show="showActivateTip">
  <div class="activate-mask" >
    <div class="ft-white text-center position-re activate-head">
      <p class="position-ab close" ng-click="cancel()"></p>
      <p class="ft-bold margin-b-0">北京网贷风险监控及资金存管系统</p>
    </div>
    <div class="text-center margin-t-0p8">
      <img src="/images/user-center/activate-words.png" width="72%">
    </div>
    <div class="text-center ft-white margin-t-1p3 margin-b-2 activate-tip">
      <p class="margin-b-0">您的账户已经升级为北京网贷资金存管账户，</p>
      <p class="margin-b-0">请点击按钮立即进行账户迁移，尽享安全理财。</p>
    </div>
    <div class="activate-btn text-center clearfix">
      <button class="btn-primary ft-orange border-orange fl ft-normal">了解存管通</button>
      <button class="btn btn-primary ft-white bg-orange border-orange fr ft-normal">立即迁移</button>
    </div>
  </div>
</div>
