<!-- 转让详情 -->
<div class="assignmentList-details margin-b-4">
  <!-- 转让信息 -->
  <div class="content border-grey-bottom">
    <div class="column">
      <div class="txt-left fl">转让金额</div>
      <div class="txt-right fr">
        <span>15000.00</span><span class="ft-grey7 ft-1p3">元</span>
      </div>
    </div>
    <div class="column">
      <div class="txt-left fl">转让利率</div>
      <div class="txt-right fr">
        <span>13.5</span><span class="ft-grey7 ft-1p3">％</span>
      </div>
    </div>
    <div class="column">
      <div class="txt-left fl">已转让金额</div>
      <div class="txt-right fr">
        <span>300000.00</span><span class="ft-grey7 ft-1p3">元</span>
      </div>
    </div>
    <div class="column border-none">
      <div class="txt-left fl">转让收入</div>
      <div class="txt-right fr">
        <span>300089.15</span><span class="ft-grey7 ft-1p3">元</span>
      </div>
    </div>
  </div>
  <!-- 债权转让记录 -->
  <div class="content border-grey-top margin-t-1p2">
    <div class="column">
      <div class="txt-left fl">债权转让记录</div>
      <div class="txt-right fr">
        <i class="angle-down fa fa-angle-down"></i>
      </div>
    </div>
  </div>
  <!-- 转让纪录 -->
  <div class="assignmentList border-grey-top border-grey-bottom">
      <div class="row">
        <div class="col-md-2">受 让 人</div>
        <div class="col-md-4">转让本金(元)</div>
        <div class="col-md-4">转让时间</div>
      </div>
      <div class="row">
        <div class="col-md-2">王小二的王</div>
        <div class="col-md-4">1500.00</div>
        <div class="col-md-4">2016－11－15</div>
      </div>
  </div>
  <!-- 撤销转让 -->
  <div class="content border-grey-bottom">
    <div class="column border-none">
      <div class="txt-left fl">撤销转让</div>
      <div class="txt-right fr">
        <i class="angle-down fa fa-angle-down"></i>
      </div>
    </div>
  </div>
  <div class="cancelAssignment">
    <p>王小已转让债权份额9000元，未转让债权份额11000元，是否确认撤销？</p>
    <button type="button">撤销转让</button>
  </div>
</div>
