<div class="credit bg-white" ng-init="toggle.activeTab=0;" >
  <h6 class="border-grey text-center padding-t-0p5 padding-b-0p5 margin-0"><strong>我的债权</strong></h6>
  <div class="u-full-width bg-blue2 text-center padding-1 border-grey2-bottom">累计收益：<strong class="ft-blue">{{'17.26'}}</strong>元</div>
  <ul class="account-tab1 nav-ul columns bg-white overflow-hid margin-0">
    <li class="column text-center margin-0 padding-t-0p5 padding-b-0p5" ng-class="{active: toggle.activeTab===$index}" ng-repeat="tab in tabs" ng-click="toggle.switchTab($index)">{{tab.title}}</li>
  </ul>
  <div class="tab-content u-full-width bg-white overflow-hid text-center" ng-class="{active: toggle.activeTab===$index}" ng-repeat="tab in tabs" >
    <div ng-repeat="item in credits.data" ng-include src='"views/user-center/_credit-detail.html"'>
    </div>
    <div class="text-center" ng-show="credits.data.length > 10">
      <p><a ng-click="loadCreditMore();" style="cursor:pointer;"> <i class="fa fa-list"></i>&nbsp 查看更多债权信息...</a></p>
    </div>
  </div>
</div>

<div class="row text-center margin-t-5" ng-hide="credits">
  <img src="images/user-center/deal-list.png" width="50%">
  <p class="padding-2-t">亲，您还没有产生债权信息...</p>
  <input type="button" class="half margin-0 padding-t-0p5 padding-b-0p5 bg-blue3 ft-white ft-1p8 button button-primary margin-b-2" ui-sref="root.main" value="浏览理财产品">
</div>
