<div class="credit bg-white margin-b-7" ng-init="toggle.activeTab=0;">
  <div class=" margin-0 padding-1 bg-white">您好，尊敬的&nbsp;<strong class="ft-orange">{{ hasLoggedUser.name }} </strong>&nbsp;<i class="fa fa-newspaper-o"></i>
    <span class="pull-right" ui-sref="root.userCenter.setting">基本资料></span>
  </div>
  <div class="u-full-width bg-orange text-center padding-3 ft-white"><span class="ft-1p5">累计收益：</span><strong class="ft-white ft-2p5" style="font-weight:bolder;">{{totalProfit.totalProfit || 0}}</strong>&nbsp;元</div>
  <ul class="account-tab1 nav-ul columns bg-white overflow-hid margin-0">
    <li class="column text-center margin-0 padding-t-0p5 padding-b-0p5" ng-class="{active: toggle.activeTab===$index}" ng-repeat="tab in tabs" ng-click="toggle.switchTab($index)" my-click-once>{{tab.title}}({{$index ===0 ? heldingCount : endProfitCount}})</li>
  </ul>
  <div class="tab-content u-full-width bg-white overflow-hid text-center" ng-class="{active: toggle.activeTab===$index}" ng-repeat="tab in tabs" ng-show="credits">
    <div ng-repeat="item in credits" ng-include src='"views/user-center/_credit-detail.html"'>
    </div>
    <div class="text-center" ng-show="!loading && totalPage > page">
      <p><i class="fa fa-list-ul ft-orange"></i>&nbsp;<a ng-click="loadCreditMore();" style="cursor:pointer;color:black;">查看更多投资信息</a></p>
    </div>
  </div>
  <div class="row text-center margin-t-5 padding-l-1 padding-r-1" ng-show="!loading && credits.length <= 0">
    <img src="images/user-center/deal-list.png" width="35%">
    <p class="padding-2-t margin-t-2">亲，您尚未在宏财网购买过产品...</p>
    <button type="button" class="u-full-width ft-1p8 button button-primary" ui-sref="root.main">浏览理财产品</button>
  </div>
<style> .ng-cloak { display: none !important; } </style>
