<div class="deal bg-white margin-b-7">
  <h6 class="border-grey text-center padding-t-0p5 padding-b-0p5 margin-0"><strong>资金流水</strong></h6>
  <div class="row text-center margin-t-5" ng-hide="deals">
    <img src="images/user-center/deal-list.png" width="50%">
    <p class="padding-2-t">亲，您还没有产生任何交易呢...</p>
    <input type="button" class="half margin-0 padding-t-0p5 padding-b-0p5 bg-blue3 ft-white ft-1p8 button button-primary" ui-sref="root.main" value="浏览理财产品">
  </div>
  <div class="padding-t-2 padding-b-2" ng-show="deals.length > 0">
    <table class="u-full-width">
      <thead class="bg-orange2">
        <th class="ft-grey4">时间</th>
        <th class="ft-grey4">类型</th>
        <!-- <th class="ft-grey3">收支描述</th> -->
        <!-- <th class="ft-grey4">收入(元)</th> -->
        <th class="ft-grey4">金额(元)</th>
        <th class="ft-grey4">账户余额(元)</th>
      </thead>
      <tbody>
        <div >
          <tr ng-repeat="item in deals">
            <td>{{item.createTime | date: 'yy-MM-dd'}}</td>
            <td>{{ dealMap[item.type] }}</td>
            <!-- <td><strong class="ft-orange">{{ item.description }}</strong></td> -->
            <!-- <td class="ft-orange">{{item.getAmount |currency:"":1 || 0}}</td> -->
            <td class="ft-orange"><span ng-show="item.getAmount > 0">+</span><span ng-show="item.payAmount > 0">-</span>{{item.amount |currency:"":2 || 0}}</td>
            <td><strong class="ft-orange">{{item.balance |currency:"":2 || 0}}</strong></td>
          </tr>
        </div>
      </tbody>
    </table>
    <div class="text-center bg-white" ng-show="totalPage > page">
      <p class="margin-b-0"><i class="fa fa-list-ul ft-orange"></i>&nbsp;<a ng-click="loadDealMuch();" style="cursor:pointer;color:black;">查看更多交易记录</a></p>
    </div>
  </div>
</div>
