<!-- 我得体验金点击进入的页面 -->
<div class="margin-b-4" auto-height>
  <div>
    <!-- header -->
    <div class="experience-header padding-l-2 padding-r-2 ft-white">
      <div class="fl">
        <p class="">体验金金额(元)</p>
        <p class="margin-b-0">{{account.experienceAmount || 0.00}}</p>
      </div>
      <div class="fr">
        <button class="btn" ng-click="quickInvest()" ng-disabled="account.experienceAmount <= 100">立即投资</button>
      </div>
    </div>
  </div>
  <!-- 使用记录 -->
  <div class="padding-1">
    <div class="tiyanjin-tab">
      <div class="use-list-title">使用记录</div>
      <div class="use-list-head">
        <div class="list-cell">日期</div>
        <div class="list-cell">金额</div>
        <div class="list-cell">收益</div>
      </div>
      <div>
        <div class="use-list-head" ng-repeat="item in datas">
          <div class="list-cell">{{item.createTime | date:'yyyy-MM-dd'}}</div>
          <div class="list-cell">{{item.amount | number:0}}元</div>
          <div class="list-cell ft-orange">{{item.profit | number:2}}元</div>
        </div>
      </div>
    </div>
    <div class="margin-t-2 text-center" ng-click="loadMuch()" ng-show="totalPage > page"><i class="fa fa-list-ul ft-orange"></i>&nbsp;
      <span class="cursor-hand ft-black2 text-line">查看更多使用记录</span>
    </div>
  </div>
</div>

