<div class="grade" ng-init="toggle.activeTab=0;">
  <div class="bg-offWhite overflow-hid">
    <ul class="grade-tab1 columns ten offset-by-one margin-b-0">
      <li class="column text-center margin-0 padding-t-1 padding-b-1" ng-class="{in: toggle.activeTab===$index}" ng-repeat="tab in tabs" ng-click="toggle.switchTab($index)">{{tab.title}}</li>
    </ul>
  </div>
  <!-- 要展示的内容如下 -->
  <div class="tab-content columns twelve bg-offWhite overflow-hid padding-b-2 text-center " ng-class="{active: toggle.activeTab===$index}" ng-repeat="tab in tabs">
    <section ng-if="tab.title==='体验金'" class="">
      <div class="padding-1 minHeight">
       <div class="tiyanjin-tab">
        <div class="use-list-title">使用记录</div>
        <div class="use-list-head">
        	<div class="list-cell">日期</div>
        	<div class="list-cell">金额</div>
        	<div class="list-cell">收益</div>
        </div>
        <div class="use-list-head">
        	<div class="list-cell">2015-03-09</div>
        	<div class="list-cell">1500元</div>
        	<div class="list-cell ft-orange">1.57元</div>
        </div>
        <div class="use-list-head">
        	<div class="list-cell">2015-03-09</div>
        	<div class="list-cell">1500元</div>
        	<div class="list-cell ft-orange">1.57元</div>
        </div><div class="use-list-head">
        	<div class="list-cell">2015-03-09</div>
        	<div class="list-cell">1500元</div>
        	<div class="list-cell ft-orange">1.57元</div>
        </div>
       </div>
       <div class="margin-t-2"><i class="fa fa-list-ul ft-orange"></i>&nbsp;<span class="cursor-hand ft-black2 text-line">查看更多使用记录</span></div>
      </div>
    </section>
    <section class="" ng-if="tab.title==='加息券'">
	    <div class="padding-t-0p5 bg-white padding-b-0p5 overflow-aut">
		    <ul class="grade-tab2 columns ten offset-by-one margin-b-0">
		      <li class="column text-center margin-0" ng-class="{insub: toggle.activesubTab===$index}" ng-repeat="tabitem in subtabs" ng-click="toggle.switchsubTab($index)">{{tabitem.titles}}</li>
		    </ul>
	    </div>
	    <div ng-class="{'ng-hide': toggle.activesubTab!==$index}" ng-repeat="item in subtabs">
		    <div ng-if="item.titles ==='未使用'" class="jiaxiquan-tab minHeight">
		    	<div class="margin-t-1 outer-panel">
		    		<img src="/images/new/rate.png">
		    		<div class="inner-panel-left">
		    			<p class="top-margin">活动奖励</p>
		    			<p class="margin-b-0"><strong class="ft-4">0.5</strong>%</p>
		    		</div>
		    		<div class="inner-panel-center">
		    			<p class="margin-b-0 padding-l-1">•适用于所有项目</p>
		    			<p class="padding-l-1 middle-margin">•投资即可使用</p>
		    			<p class="margin-b-0 padding-l-1">•有效期至2016-05-06</p>
		    		</div>
		    		<div class="inner-panel-right">
		    			<span>立</span>
		    			<span>即</span>
		    			<span>使</span>
		    			<span>用</span>
		    		</div>
		    	</div>
		    	<div class="margin-t-1 outer-panel">
		    		<img src="/images/new/rate.png">
		    		<div class="inner-panel-left">
		    			<p class="top-margin">活动奖励</p>
		    			<p class="margin-b-0"><strong class="ft-4">0.5</strong>%</p>
		    		</div>
		    		<div class="inner-panel-center">
		    			<p class="margin-b-0 padding-l-1">•适用于所有项目</p>
		    			<p class="padding-l-1 middle-margin">•投资即可使用</p>
		    			<p class="margin-b-0 padding-l-1">•有效期至2016-05-06</p>
		    		</div>
		    		<div class="inner-panel-right">
		    			<span>立</span>
		    			<span>即</span>
		    			<span>使</span>
		    			<span>用</span>
		    		</div>
		    	</div>
		    	<div class="margin-t-2"><i class="fa fa-list-ul ft-orange"></i>&nbsp;<span class="cursor-hand ft-black2 text-line">查看更多使用记录</span></div>
		    </div>
		    <div  ng-if="item.titles ==='已使用'" class="jiaxiquan-tab minHeight">
		    	<div class="margin-t-1 outer-panel">
		    		<img src="/images/new/rate.png">
		    		<div class="inner-panel-left">
		    			<p class="top-margin">活动奖励</p>
		    			<p class="margin-b-0"><strong class="ft-4">0.5</strong>%</p>
		    		</div>
		    		<div class="inner-model-center">
		    			<p class="model-margin ft-orange">收益：1.57元</p>
		    			<p class="margin-b-0">使用日期(2016-05-06)</p>
		    		</div>
		    		<div class="inner-model-right">
		    			<img src="/images/new/used.png" alt="">
		    		</div>
		    	</div>
		    </div>
	    </div>
    </section>
    <section ng-if="tab.title==='邀请'" class="">
      <div>
				邀请
      </div>
    </section>
  </div>
</div>