<h4>基本资料</h4>
<hr>
<div>
  <table class="u-full-width">
    <tr>
      <td>用户名</td>
      <td>{{'ccccc'}}</td>
      <td>{{'已设置'}}</td>
    </tr>
    <tr>
      <td>登录密码</td>
      <td>{{'ccccc'}}</td>
      <td>{{'已设置'}}</td>
    </tr>
    <tr>
      <td>第三方托管账户</td>
      <td>{{'保证您的资金安全'}}</td>
      <td>{{'未开通'}}</td>
    </tr>
    <tr>
      <td colspan="3">
        <form name="registerYeepayForm" class="margin-0 padding-b-2 padding-t-1 ft-grey" autocomplete="on" ng-submit="signUpYeepay(user);">
          <p class="margin-0 border-grey border-ra-0p5 margin-b-1p5" ng-class="{'border-red':registerForm.mobile.$dirty && registerForm.mobile.$invalid && !registerForm.mobile.$blur}">
            <label for="mobilesignup"><small>手机号码</small>
            </label>
            <input id="mobilesignup" name="mobile" ensure-unique ng-model="user.mobile" ng-pattern="/^((13[0-9])|(15[^4,\D])|(18[0-9])|(17[0678])|(14[0-9]))\d{8}$/" type="tel" placeholder="11位长度手机号码" required/>
          </p>
          <p class="ft-red" ng-if="registerForm.mobile.$dirty && registerForm.mobile.$invalid && !registerForm.mobile.$focused">
            <small ng-if="registerForm.mobile.$error.unique">手机号码已被占用</small>
            <small ng-if="registerForm.mobile.$error.pattern">手机号码格式不正确</small>
          </p>
          <p class="margin-0 border-grey border-ra-0p5 margin-b-1" ng-class="{'border-red':registerYeepayForm.email.$dirty && registerYeepayForm.email.$invalid && !registerYeepayForm.email.$blur}">
              <label for="emailsignup"><small> 邮箱</small></label>
              <input id="emailsignup" name="email" ensure-unique ng-model="user.email" required="required" type="email" ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/" placeholder="请输入您的常用邮箱" ng-focus/>
          </p>
          <p ng-if="registerYeepayForm.email.$dirty && registerYeepayForm.email.$invalid && !registerYeepayForm.email.$blur" class="text-center ft-red">
              <small ng-if="registerYeepayForm.email.$error.unique" class="input-tips regist-input-tips">邮箱已经存在</small>
              <small ng-if="registerYeepayForm.email.$error.pattern" class="input-tips regist-input-tips">邮箱格式不正确</small>
              <small ng-if="registerYeepayForm.email.$error.required" class="input-tips regist-input-tips">请填写邮箱</small>
          </p>
          <p class="margin-0 border-grey border-ra-0p5 margin-b-1p5">
              <label for="realnamesignup"><small>真实姓名</small></label>
              <input id="realnamesignup" name="realnamesignup" ng-model="user.realName" required="required" type="text" placeholder="请输入身份证上的姓名"/>
          </p>
          <p class="margin-0 border-grey border-ra-0p5 margin-b-1p5" ng-class="{'border-red':registerYeepayForm.IDcardsignup.$dirty && registerYeepayForm.$invalid && !registerYeepayForm.IDcardsignup.$focused && registerYeepayForm.$error.pattern}">
              <label for="IDcardsignup"><small>身份证</small></label>
              <input id="IDcardsignup" type="text" name="IDcardsignup" ng-model="user.idCardNo" required="required"  ng-pattern="/^([0-9]{17}[0-9xX]{1})$|^([0-9]{15})$/" placeholder="请输入身份证上的号码" ng-focus/>
          </p>
          <p ng-if="registerYeepayForm.IDcardsignup.$dirty && registerYeepayForm.$invalid && !registerYeepayForm.IDcardsignup.$focused && registerYeepayForm.$error.pattern" class="text-center ft-red"><small>输入的身份证号码格式不正确</small></p>
          <p class="signin margin-0 text-center padding-t-1">
              <!-- <input type="submit" class="button button-primary column" value="开通易宝资金托管账户"/> -->
              <input type="submit" class="button button-primary column {{registerYeepayForm.$invalid ? 'button-disabled' : ''}}" ng-disabled="registerYeepayForm.$invalid" value="开通易宝资金托管账户"/>
          </p>
        </form>
      </td>
    </tr>
    <tr>
      <td>自动投标权限</td>
      <td>方便您续投、预约项目</td>
      <td>已开通</td>
    </tr>
  </table>
</div>
<div>
  <h6>温馨提示：</h6>
  <p>—暂时不提供手机号码的修改服务，请联系客服<strong>400-990-7626</strong>进行修改。</p>
  <p>—手机版暂不支持自动投标权限的开通，请登录电脑版开通。</p>
</div>
