<h3>This is info views</h3>
<ul>
  <li>
    <a ui-sref="root.user-center.account">账户余额</a>
  </li>
  <li>
    <a ui-sref="root.user-center.info">账户信息</a>
  </li>
  <li>
    <a ui-sref="root.user-center.investments-stat">投资统计</a>
  </li>
  <li>
    <a ui-sref="root.user-center.credits">我的债券</a>
  </li>
  <li>
    <a ui-sref="root.user-center.orders">我的订单</a>
  </li>
  <li>
    <a ui-sref="root.user-center.recharge">充值</a>
  </li>
  <li>
    <a ui-sref="root.user-center.withdraw">提现</a>
  </li>
  <li>
    <a ui-sref="root.user-center.bankcard">银行卡管理</a>
  </li>
  <li>
    <a ui-sref="root.user-center.messages">站内消息</a>
  </li>
  <li>
    <a ui-sref="root.user-center.deals">交易记录</a>
  </li>
</ul>
