<!-- 我的投资 -->
<div class="investment bg-white overflow-hid">
  <div>
    <div class="border-blue margin-0 text-center bg-blue2 padding-1">您好，亲爱的&nbsp;<strong class="ft-blue">{{ hasLoggedUser.name }}</strong>&nbsp;!</div>
    <div class="investments-stat-bg padding-3 padding-l-4">
      <span class="ft-blue bg-white border-ra-20 padding-1 padding-t-0p2 padding-b-0p2">累计投资项目</span>&nbsp;&nbsp;&nbsp;<strong class="ft-white">{{ investmentsStat.totalInvestCount }}</strong><span class="ft-white">&nbsp;个</span>
    </div>
    <!-- 已开通易宝时展示 投资项目状态详情-->
    <div ng-include src="'views/user-center/_investments-stat-info.html'" ng-if="hasLoggedUser.securityStatus.trusteeshipAccountStatus !== 0">
    </div>
  </div>
  <!-- 未支付订单提示 -->
  <div class="text-center padding-l-2 padding-r-2 padding-t-1 padding-b-1 border-orange ft-grey1 margin-t-2 overflow-hid bg-yellow1" ng-if="investmentsStat.notPayOrder">
    <i class="fa fa-exclamation-triangle ft-grey2 u-pull-left ft-2p5 margin-t-1"></i>
    <small class="u-pull-left">您有订单尚未支付<br>(5分钟后失效)</small>
    <button class="u-pull-right margin-0 margin-t-0p5 bg-yellow ft-white border-none ft-1p5 half" ng-click="toInvest(investmentsStat.notPayOrder);">立即支付</button>
  </div>

  <!-- 尚未开通易宝提示 -->
  <div ng-include src="'views/yeepayless-hint.html'" ng-if="hasLoggedUser.securityStatus.trusteeshipAccountStatus === 0">
  </div>

  <!-- 细分页面入口 -->
  <div class="overflow-hid padding-t-2 padding-b-2">
    <a class="column border-grey padding-l-2 padding-r-2 padding-t-0p5 padding-b-0p5" ui-sref="root.user-center.credits">
      <span class="u-pull-left ft-grey"><i class="fa fa-money ft-blue ft-1p8">&nbsp;&nbsp;</i>我的债权</span>
      <span class="u-pull-right ft-grey2">
        <small><strong class="ft-orange">{{ investmentsStat.heldingCount }}</strong>个回款中</small>
        <i class="fa fa-chevron-right"></i>
      </span>
    </a>
    <a class="column border-grey border-top-none padding-l-2 padding-r-2 padding-t-0p5 padding-b-0p5 margin-0" ui-sref="root.user-center.orders">
      <span class="u-pull-left ft-grey"><i class="fa fa-list-alt  ft-blue ft-1p8">&nbsp;&nbsp;</i>我的订单</span>
      <span class="u-pull-right ft-grey2">
        <small ng-if="investmentsStat.notPayOrder"><strong class="ft-orange">1</strong>个未支付</small>
        <i class="fa fa-chevron-right"></i>
      </span>
    </a>
    <a class="column border-grey border-top-none padding-l-2 padding-r-2 padding-t-0p5 padding-b-0p5 margin-0" ui-sref="root.user-center.payment-collection">
      <span class="u-pull-left ft-grey"><i class="fa fa-clock-o ft-blue ft-1p8">&nbsp;&nbsp;</i>回款计划</span>
      <span class="u-pull-right ft-grey2">
        <small>本月<strong class="ft-orange">{{'2'}}</strong>笔待回款</small>
        <i class="fa fa-chevron-right"></i>
      </span>
    </a>
  </div>
</div>
