<!-- 我的投资 -->
<div class="investment">
  <div>
    <p class="border-grey margin-0 text-center">尊敬的{{"fjfjf"}}<br>&nbsp;&nbsp;您累计投资项目{{"6"}}个</p>
    <ul class="account-tab1 nav-ul overflow-hid">
      <li class="column border-grey text-center margin-0 padding-t-0p5 padding-b-0p5">回款中项目： {{'5'}}个</li>
      <li class="column border-grey text-center margin-0 padding-t-0p5 padding-b-0p5">已结清项目： {{'5'}}个</li>
    </ul>
  </div>

  <div class="margin-t-0p5 margin-b-0p5">
    <div>您有订单尚未支付（5分钟后失效）<button>立即支付</button></div>
  </div>

  <div class="margin-t-0p5 margin-b-0p5 text-center">
    <div>您尚未开通资金托管账户，暂时无法进行投资<br><button>立即开通</button></div>
  </div>

  <div class="text-center">
    <a class="column" href="javascript:;">我的债权</a>
    <a class="column" href="javascript:;">我的订单</a>
    <a class="column" href="javascript:;">回款计划</a>
  </div>
</div>
