<!-- 我的投资 -->
<div class="investment bg-grey4 overflow-hid">
  <div>
    <div class=" margin-0 padding-1 bg-white">您好，亲爱的&nbsp;<strong class="ft-orange">{{ hasLoggedUser.name }}</strong>&nbsp;<i class="fa fa-newspaper-o"></i>
      <span class="pull-right" ui-sref="root.userCenter.setting">基本资料></span>
    </div>
    <div class="bg-orange padding-tip text-center ft-white ft-1p8">
      <p class="margin-b-0"><img src="/images/user-center/project2.png" alt="" width="28" style="vertical-align:top;">&nbsp;累计投资(个)</p>
      <p class="margin-b-0 ft-4">{{investmentsStat.totalInvestCount }}</p>
    </div>
    <!-- 已开通易宝时展示 投资项目状态详情-->
    <div class="u-full-width bg-white" ng-if="hasLoggedUser.securityStatus.trusteeshipAccountStatus !== 0">
      <table class="account-tab1 u-full-width margin-t-2 margin-0 ft-1p6">
        <tr>
          <td class="padding-0p5 text-center ft-grey1 padding-t-1 padding-b-1">
            <div class="u-full-width border-right-tip">
              <p class="margin-b-0"><span class="position-re right-icon1"><span class="right-tip2">{{investmentsStat.heldingCount }}</span></span></p>
            <span class="">回款中项目</span>
            </div>
          </td>
          <td class="padding-0p5 ft-grey1 text-center padding-t-1 padding-b-1">
            <p class="margin-b-0"><span class="right-icon2 position-re"><span class="right-tip2">{{investmentsStat.endProfitCount }}</span></span></p>
            <span class="">已结清项目</span>
          </td>
        </tr>
      </table>
    </div>
    <!-- <div ng-include src="'views/user-center/_investments-stat-info.html'" ng-if="hasLoggedUser.securityStatus.trusteeshipAccountStatus !== 0">
    </div> -->
  </div>
  <!-- 未支付订单提示  ng-if="investmentsStat.notPayOrder"-->
  <div class="text-center padding-l-2 padding-r-2 padding-t-1 padding-b-1 border-orange ft-grey1 margin-t-2 overflow-hid bg-yellow1" ng-if="investmentsStat.notPayOrder">
    <i class="fa fa-exclamation-triangle ft-grey2 u-pull-left ft-2p5 margin-t-1"></i>
    <small class="u-pull-left">您有订单尚未支付<br>({investmentsStat.notPayOrder.dueTime || 5 | number:0}}分钟后失效)</small>
    <button class="u-pull-right margin-0 margin-t-0p5 bg-orange ft-white border-none ft-1p5 half" ng-click="toInvest(investmentsStat.notPayOrder);">立即支付</button>
  </div>
  <!-- 尚未开通易宝提示 -->
  <div ng-include src="'views/yeepayless-hint.html'" ng-if="hasLoggedUser.securityStatus.trusteeshipAccountStatus === 0">
  </div>
  <!-- 细分页面入口 -->
  <div class="overflow-hid margin-t-2 bg-white">
    <a class="column border-grey padding-l-2 padding-r-2 padding-t-1 padding-b-1" ui-sref="root.userCenter.credits">
      <span class="u-pull-left ft-black ft-1p8"><i class="fa fa-money ft-orange ft-1p8 text-center" style="width:2.5rem;margin-right:0.5rem;"></i>我的投资</span>
      <span class="u-pull-right ft-grey2">
        <span><strong class="ft-orange">{{investmentsStat.heldingCount }}</strong>个持有中</span>
      <i class="fa fa-chevron-right"></i>
      </span>
    </a>
    <a class="column border-grey-bottom padding-l-2 padding-r-2 padding-t-1 padding-b-1" ui-sref="root.userCenter.deals">
      <span class="u-pull-left ft-black ft-1p8"><i class="fa fa-clock-o ft-orange ft-1p8 text-center" style="width:2.5rem;margin-right:0.5rem;"></i>资金流水</span>
      <span class="u-pull-right ft-grey2">
        <span><strong class="ft-orange">&nbsp;&nbsp;</strong>查看详细</span>
      <i class="fa fa-chevron-right"></i>
      </span>
    </a>
    <!-- <a class="column border-grey border-top-none padding-l-2 padding-r-2 padding-t-0p5 padding-b-0p5 margin-0" ui-sref="root.userCenter.orders">
      <span class="u-pull-left ft-grey"><i class="fa fa-list-alt  ft-blue ft-1p8">&nbsp;&nbsp;</i>我的订单</span>
      <span class="u-pull-right ft-grey2">
        <small ng-if="investmentsStat.notPayOrder"><strong class="ft-orange">1</strong>个未支付</small>
        <i class="fa fa-chevron-right"></i>
      </span>
    </a>
    <a class="column border-grey border-top-none padding-l-2 padding-r-2 padding-t-0p5 padding-b-0p5 margin-0" ui-sref="root.userCenter.payment-collection">
      <span class="u-pull-left ft-grey"><i class="fa fa-clock-o ft-blue ft-1p8">&nbsp;&nbsp;</i>回款计划</span>
      <span class="u-pull-right ft-grey2">
        <small>本月<strong class="ft-orange">{{'2'}}</strong>笔待回款</small>
        <i class="fa fa-chevron-right"></i>
      </span>
    </a> -->
  </div>
</div>
