<!-- <section auto-height>
  <div class="padding-1 margin-b-4">
   <div class="tiyanjin-tab">
    <div class="use-list-title">邀请信息</div>
    <div class="account-panel bg-white">
      <div class="icon"><img src="/images/new/get-grade.png" alt=""></div>
      <div class="title-text">邀请人数</div>
      <div class="more"><strong class="ft-orange ft-1p8">{{inviteStat.totalNum || 0}}</strong>人</div>
    </div>
    <div class="account-panel bg-white">
      <div class="icon"><img src="/images/new/register-true.png" alt=""></div>
      <div class="title-text">注册认证</div>
      <div class="more"><strong class="ft-orange ft-1p8">{{inviteStat.realNameAuthNum || 0}}</strong>人</div>
    </div>
    <div class="account-panel bg-white">
      <div class="icon"><img src="/images/new/first-invest.png" alt=""></div>
      <div class="title-text">首次投资</div>
      <div class="more"><strong class="ft-orange ft-1p8">{{inviteStat.investNum || 0}}</strong>人</div>
    </div>
   </div>
   <div class="tiyanjin-tab margin-t-1">
    <div class="use-list-title">邀请方式</div>
    <div class="account-panel bg-white">
      <div class="icon"><img src="/images/new/invite-code.png" alt=""></div>
      <div class="title-text">我的邀请码</div>
      <div class="more">{{voucher.inviteCode}}</div>
    </div>
    <div class="account-panel bg-white">
      <div class="icon"><img src="/images/new/my-invite.png" alt=""></div>
      <div class="title-text">我的邀请链接</div>
      <div class="more">hongcai.com/.../</div>
    </div>
    <div class="account-panel account-panel0 bg-white text-center border-none">
      <p class="margin-auto ft-white copy-btn">hongcai.com/register?inviteCode={{voucher.inviteCode}}</p>
      <span class="margin-auto display-bl ft-grey4 share-words margin-t--0p5 ft-1p4">长按复制专属链接</span>
    </div>
   </div>
   <div class="tiyanjin-tab margin-t-1 margin-b-1">
    <div class="use-list-title">邀请名单</div>

    <div class="use-list-head">
      <div class="list-cell">用户</div>
      <div class="list-cell-title">状态</div>
    </div>
    <div class="use-list-head" ng-repeat="item in datas track by $index">
      <div class="list-cell">{{item.userAuth.realName || item.user.mobile || item.user.name}}</div>
      <div class="list-cell">
        <div ng-switch="item.userAuth.authStatus">
        <span ng-switch-default>未认证</span>
        <span class="ft-orange" ng-switch-when="2">已认证</span>
        </div>
      </div>
      <div class="list-cell">
        <span ng-show="item.account.investAmount <= 0">未投资</span>
        <span class="ft-orange" ng-show="item.account.investAmount > 0">已投资</span>
      </div>
    </div>
   </div>
   <div class="margin-t-2 margin-b-3 text-center" ng-click="loadMuch()" ng-show="page < loadMoreData"><i class="fa fa-list-ul ft-orange"></i>&nbsp;<span class="cursor-hand ft-black2 text-line">查看更多</span></div>
</section> -->
<div class="ivt-rebate bg-white position-re" auto-height>
  <div class="ivt-wrap" ng-click="toInvestList();">
    <p class="margin-b-0 text-center ft-white ft-Arial count">88</p>
    <div class="position-re circle-bg-wrap">
      <div class="circle-bg">
        <p class="margin-b-0 text-center ft-white ft-1p3">邀请好友(人)</p>
      </div>
    </div>
    <ul class="margin-b-0">
      <li class="margin-b-0">
        <p class="ft-Arial ft-2p2 ft-white margin-t-0p5">88</p>
        <p class="ft-white ft-1p3 margin-b-0p5">注册认证(人)</p>
        <i class="line"></i>
      </li>
      <li class="margin-b-0">
        <p class="ft-Arial ft-2p2 ft-white margin-t-0p5">88</p>
        <p class="ft-white ft-1p4 margin-b-0p5">首投成功(人)</p>
      </li>
    </ul>
  </div>
  <div class="ivt-tip-wrap padding-t-1p5 padding-b-1p5 bg-offWhite">
    <div class="bg-white ivt-tip">
      <p>成功邀请一位好友最高可获得<span class="color-change">1315元</span>现金奖励</p>
      <p ui-sref="root.activity.inviteActivity">立即参与</p>
    </div>
  </div>
  <div class="ivt-rebate-share">
    <div class="share-wrap">
      <p class="ft-1p4 ft-666 share-head margin-b-0">分享到</p>
      <div class="share-ways">
        <img src="/images/invite/share-wechat.png" width="16%" height="16%">
        <img src="/images/invite/share-qq.png" width="16%" height="16%">
        <img src="/images/invite/share-link.png" width="16%" height="16%">
      </div>
      <div class="share-words">
        <p class="ft-666 margin-b-0">微信好友</p>
        <p class="ft-666 margin-b-0">QQ好友</p>
        <p class="ft-666 margin-b-0">复制链接</p>
      </div>
    </div>
  </div>
</div>
