<section auto-height>
  <!-- <div class="margin-t-1" ng-click="goInviteLanding()"><img src="/images/new/ad1.png" width="100%"></div> -->
  <div class="padding-1 margin-b-4">
   <div class="tiyanjin-tab">
    <div class="use-list-title">邀请信息</div>
    <div class="account-panel bg-white">
      <div class="icon"><img src="/images/new/get-grade.png" alt=""></div>
      <div class="title-text">邀请人数</div>
      <div class="more"><strong class="ft-orange ft-1p8">{{inviteStat.totalNum || 0}}</strong>人</div>
    </div>
    <div class="account-panel bg-white">
      <div class="icon"><img src="/images/new/register-true.png" alt=""></div>
      <div class="title-text">注册认证</div>
      <div class="more"><strong class="ft-orange ft-1p8">{{inviteStat.realNameAuthNum || 0}}</strong>人</div>
    </div>
    <div class="account-panel bg-white">
      <div class="icon"><img src="/images/new/first-invest.png" alt=""></div>
      <div class="title-text">首次投资</div>
      <div class="more"><strong class="ft-orange ft-1p8">{{inviteStat.investNum || 0}}</strong>人</div>
    </div>
   </div>
   <div class="tiyanjin-tab margin-t-1">
    <div class="use-list-title">邀请方式</div>
    <div class="account-panel bg-white">
      <div class="icon"><img src="/images/new/invite-code.png" alt=""></div>
      <div class="title-text">我的邀请码</div>
      <div class="more">{{voucher.inviteCode}}</div>
    </div>
    <div class="account-panel bg-white">
      <div class="icon"><img src="/images/new/my-invite.png" alt=""></div>
      <div class="title-text">我的邀请链接</div>
      <div class="more">hongcai.com/.../</div>
    </div>
    <div class="account-panel account-panel0 bg-white text-center border-none">
      <p class="margin-auto ft-white copy-btn">hongcai.com/register?inviteCode={{voucher.inviteCode}}</p>
      <span class="margin-auto display-bl ft-grey4 share-words margin-t--0p5 ft-1p4">长按复制专属链接</span>
    </div>
   </div>
   <div class="tiyanjin-tab margin-t-1">
    <div class="use-list-title">邀请好友赚奖金</div>
    <div class="account-panel1 bg-white">
      <img src="/images/new/invi-process.png" width="85%" class="display-bl margin-auto margin-t-1 margin-b-1">
    </div>
    <div class="account-panel1 bg-white border-none ft-grey4 ft-1p4 padding-b-1 padding-t-1">
      活动期间内邀请好友注册投资，该好友在活动期间累计投资两次（期限&ge;30天），累计投资金额达2500元（含）以上，邀请人即可获得邀请奖金60元！多邀多得，上不封顶！
    </div>
   </div>
   <div class="tiyanjin-tab margin-t-1">
    <div class="use-list-title">邀请名单</div>

    <div class="use-list-head">
      <div class="list-cell">用户名</div>
      <div class="list-cell-title">状态</div>
    </div>
    <div class="use-list-head" ng-repeat="item in datas">
      <div class="list-cell">{{item.user.mobile || item.user.name}}</div>
      <div class="list-cell">
        <div ng-switch="item.userAuth.yeepayAccountStatus">
        <span ng-switch-default>未认证</span>
        <span class="ft-orange" ng-switch-when="1">已认证</span>
        </div>
      </div>
      <div class="list-cell">
        <span ng-show="item.account.investAmount <= 0">未投资</span>
        <span class="ft-orange" ng-show="item.account.investAmount > 0">已投资</span>
      </div>
    </div>
   </div>
   <div class="margin-t-2 text-center" ng-click="loadMoreInvites()" ng-show="totalPage > page"><i class="fa fa-list-ul ft-orange"></i>&nbsp;<span class="cursor-hand ft-black2 text-line">查看更多</span></div>
</section>
