<div class="messages" ng-init="activeTab=0">
  <ul class="account-tab1 nav-ul bg-white overflow-hid border-grey2-bottom ft-666 ft-Arial margin-b-0 ft-1p6">
    <li class="column text-center margin-0 padding-t-1 padding-b-1" ng-class="{active: activeTab===0}" ng-click="activeTab = 0">公告</li>
    <li class="column text-center margin-0 padding-t-1 padding-b-1" ng-class="{active: activeTab===1}" ng-click="activeTab = 1"><span>提醒</span><p class="red-point"></p></li>
  </ul>
  <div ng-if="activeTab == 0">
    <div class="web-site-notice"> 
    	 <ul class="margin-b-0 padding-b-1p2">
    	 	<li class="margin-t-1p2 margin-b-0 padding-l-1p5 padding-r-1p5 bg-white padding-b-1p5">
    	 		<p class="padding-t-1p5 margin-b-1 ft-1p6 ft-666"> 宏财网2017年春节放假安排通知 </p>
    	 		<div class="notice-foot ft-grey999 ft-1p3"><span>2017/01/04 12:30:34</span><span>查看详情</span></div>
    	 	</li>
    	 	<li class="margin-t-1p2 margin-b-0 padding-l-1p5 padding-r-1p5 bg-white padding-b-1p5">
    	 		<p class="padding-t-1p5 margin-b-1 ft-1p6 ft-666"> 某个体户经营资金周转50万融资标第二期利息兑付公告 </p>
    	 		<div class="notice-foot ft-grey999 ft-1p3"><span>2017/01/04 12:30:34</span><span>查看详情</span></div>
    	 	</li>
    	 	<li class="margin-t-1p2 margin-b-0 padding-l-1p5 padding-r-1p5 bg-white padding-b-1p5">
    	 		<p class="padding-t-1p5 margin-b-1 ft-1p6 ft-666"> 某个体户经营资金周转50万融资标第二期利息兑付公告 </p>
    	 		<div class="notice-foot ft-grey999 ft-1p3"><span>2017/01/04 12:30:34</span><span>查看详情</span></div>
    	 	</li>
    	 	<li class="margin-t-1p2 margin-b-0 padding-l-1p5 padding-r-1p5 bg-white padding-b-1p5">
    	 		<p class="padding-t-1p5 margin-b-1 ft-1p6 ft-666"> 某个体户经营资金周转50万融资标第二期利息兑付公告 </p>
    	 		<div class="notice-foot ft-grey999 ft-1p3"><span>2017/01/04 12:30:34</span><span>查看详情</span></div>
    	 	</li>
    	 	<li class="margin-t-1p2 margin-b-0 padding-l-1p5 padding-r-1p5 bg-white padding-b-1p5">
    	 		<p class="padding-t-1p5 margin-b-1 ft-1p6 ft-666"> 某个体户经营资金周转50万融资标第二期利息兑付公告 </p>
    	 		<div class="notice-foot ft-grey999 ft-1p3"><span>2017/01/04 12:30:34</span><span>查看详情</span></div>
    	 	</li>
    	 	<li class="margin-t-1p2 margin-b-0 padding-l-1p5 padding-r-1p5 bg-white padding-b-1p5">
    	 		<p class="padding-t-1p5 margin-b-1 ft-1p6 ft-666"> 某个体户经营资金周转50万融资标第二期利息兑付公告 </p>
    	 		<div class="notice-foot ft-grey999 ft-1p3"><span>2017/01/04 12:30:34</span><span>查看详情</span></div>
    	 	</li>
    	 	<!-- <li class="margin-t-1p2 margin-b-0 padding-l-1p5 padding-r-1p5 bg-white padding-b-1p5">
    	 		<p class="padding-t-1p5 margin-b-1 ft-1p6 ft-666"> 宏财网2017年春节放假安排通知 </p>
    	 		<p class="margin-b-0 ft-666">尊敬的宏财网用户：</p>
    	 		<p class="margin-b-1p7 ft-666" style="text-indent: 2em">值此新春佳节，感谢您过去的一年对我们的支持，宏财网全体员工在这里给您拜年啦！...</p>
    	 		<div class="notice-foot ft-grey999 ft-1p3"><span>2017/01/04 12:30:34</span><span>查看详情</span></div>
    	 	</li> -->
    	 </ul>
    </div>
  </div>
  <div ng-if="activeTab == 1" class="padding-b-4">
    <div class="messages-remind margin-t-1p2 padding-l-1p5 padding-r-1p5 padding-b-0p5 bg-white">
      <div class="remind-title padding-t-1p5 margin-b-1 ft-1p6 ft-666">宏财网 - 注册成功提醒</div>
      <div class="remind-time ft-grey999 ft-1p3">2017/02/16 10:08:00</div>
      <div class="remind-content margin-b-1p5 ft-grey999">尊敬的hc_402084，恭喜您成功注册宏财网。完善安全设置后，即可在宏财网投资理财项目，坐享收益。</div>
    </div>
    <div class="messages-remind margin-t-1p2 padding-l-1p5 padding-r-1p5 padding-b-0p5 bg-white">
      <div class="remind-title padding-t-1p5 margin-b-1 ft-1p6 ft-666">宏财网 - 放款成功提醒</div>
      <div class="remind-time ft-grey999 ft-1p3">2017/02/16 10:08:00</div>
      <div class="remind-content margin-b-1p5 ft-grey999">尊敬的hc_402084，恭喜您成功注册宏财网。完善安全设置后，即可在宏财网投资理财项目，坐享收益。</div>
    </div> 
    <div class="messages-remind margin-t-1p2 padding-l-1p5 padding-r-1p5 padding-b-0p5 bg-white">
      <div class="remind-title padding-t-1p5 margin-b-1 ft-1p6 ft-666">宏财网 - 放款成功提醒</div>
      <div class="remind-time ft-grey999 ft-1p3">2017/02/16 10:08:00</div>
      <div class="remind-content margin-b-1p5 ft-grey999">尊敬的hc_402084，恭喜您成功注册宏财网。完善安全设置后，即可在宏财网投资理财项目，坐享收益。</div>
    </div>
    <div class="messages-remind margin-t-1p2 padding-l-1p5 padding-r-1p5 padding-b-0p5 bg-white">
      <div class="remind-title padding-t-1p5 margin-b-1 ft-1p6 ft-666">宏财网 - 注册成功提醒</div>
      <div class="remind-time ft-grey999 ft-1p3">2017/02/16 10:08:00</div>
      <div class="remind-content margin-b-1p5 ft-grey999">尊敬的hc_402084，恭喜您成功注册宏财网。完善安全设置后，即可在宏财网投资理财项目，坐享收益。</div>
    </div>
    <div class="messages-remind margin-t-1p2 padding-l-1p5 padding-r-1p5 padding-b-0p5 bg-white">
      <div class="remind-title padding-t-1p5 margin-b-1 ft-1p6 ft-666">宏财网 - 放款成功提醒</div>
      <div class="remind-time ft-grey999 ft-1p3">2017/02/16 10:08:00</div>
      <div class="remind-content margin-b-1p5 ft-grey999">尊敬的hc_402084，恭喜您成功注册宏财网。完善安全设置后，即可在宏财网投资理财项目，坐享收益。</div>
    </div> 
    <div class="messages-remind margin-t-1p2 padding-l-1p5 padding-r-1p5 padding-b-0p5 bg-white">
      <div class="remind-title padding-t-1p5 margin-b-1 ft-1p6 ft-666">宏财网 - 放款成功提醒</div>
      <div class="remind-time ft-grey999 ft-1p3">2017/02/16 10:08:00</div>
      <div class="remind-content margin-b-1p5 ft-grey999">尊敬的hc_402084，恭喜您成功注册宏财网。完善安全设置后，即可在宏财网投资理财项目，坐享收益。</div>
    </div>
  </div>
</div>
