<div class="recharge bg-white">
  <h6 class="border-grey text-center padding-t-0p5 padding-b-0p5 margin-0"><strong>充值</strong></h6>
  <div class="padding-2">
    <!-- 未绑定银行卡 -->
    <!-- <div ng-include src="'views/user-center/_bankcardless-hint.html'" ng-if=""></div> -->
    <!-- 已经绑定银行卡 -->
    <form class="margin-b-1p5" name="rechargeForm" ng-submit="recharge(rechargeAmount);">
      <label>可用余额:&nbsp;<span class="ft-blue">{{ userAccount.balance }}</span>元</label>
      <div class="hint text-center bg-red1 box-shadow" ng-show="rechargeForm.amount.$dirty && rechargeForm.amount.$error.pattern">
        <span class="ft-white"><i class="fa fa-info">&nbsp;</i>请输入数字(最多精确到小数点后两位)</span>
      </div>

      <div class="hint text-center bg-red1 box-shadow" ng-show="rechargeForm.amount.$error.min">
        <span class="ft-white"><i class="fa fa-info">&nbsp;</i>充值不能小于0</span>
      </div>
      <input name="amount" type="text" class="u-full-width padding-t-1 padding-b-1 padding-l-1 padding-r-1 margin-t-1" ng-model="rechargeAmount" ng-pattern="/^[0-9]*(\.[0-9]{1,2})?$/" ng-focus required placeholder="请输入充值金额">
      <button type="submit" class="u-full-width button button-primary margin-t-0p5 {{rechargeForm.$invalid ? 'button-disabled' : 'button-shadow'}}" ng-disabled="rechargeForm.$invalid">充值</button>
    </form>
    <hr class="margin-0">
    <div class="ft-grey2 margin-t-0p5">
      <h7>温馨提示：</h7>
      <div>
        <span class="u-pull-left"><small>1.</small></span>
        <p class="padding-l-1 margin-0"><small>您的账户资金将由有银监会颁发牌照的第三方支付平台托管；</small></p>
      </div>
      <div>
        <span class="u-pull-left"><small>2.</small></span>
        <p class="padding-l-1 margin-0"><small>首先请注意您是否开通网上银行等功能,可能存在充值超过限额：（充值限额，是银行、第三方支付平台、和用户您自己设定的支付限额决定的，取三者最小值）以免造成充值不成功；</small></p>
      </div>
      <div>
        <span class="u-pull-left"><small>3.</small></span>
        <p class="padding-l-1 margin-0"><small>禁止洗钱、信用卡套现、虚假交易等行为，一经发现并确认，将终止该账户的使用；</small></p>
      </div>
      <div>
        <span class="u-pull-left"><small>4.</small></span>
        <p class="padding-l-1 margin-0"><small>如果充值金额没有及时到账，请联系客服，400-900-7626。</small></p>
      </div>
    </div>
  </div>
</div>
