<div class="recharge bg-white margin-b-7">
  <div class=" margin-0 padding-1 padding-t-2">
    <!-- <span class="pull-right" ui-sref="root.userCenter.setting">基本资料></span></div> -->
    <!-- <hr class="hr-grey"> -->
  <!-- <h6 class="text-center padding-t-0p5 padding-b-0p5 margin-0"><strong>充值</strong></h6> -->
  <div>
    <!-- 未绑定银行卡 simpleWithdraw.cardStatus !== 'VERIFIED'-->
    <div ng-include src="'views/user-center/_bankcardless-hint.html'" ng-show="simpleWithdraw.cardStatus !== 'VERIFIED'"></div>
    <!-- 绑定银行卡 -->
    <form class="margin-b-1p5 margin-t-1" name="rechargeForm" ng-submit="recharge(rechargeAmount);" ng-show="simpleWithdraw.cardStatus == 'VERIFIED'">
      <div class="bank-span">
        <span>{{simpleWithdraw.bankcard.openBank || '交通银行'}}：&nbsp;</span><span>{{simpleWithdraw.bankcard.cardNo || '6222************1213'}}</span>
      </div>
      <label class="margin-t-1 padding-l-2">账户余额:&nbsp;<span class="ft-orange">{{ simpleWithdraw.account.balance | number:2}}</span>元<span class="ft-blue ft-1p2 fr margin-r-2 line-h2" ng-click="showbankLimit();">支持银行</span></label>

      <div class="hint text-center bg-red1 box-shadow" ng-if="rechargeForm.amount.$dirty && rechargeForm.amount.$error.pattern">
        <span class="ft-white"><i class="fa fa-info">&nbsp;</i>请输入数字(最多精确到小数点后两位)</span>
      </div>
      <div class="hint text-center bg-red1 box-shadow" ng-if="rechargeForm.amount.$error.min && !rechargeForm.amount.$error.pattern && !rechargeForm.amount.$error.max">
        <span class="ft-white"><i class="fa fa-info">&nbsp;</i>充值金额不能小于2元</span>
      </div>
      <div class="hint text-center bg-red1 box-shadow" ng-if="rechargeForm.amount.$error.max && !rechargeForm.amount.$error.pattern">
        <span class="ft-white"><i class="fa fa-info">&nbsp;</i>该卡本次最多充值{{bankRemain || 0}}元</span>
      </div>
      <label class="padding-l-2 padding-r-2">
        <input name="amount" type="number" class="u-full-width padding-t-1 padding-b-1 padding-l-1 padding-r-1 margin-t-0p5" ng-model="rechargeAmount" max="{{bankRemain}}" min="2"  ng-pattern="/^[0-9]*(\.[0-9]{1,2})?$/" ng-focus required placeholder="该卡本次最多充值{{bankRemain ||0}}元">
        <button type="submit" class="u-full-width ft-1p6 button button-primary margin-t-0p5 {{rechargeForm.$invalid ? 'button-disabled' : ''}}" ng-disabled="rechargeForm.$invalid">立即充值</button>
      </label>
    </form>
    <hr class="margin-0" ng-show="simpleWithdraw.cardStatus == 'VERIFIED'">
    <div class="ft-grey4 padding-2" ng-show="simpleWithdraw.cardStatus == 'VERIFIED'">
      <h7>温馨提示：</h7>
      <div>
        <span class="u-pull-left"><small>1.</small></span>
        <p class="padding-l-1 margin-0"><small>您的账户资金将由有银监会颁发牌照的第三方支付平台托管；</small></p>
      </div>
      <div>
        <span class="u-pull-left"><small>2.</small></span>
        <p class="padding-l-1 margin-0"><small>首先请注意您是否开通网上银行等功能,可能存在充值超过限额（充值限额，是银行、第三方支付平台、和用户您自己设定的支付限额决定的，取三者最小值），以免造成充值不成功；</small></p>
      </div>
      <div>
        <span class="u-pull-left"><small>3.</small></span>
        <p class="padding-l-1 margin-0"><small>禁止洗钱、信用卡套现、虚假交易等行为，一经发现并确认，将终止该账户的使用；</small></p>
      </div>
      <div>
        <span class="u-pull-left"><small>4.</small></span>
        <p class="padding-l-1 margin-0"><small>如果充值金额没有及时到账，请联系客服，400-900-7626。</small></p>
      </div>
    </div>
  </div>
  <div class="project-mask padding-2" ng-show="showLimit">
    <div class="limit-bg bg-white margin-auto margin-t-5 padding-1 padding-t-0">
      <div class="title">
        <p class="margin-b-0 fl diplay-inb ft-1p4 text-center ft-black2">支持银行</p><p class="margin-b-0 ft-1p4 fr display-inb ft-black2">单笔/单月/单日</p>
      </div>
      <div class="contain">
        <ul class="display-bl margin-auto">
          <li class="clearfix margin-b-0 border-bottom-none padding-r-1">
            <img src="/images/user-center/ICBK.png" class="fl margin-l-1 margin-r-1">
            <div class="display-inb"><p class="margin-b-0 display-inb ft-1p4">工商银行</p><p class="display-inb ft-1p3">5w/5w/20w</p></div>
          </li>
          <li class="clearfix margin-b-0 border-bottom-none padding-r-1 border-t-dashed">
            <img src="/images/user-center/BKCH.png" class="fl margin-l-1 margin-r-1">
            <div class="display-inb"><p class="margin-b-0 display-inb ft-1p4">中国银行</p><p class="display-inb ft-1p3">5w/10w/20w</p></div>
          </li>
          <li class="clearfix margin-b-0 border-bottom-none padding-r-1 border-t-dashed">
            <img src="/images/user-center/PCBC.png" class="fl margin-l-1 margin-r-1">
            <div class="display-inb"><p class="margin-b-0 display-inb ft-1p4">建设银行</p><p class="display-inb ft-1p3">5w/10w/20w</p></div>
          </li>
          <li class="clearfix margin-b-0 border-bottom-none padding-r-1 border-t-dashed">
            <img src="/images/user-center/ABOC.png" class="fl margin-l-1 margin-r-1">
            <div class="display-inb"><p class="margin-b-0 display-inb ft-1p4">农业银行</p><p class="display-inb ft-1p3">5w/10w/20w</p></div>
          </li>
          <li class="clearfix margin-b-0 border-bottom-none padding-r-1 border-t-dashed">
            <img src="/images/user-center/COMM.png" class="fl margin-l-1 margin-r-1">
            <div class="display-inb"><p class="margin-b-0 display-inb ft-1p4">交通银行</p><p class="display-inb ft-1p3">5w/10w/20w</p></div>
          </li>
          <li class="clearfix margin-b-0 border-bottom-none padding-r-1 border-t-dashed">
            <img src="/images/user-center/CMBC.png" class="fl margin-l-1 margin-r-1">
            <div class="display-inb"><p class="margin-b-0 display-inb ft-1p4">招商银行</p><p class="display-inb ft-1p3">5w/20w/20w</p></div>
          </li>
          <li class="clearfix margin-b-0 border-bottom-none padding-r-1 border-t-dashed">
            <img src="/images/user-center/CIBK.png" class="fl margin-l-1 margin-r-1">
            <div class="display-inb"><p class="margin-b-0 display-inb ft-1p4">中信银行</p><p class="display-inb ft-1p3">5w/20w/20w</p></div>
          </li>
          <li class="clearfix margin-b-0 border-bottom-none padding-r-1 border-t-dashed">
            <img src="/images/user-center/SZDB.png" class="fl margin-l-1 margin-r-1">
            <div class="display-inb"><p class="margin-b-0 display-inb ft-1p4">平安银行</p><p class="display-inb ft-1p3">5w/20w/20w</p></div>
          </li>
          <li class="clearfix margin-b-0 border-bottom-none padding-r-1 border-t-dashed">
            <img src="/images/user-center/MSBC.png" class="fl margin-l-1 margin-r-1">
            <div class="display-inb"><p class="margin-b-0 display-inb ft-1p4">民生银行</p><p class="display-inb ft-1p3">5w/20w/20w</p></div>
          </li>
          <li class="clearfix margin-b-0 border-bottom-none padding-r-1 border-t-dashed">
            <img src="/images/user-center/EVER.png" class="fl margin-l-1 margin-r-1">
            <div class="display-inb"><p class="margin-b-0 display-inb ft-1p4">光大银行</p><p class="display-inb ft-1p3">5w/20w/20w</p></div>
          </li>
          <li class="clearfix margin-b-0 border-bottom-none padding-r-1 border-t-dashed">
            <img src="/images/user-center/HXBK.png" class="fl margin-l-1 margin-r-1">
            <div class="display-inb"><p class="margin-b-0 display-inb ft-1p4">华夏银行</p><p class="display-inb ft-1p3">5w/20w/20w</p></div>
          </li>
          <li class="clearfix margin-b-0 border-bottom-none padding-r-1 border-t-dashed">
            <img src="/images/user-center/GDBK.png" class="fl margin-l-1 margin-r-1">
            <div class="display-inb"><p class="margin-b-0 display-inb ft-1p4">广发银行</p><p class="display-inb ft-1p3">5w/20w/20w</p></div>
          </li>
          <li class="clearfix margin-b-0 border-bottom-none padding-r-1 border-t-dashed">
            <img src="/images/user-center/PSBC.png" class="fl margin-l-1 margin-r-1">
            <div class="display-inb"><p class="margin-b-0 display-inb ft-1p4">邮政银行</p><p class="display-inb ft-1p3">5w/20w/20w</p></div>
          </li>
          <li class="clearfix margin-b-0 border-bottom-none padding-r-1 border-t-dashed">
            <img src="/images/user-center/FJIB.png" class="fl margin-l-1 margin-r-1">
            <div class="display-inb"><p class="margin-b-0 display-inb ft-1p4">兴业银行</p><p class="display-inb ft-1p3">5w/5w/20w</p></div>
          </li>
          <li class="clearfix margin-b-0 padding-r-1 border-t-dashed">
            <img src="/images/user-center/SPDB.png" class="fl margin-l-1 margin-r-1">
            <div class="display-inb"><p class="margin-b-0 display-inb ft-1p4">浦发银行</p><p class="display-inb ft-1p3">5w/5w/20w</p></div>
          </li>
        </ul>
      </div>
      <div class="get margin-auto margin-t-1p5" ng-click="getIt();">
        <p class="margin-b-0 bg-orange text-center ft-white">我知道了</p>
      </div>
    </div>
  </div>
</div>
