<div class="setting bg-offWhite">
  <div class="text-center ft-black2 margin-t-0p5 ft-1p8 padding-b-1">
    <p class="margin-b-0 text-center padding-t-2">
      <div class="border-pull"><img ng-src="{{userHeadImgUrl}}" class="border-half"></div>
    </p>
    {{hasLoggedUser.name || handleMobileNum(hasLoggedUser.mobile)}}
  </div>
  <div class="content-main">
    <div class="padding-t-0p5">
      <!-- <img src="/images/user-center/01.png" alt=""> -->
      <i class="fa fa-key ft-orange ft-1p8" aria-hidden="true"></i>
    </div>
    <div>
      <p>登录密码：</p>
      <!-- <p>用于登录宏财网<span ng-click="checkPwdFlag=true"><a>修改></a></span></p> -->
      <p>用于登录宏财网<span ui-sref="root.modifyPwd"><a>修改></a></span></p>
    </div>
  </div>
  <div class="content-main">
    <div class="padding-t-0p5">
      <!-- <img src="/images/user-center/02.png" alt=""> -->
      <i class="fa fa-mobile ft-orange ft-2p5" aria-hidden="true"></i>
    </div>
    <div>
      <p>手机号码：</p>
      <p>{{handleMobileNum(hasLoggedUser.mobile) || '无'}}
        <span ng-show="securityStatus.realNameAuthStatus == 1" ui-sref="root.userCenter.resetMobile"><a>修改></a></span>
        <span ng-show="securityStatus.realNameAuthStatus !== 1" ng-click="toRealNameAuth()"><a>修改></a></span>
        <span ng-show="hasLoggedUser.mobile == null"><i class="fa fa-check-circle-o"></i>&nbsp;未绑定</span>
      </p>
    </div>
  </div>
  <div class="content-main">
    <div class="padding-t-0p5">
      <!-- <img src="/images/user-center/03.png" alt=""> -->
      <i class="fa fa-lock ft-orange ft-2" aria-hidden="true"></i>
    </div>
    <div>
      <p>第三方存管账户：</p>
      <p>保证您的资金安全
        <span ng-show="securityStatus.trusteeshipAccountStatus === 1"><i class="fa fa-check-circle-o ft-green"></i>&nbsp;已开通</span>
        <span ng-click="toRealNameAuth()" ng-show="securityStatus.trusteeshipAccountStatus !== 1"><i class="fa fa-check-circle-o ft-grey4"></i>&nbsp;未开通<small class="ft-orange">(立即开通)</small></span>
      </p>
    </div>
  </div>
  <div class="content-main">
    <div class="padding-t-0p5">
      <!-- <img src="/images/user-center/03.png" alt=""> -->
      <i class="fa fa-credit-card ft-orange" aria-hidden="true"></i>
    </div>
    <div>
      <p>我的银行卡：</p>
      <p>用于充值和提现
        <span ng-click="bindBankcard()" ng-show="simpleBankcard.status == 'VERIFY_NOT' || !simpleBankcard"> <a>去绑定 ></a></span>
        <span ng-show="simpleBankcard.status == 'VERIFING'"> 绑定中(尾号{{simpleBankcard.cardNo}})</span>
        <span ng-show="simpleBankcard.status == 'INIT'"> 解绑中(尾号{{simpleBankcard.cardNo}})</span>
        <span ng-show="simpleBankcard.status == 'VERIFIED'" ui-sref="root.userCenter.bankcard"><a class="ft-blue">{{simpleBankcard.openBank}}(尾号{{simpleBankcard.cardNo}}) ></a></span>
      </p>
    </div>
  </div>
  <div class="content-main">
    <div class="padding-t-0p5">
      <!-- <img src="/images/user-center/04.png" alt=""> -->
      <i class="fa fa-unlock-alt ft-orange ft-2" aria-hidden="true"></i>
    </div>
    <div>
      <p>自动投标权限：</p>
      <p>避免余额资金闲置
        <span><a class="ft-blue" ng-show="autoTenders.status === 1 || autoTenders.status === 0" ng-click="toAutoTender();">&nbsp;已开启 ></a></span>
        <span><a class="ft-blue" ng-show="autoTenders.status !== 1 && autoTenders.status !== 0" ng-click="toAutoTender();">&nbsp;立即开启 ></a></span>
      </p>
    </div>
  </div>
  <div class="content-main">
    <div class="padding-t-0p5">
      <!-- <img src="/images/user-center/04.png" alt=""> -->
      <i class="fa fa-unlock-alt ft-orange ft-2" aria-hidden="true"></i>
    </div>
    <div>
      <p>风险测评：</p>
      <p>{{ isQuestionnaire == -1 ? '帮助您了解自己的风险承受能力' : msgRisk }}
        <!-- <span>您的投资风格为：稳健型</span> -->
        <!-- <span><a class="ft-blue" ng-show="isQuestionnaire !== -1">&nbsp;已测评 ></a></span> -->
        <span><a class="ft-blue" ui-sref="root.userCenter.questionnaire">&nbsp;去测评 ></a></span>
      </p>
    </div>
  </div>
  <div class="contain-last">
    <div>
      <img src="/images/user-center/05.png" alt="" class="margin-r-0p5">
    </div>
    <div>
      <p>我的邀请码<span>{{voucher.inviteCode}}</span>
      </p>
    </div>
  </div>
  <div  class="contain-last bg-red3 text-center ft-white ft-1p8 padding-t-1 padding-b-1" ng-click="toLogout()">
    <p>安全退出</p>
  </div>
</div>

<!-- 开通自动投标权限蒙层 -->
<!-- <div ng-show="checkAutoFlag" class="project-mask">
  <div class="bg-white email-mask project-mask-inner">
    <p class="margin-b-0 text-center">
      您还未开通自动投标权限，确定去开通？
    </p>
    <p class="project-mask-btn2">
      <span ng-click="checkAutoFlag=false">取消</span>
      <span ng-click="toAuthAutoTransfer()">确定</span></p>
  </div>
</div> -->

