<div class="list-content">

  <!-- 有人助力时 -->
  <div class="row"  ng-repeat="i in repeatNums | limitTo : initLimit">

    <div class="table-cell" ng-repeat="item in freeWish.cheerRecords | slice:i * 6 - 6:i*6">
      <div class="img-border">
        <img ng-src="{{ item.user.headImgUrl || '/images/activity/dubai.png'}}" alt="" width="100%" class="img-test">
      </div>
    </div>

    <div class="table-cell" ng-repeat="item in getNumberArray(6 * i - freeWish.cheerRecords.length) track by $index">
      <div class="img-border">
        <img src="/images/share-spring/index-grey.png" alt="" width="100%">
        <div class="img-untip ft-1p2">
          未点亮
        </div>
      </div>
    </div>

  </div>

</div>