<div class="landing"  id="toptip">
	<div class="head">
		<img src="/images/share-spring/landing1.jpg" alt="" width="100%">
    <div class="detail-tip">每位好友最高可获<span class="ft-2p5 ft-yellow4">68888</span>元体验金</div>
	</div>
	<div class="step">
		<div class="step-one">
			<img src="/images/share-spring/landing2.png" alt="" width="100%">
			<div class="step-onemain">
				<p>好友注册认证&nbsp;您得<span class="ft-deepred2">10元</span>现金</p>
				<p>好友得体验金<span class="ft-deepred2">18888元</span></p>
			</div>
		</div>
		<div class="step-one">
			<img src="/images/share-spring/landing3.png" alt="" width="100%">
			<div class="step-onemain">
				<p>好友首次投资&nbsp;您得<span class="ft-deepred2">5元</span>现金</p>
				<p>好友得<span class="ft-deepred2">20倍</span>体验金</p>
			</div>
		</div>
	</div>
	<div class="step-two">
		<div class="step-btn">
			<img src="/images/share-spring/landing4.png" alt="">
			<div class="btn-text">邀请好友</div>
		</div>
		<div class="step-btn">
			<img src="/images/share-spring/landing5.png" alt="">
			<div class="btn-text">查看奖金</div>
		</div>
	</div>
	<div class="activity-rule">
		<div class="bg-deeporange ft-white text-center ft-1p8 cursor-hand padding-t-0p5 padding-b-0p5" ng-class="{arrow_box:showRule===true}" ng-init="showRule===false" ng-click="goToRule();">活动规则<i class="fa fa-angle-double-down margin-l-1"></i></div>
		<div class="rule-detail" ng-show="showRule">
			<p>1、所有注册用户均可参与邀请。</p>
			<p>2、每邀请1位好友注册并认证，邀请人得10元现金，好友注册得13888元体验金，认证得5000元体验金。邀请上限10人。</p>
			<p>3、好友注册后30天内首次以真实金额投资， 邀请人再得5元现金。好友得首次投资金额20倍的体验金。体验金50000元封顶</p>
			<p>4、体验金有效期30天，投资到期后，体验本金收回，收益归投资人所有。</p>
			<p>5、现金和体验金可在我的账户查看，所得现金和收益均可提现。</p>
			<p>6、本活动最终解释权归宏财网所有。</p>
		</div>
		<div class="bg-deeporange ft-white text-center ft-1p8 cursor-hand padding-t-1 padding-b-1" id="rules" ng-click="goToTip();" ng-show="showRule">收起<i class="fa fa-angle-double-up margin-l-1"></i></div>
	</div>
</div>