<div class="landing">
	<div class="head">
		<img src="/images/share-spring/landing1.jpg" alt="" width="100%">
    <div class="detail-tip">每位好友最高可获<span class="ft-2p5 ft-yellow4">68888</span>元体验金</div>
	</div>
	<div class="step">
		<div class="step-one">
			<img src="/images/share-spring/landing2.png" alt="" width="100%">
			<div class="step-onemain">
				<p>好友注册认证&nbsp;您得<span class="ft-deepred2">10元</span>现金</p>
				<p>好友得体验金<span class="ft-deepred2">18888元</span></p>
			</div>
		</div>
		<div class="step-one">
			<img src="/images/share-spring/landing3.png" alt="" width="100%">
			<div class="step-onemain">
				<p>好友首次投资&nbsp;您得<span class="ft-deepred2">5元</span>现金</p>
				<p>好友得<span class="ft-deepred2">20倍</span>体验金</p>
			</div>
		</div>
	</div>
	<div class="step-two">
		<div class="step-btn">
			<img src="/images/share-spring/landing4.png" alt="">
			<div class="btn-text">邀请好友</div>
		</div>
		<div class="step-btn">
			<img src="/images/share-spring/landing4.png" alt="">
			<div class="btn-text">查看奖金</div>
		</div>
	</div>
</div>