<div class="act-example">
  <div class="user-head"><img src="{{userHeadImgUrl}}" alt=""></div>
  <div class="user-main">
    <div class="user-topic">
      <p class="margin-b-0 name-font">{{ userNickName || "danny"}}</p>
      <p class="margin-b-1 content-font">{{commentData.words}}</p>
      <img src="{{baseFileUrl + commentData.picUrl}}" alt="" width="100%;">
      <p class="margin-b-0 address-font">{{commentData.location}}</p>
      <p class="margin-b-0 time-spectial">
        <span>昨天</span>
        <span><img src="/images/comment.png" alt=""></span>
      </p>
    </div>
    <div class="comment-spectial">
      <div class="arrow_box">♡&nbsp;{{commenters}}</div>
      <div class="comment-main">
        <div class="comment-parent" ng-repeat="item in comments">
          <p ng-show="item.commentType = 1">
          <span class="font-name">{{item.commenter}}</span>
          <span ng-show="item.beCommenter !== null">回复</span><span ng-show="item.beCommenter !== null" class="font-name">{{item.beCommenter}}</span>
          :&nbsp;{{item.message}}</p>
        </div>
      </div>
    </div>
    <div class="share-travel">
      <p><a href="{{BaseWechatUrl + wechat}}">戳此关注</a></p>
      <img src="/images/activity/share-later.png" alt="" width="100%" ng-click="configJsApi()">
    </div>
  </div>
</div>
<div class="activity-us">
  <img src="images/activity/US.png" alt="" width="100%" ui-sref="http://a.app.qq.com/o/simple.jsp?pkgname=com.hoolai.us&g_f=991653">
</div>
