<div class="act-example">
  <div class="user-head"><img src="/images/user-center/head@2x.png" alt=""></div>
  <div class="user-main">
    <div class="user-topic">
      <p class="margin-b-0 name-font">我是小红</p>
      <p class="margin-b-1 content-font">来一场说走就走的旅行，山水，明星，民俗，只要你想这里就是你启程的七点，承载你的梦想，并不是因为所爱的一切都拥有了，而是所拥有的一切都是爱。</p>
      <img src="/images/1.jpg" alt="" width="100%;">
      <p class="margin-b-0 name-font address-font">迪拜•帆船酒店</p>
      <p class="margin-b-0 time-spectial">
        <span>昨天</span>
        <span><img src="/images/comment.png" alt=""></span>
      </p>
    </div>
    <div class="comment-spectial">
      <div class="arrow_box"><i class="fa fa-heart-o"></i>秦始皇、李世民、苏妲己、败家老娘们、猪八戒点赞</div>
      <div class="comment-main">
        <p><span class="font-name">秦始皇</span>：都埋起来给我陪葬！！</p>
        <p><span class="font-name">李世民</span>：比我大唐朝还有钱？还富丽堂皇？我不服！</p>
        <p><span class="font-name">苏妲己</span>：大王，别修摘仙楼了，我要这个~~</p>
        <p><span class="font-name">纣王</span><span class="normal-font">回复</span><span class="font-name">苏妲己</span>：美人说啥就是啥！！</p>
        <p><span class="font-name">败家老娘们</span>：你这是背着我跟谁去鬼混了？</p>
        <p><span class="font-name">猪八戒</span>：啊啊啊猴哥咱别去西天了好不好抠点儿金子我就能去包养大学生了喂！</p>
      	<p><span class="font-name">猴哥</span>：这TM能给我造多少金箍棒啊！</p>
        <p><span class="font-name">猴哥</span><span class="normal-font">回复</span><span class="font-name">猪头</span>：你个猪头，心里想的都是啥啊！当然是给我造金箍棒了啊！</p>
				
      </div>
    </div>
    <div class="share-travel">
    	<p>戳此关注</p>
    	<img src="/images/activity/share-before@2x.png" alt="" width="100%">
    </div>
  </div>
</div>
