<p class="choice-font">请选择任意场景完成你自己的旅程</p>
<div class="flex-container">
  <div class="flex-item"><img src="/images/activity/dubai.png" alt="" width="100%"><div class="img-hover">选中</div>迪拜</div>
  <div class="flex-item"><img src="/images/activity/dubai.png" alt="" width="100%">迪拜</div>
  <div class="flex-item"><img src="/images/activity/dubai.png" alt="" width="100%">迪拜</div>
  <div class="flex-item"><img src="/images/activity/dubai.png" alt="" width="100%">迪拜</div>
  <div class="flex-item"><img src="/images/activity/dubai.png" alt="" width="100%">迪拜</div>
  <div class="flex-item"><img src="/images/activity/dubai.png" alt="" width="100%">迪拜</div>
  <div class="flex-item"><img src="/images/activity/dubai.png" alt="" width="100%">迪拜</div>
  <div class="flex-item"><img src="/images/activity/dubai.png" alt="" width="100%">迪拜</div>
  <div class="flex-item"><img src="/images/activity/dubai.png" alt="" width="100%">迪拜</div>
  <div class="flex-item"><img src="/images/activity/dubai.png" alt="" width="100%">迪拜</div>
  <div class="flex-item"><img src="/images/activity/dubai.png" alt="" width="100%">迪拜</div>
  <div class="flex-item"><img src="/images/activity/dubai.png" alt="" width="100%">迪拜</div>
  <div class="flex-item"><img src="/images/activity/dubai.png" alt="" width="100%">迪拜</div>
  <div class="flex-item"><img src="/images/activity/dubai.png" alt="" width="100%">迪拜</div>
  <div class="flex-item"><img src="/images/activity/dubai.png" alt="" width="100%">迪拜</div>
</div>
