<p class="choice-font">请选择任意场景完成你自己的旅程</p>
<div class="scene-container">
  <div class="scene-item">
    <div class="img-area">
      <img src="/images/activity/dubai.png" alt="" width="100%">
      <div class="icon-checked"><span><i class="fa fa-check-circle fa-2x ft-white"></i></span></div>
    </div>
    <p>迪拜</p>
  </div>
  <div class="scene-item">
    <div class="img-area">
      <img src="/images/activity/dubai.png" alt="" width="100%">
      <div class="icon-checked"><span><i class="fa fa-check-circle fa-2x ft-white"></i></span></div>
    </div>
    <p>国际空间站</p>
  </div>
  <div class="scene-item">
    <div class="img-area">
      <img src="/images/activity/dubai.png" alt="" width="100%">
      <div class="icon-checked"><span><i class="fa fa-check-circle fa-2x ft-white"></i></span></div>
    </div>
    <p>巴塞罗那</p>
  </div>
  <div class="scene-item">
    <div class="img-area">
      <img src="/images/activity/dubai.png" alt="" width="100%">
      <div class="icon-checked"><span><i class="fa fa-check-circle fa-2x ft-white"></i></span></div>
    </div>
    <p>白宫</p>
  </div>
  <div class="scene-item">
    <div class="img-area">
      <img src="/images/activity/dubai.png" alt="" width="100%">
      <div class="icon-checked"><span><i class="fa fa-check-circle fa-2x ft-white"></i></span></div>
    </div>
    <p>赌城</p>
  </div>
  <div class="scene-item">
    <div class="img-area">
      <img src="/images/activity/dubai.png" alt="" width="100%">
      <div class="icon-checked"><span><i class="fa fa-check-circle fa-2x ft-white"></i></span></div>
    </div>
    <p>天使之吻钻戒</p>
  </div>
  <div class="scene-item">
    <div class="img-area">
      <img src="/images/activity/dubai.png" alt="" width="100%">
      <div class="icon-checked"><span><i class="fa fa-check-circle fa-2x ft-white"></i></span></div>
    </div>
    <p>哈佛大学</p>
  </div>
  <div class="scene-item">
    <div class="img-area">
      <img src="/images/activity/dubai.png" alt="" width="100%">
      <div class="icon-checked"><span><i class="fa fa-check-circle fa-2x ft-white"></i></span></div>
    </div>
    <p>战国古墓</p>
  </div>
  <div class="scene-item">
    <div class="img-area">
      <img src="/images/activity/dubai.png" alt="" width="100%">
      <div class="icon-checked"><span><i class="fa fa-check-circle fa-2x ft-white"></i></span></div>
    </div>
    <p>国际空间站</p>
  </div>
  <div class="scene-item">
    <div class="img-area">
      <img src="/images/activity/dubai.png" alt="" width="100%">
      <div class="icon-checked"><span><i class="fa fa-check-circle fa-2x ft-white"></i></span></div>
    </div>
    <p>巴塞罗那</p>
  </div>
  <div class="scene-item">
    <div class="img-area">
      <img src="/images/activity/dubai.png" alt="" width="100%">
      <div class="icon-checked"><span><i class="fa fa-check-circle fa-2x ft-white"></i></span></div>
    </div>
    <p>白宫</p>
  </div>
  <div class="scene-item">
    <div class="img-area">
      <img src="/images/activity/dubai.png" alt="" width="100%">
      <div class="icon-checked"><span><i class="fa fa-check-circle fa-2x ft-white"></i></span></div>
    </div>
    <p>赌城</p>
  </div>
  <div class="scene-item">
    <div class="img-area">
      <img src="/images/activity/dubai.png" alt="" width="100%">
      <div class="icon-checked"><span><i class="fa fa-check-circle fa-2x ft-white"></i></span></div>
    </div>
    <p>天使之吻钻戒</p>
  </div>
  <div class="scene-item">
    <div class="img-area">
      <img src="/images/activity/dubai.png" alt="" width="100%">
      <div class="icon-checked"><span><i class="fa fa-check-circle fa-2x ft-white"></i></span></div>
    </div>
    <p>哈佛大学</p>
  </div>
  <div class="scene-item">
    <div class="img-area">
      <img src="/images/activity/dubai.png" alt="" width="100%">
      <div class="icon-checked"><span><i class="fa fa-check-circle fa-2x ft-white"></i></span></div>
    </div>
    <p>战国古墓</p>
  </div>
</div>
<script>
$(document).ready(function() {
  $(".scene-item").find(".img-area img").on('click', function() {
    $(".scene-item").siblings().find(".icon-checked").hide();
     $(".scene-item").css("color","black");
    $(this).parent().find(".icon-checked").show();
    $(this).parent().parent().css("color","red");

  });
});
</script>
