<div class="activity-landing">
  <img src="/images/activity/top.jpg" alt="" width="100%">
  <div class="activity-gift">
    <div class="position-re">
      <img src="/images/activity/line.png" alt="" width="100%">
      <div class="gift-text">活动奖励</div>
    </div>
    <div class="gift-table">
      <div class="gift-title margin-b-1">
        <span>赠送现金</span>
        <span>单笔投资</span>
        <span>项目期限</span>
        <span>推荐项目</span>
      </div>
      <div class="gift-content margin-t-1">
        <span>10元</span>
        <span>>=200元</span>
        <span>>=90天</span>
        <span>分期宝</span>
      </div>
      <div class="gift-content margin-t-1">
        <span>10元</span>
        <span>>=1000元</span>
        <span>>=300天</span>
        <span>月月盈</span>
      </div>
      <div class="gift-content margin-t-1">
        <span>30元</span>
        <span>>=5000元</span>
        <span>>=90天</span>
        <span>分期宝</span>
      </div>
      <div class="gift-content margin-t-1">
        <span>66元</span>
        <span>>=10000元</span>
        <span>>=90天</span>
        <span>月月盈</span>
      </div>
      <div class="gift-content margin-t-1">
        <span>206元</span>
        <span>>=30000元</span>
        <span>>=90天</span>
        <span>月月盈</span>
      </div>
      <div class="gift-content margin-t-1">
        <span>886元</span>
        <span>>=100000元</span>
        <span>>=90天</span>
        <span>月月盈</span>
      </div>
    </div>
  </div>
  <div class="step-two">
    <div class="step-btn" ui-sref="root.login">
      <img src="/images/activity/btn1.png" alt="">
      <div class="btn-text">老用户登录</div>
    </div>
    <div class="step-btn" ui-sref="root.register">
      <img src="/images/activity/btn1.png" alt="">
      <div class="btn-text">新用户注册</div>
    </div>
  </div>
  <div class="padding-l-1 padding-r-1">
    <div class="list-tips">
      <div class="left-line fl"></div>
      <div class="tips-content">活动规则<i class="fa fa-angle-double-down margin-l-0p5"></i></div>
      <div class="right-line fr"></div>
    </div>
    <div class="rules-landing">
      <p>活动时间：2016年5月1日——2016年8月1日</p>
      <p>活动规则：</p>
      <div class="padding-l-1p5">
        <div class="all-rule">
          <span>1.</span>
          <span>新用户注册即送1208元现金，老用户（已注册用户）登录即送1208元现金。</span>
        </div>
        <div class="all-rule">
          <span>2.</span>
          <span>每档额度赠送的现金，投资后立即充值到账，可随时提现或投资。</span>
        </div>
        <div class="all-rule">
          <span>3.</span>
          <span>每档投资对应的现金，只限活动期间首次投资该档时赠送。可选不同额度投资，分别获取对应现金。</span>
        </div>
        <div class="all-rule">
          <span>4.</span>
          <span>每档投资对应的现金，只限活动期间内单笔投资达到对应额度时赠送。</span>
        </div>
        <div class="all-rule">
          <span>5.</span>
          <span>活动最终解释权归宏财网所有。</span>
        </div>
        <div class="all-rule">
          <span>6.</span>
          <span>联系电话：400-990-7626。</span>
        </div>
      </div>
    </div>
  </div>
</div>