<div class="act-example">
  <div class="user-head"><img src="{{commentData.headImgUrl}}" alt=""></div>
  <div class="user-main">
    <div class="user-topic">
      <p class="margin-b-0 name-font">{{ commentData.nickName || "danny"}}</p>
      <p class="margin-b-1 content-font">{{commentData.words}}</p>
      <img src="{{baseFileUrl + commentData.picUrl}}" alt="" class="topic-img" width="100%;">
      <p class="margin-b-0 address-font">{{commentData.location}}</p>
      <p class="margin-b-0 time-spectial">
        <span>昨天</span>
        <span><img src="/images/comment.png" alt=""></span>
      </p>
    </div>
    <div class="comment-spectial">
      <div class="arrow_box"><span class="heart"><img src="/images/activity/xin1.png" alt="" width="100%"></span>&nbsp;{{commentersData}}</div>
      <div class="comment-main">
        <div class="comment-parent" ng-repeat="item in comments">
          <p ng-show="item.commentType = 1">
          <span class="font-name">{{item.commenter}}</span>
          <span ng-show="item.beCommenter !== null">回复</span><span ng-show="item.beCommenter !== null" class="font-name">{{item.beCommenter}}</span>
          :&nbsp;{{item.message}}</p>
        </div>
      </div>
    </div>
    <div class="share-travel">
      <img src="/images/activity/share-later.png" alt="" width="100%" ng-if="commentData.userId === hasLoggedUser.id" ng-click="showinviteFlag()">
      <img src="/images/activity/share-before@2x.png" alt="" width="100%" ng-if="commentData.userId !== hasLoggedUser.id" ng-click="goActivityScenes()">
    </div>
  </div>
</div>
<!-- <div class="activity-us">
  <div class="icon"><img src="images/activity/us-icon.png" alt="" width="100%"></div>
  <div class="p-text">
    <p class="margin-b-0">US&nbsp;非凡的活动记录者</p>
    <p class="margin-b-0">If not now,when?If not us,who?</p>
  </div>
  <div class="down-btn"><a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.hoolai.us&g_f=991653">下载US</a></div>
</div> -->

<!-- 分享给好友蒙层 可以用ng-show控制-->
<div ng-show="inviteFlag"  class="share-page-breakWishLayer width-100 height-100" style="background-color:rgba(0,0,0,0.8);" ng-click="hideinviteFlag()" my-click-once>
  <div class="margin-l-1 margin-r-1 ft-1p2 padding-1" style="border-radius:0.5rem;">
    <img src="/images/share/share-activity1.png" alt="" width="100%">
  </div>
</div>
<!-- 引导用户关注蒙层（二维码） 可以用ng-show控制-->
<div class="share-page-breakWishLayer position-ab width-100 height-100" style="background-color:rgba(0,0,0,0.8);" ng-show="showFollowFlag">
  <div class="bg-grey4 margin-t-5 margin-l-1 margin-r-1 ft-1p2 padding-1 text-center" style="border-radius:0.5rem;">
    <div class="padding-t-1"><span class="u-pull-right ft-red3" ng-click="showFollowFlag=false;">关闭</span></div>
    <img src="/images/share/QRcode_test.jpg" alt="" width="100%" ng-show="test">
    <img src="/images/share/QRcode.jpg" alt="" width="100%" ng-show="!test">
  </div>
</div>

