<div class="act-example">
  <div class="user-head"><img src="/images/activity/head@2x.png" alt=""></div>
  <div class="user-main">
    <div class="user-topic">
      <p class="margin-b-0 name-font">我是小红</p>
      <p class="margin-b-1 content-font">哦吼吼吼终于来迪拜啦！连电梯都是金的诶！赞成我去电梯上抠点儿金子的点赞！</p>
      <img src="/images/activity/activity111@2x.png" alt="" width="100%;">
      <p class="margin-b-0 address-font">迪拜•帆船酒店</p>
      <p class="margin-b-0 time-spectial">
        <span>昨天</span>
        <span><img src="/images/comment.png" alt=""></span>
      </p>
    </div>
    <div class="comment-spectial">
      <div class="arrow_box">♡&nbsp;秦始皇，李世民，苏妲己，败家老娘们，猪八戒</div>
      <div class="comment-main">
        <div class="comment-parent">
          <p><span class="font-name">秦始皇</span>:&nbsp;都埋起来给我陪葬！！</p>
        </div>
        <div class="comment-parent">
          <p><span class="font-name">李世民</span>:&nbsp;比我大唐朝还有钱？还富丽堂皇？我不服！</p>
        </div>
        <div class="comment-parent">
          <p><span class="font-name">苏妲己</span>:&nbsp;大王，别修摘仙楼了，我要这个~~</p>
        </div>
        <div class="comment-parent">
          <p><span class="font-name">纣王</span><span class="normal-font">回复</span><span class="font-name">苏妲己</span>:&nbsp;美人说啥就是啥！！</p>
        </div>
        <div class="comment-parent">
          <p><span class="font-name">败家老娘们</span>:&nbsp;你这是背着我跟谁去鬼混了？</p>
        </div>
        <div class="comment-parent">
          <p><span class="font-name">猪八戒</span>:&nbsp;啊啊啊猴哥咱别去西天了好不好抠点儿金子我就能去包养大学生了喂！</p>
        </div>
        <div class="comment-parent">
          <p><span class="font-name">猴哥</span>:&nbsp;这TM能给我造多少金箍棒啊！</p>
        </div>
        <div class="comment-parent">
          <p><span class="font-name">猴哥</span><span class="normal-font">回复</span><span class="font-name">猪头</span>:&nbsp;你个猪头，心里想的都是啥啊！当然是给我造金箍棒了啊！</p>
        </div>
      </div>
    </div>
    <div class="share-travel">
      <p>戳此关注</p>
      <img src="/images/activity/share-before@2x.png" alt="" width="100%" ui-sref="root.activity-scene">
    </div>
  </div>
</div>
<div class="activity-us">
	<img src="images/activity/US.png" alt="" width="100%" ui-sref="http://a.app.qq.com/o/simple.jsp?pkgname=com.hoolai.us&g_f=991653">
</div>
