<div class="activity-landing">
  <div class="position-re rmb369">
    <img src="/images/activity/top.jpg" alt="" width="100%">
    <p class="position-ab"><span>投资后&nbsp;奖金可</span>立即提现</p>
  </div>
  <div class="activity-gift">
    <div class="position-re">
      <img src="/images/activity/line.png" alt="" width="100%">
      <div class="gift-text">投资，马上返现！</div>
    </div>
    <div class="gift-table">
      <div class="gift-title margin-b-1">
        <span>赠送现金</span>
        <span>单笔投资</span>
        <span>项目期限</span>
        <!-- <span>推荐项目</span> -->
      </div>
      <div class="gift-content margin-t-1">
        <span>15元</span>
        <span>&ge;200元</span>
        <span>&ge; 30天</span>
        <!-- <span>分期宝</span> -->
      </div>
      <div class="gift-content margin-t-1">
        <span>25元</span>
        <span>&ge;2000元</span>
        <span>&ge; 30天</span>
        <!-- <span>月月盈</span> -->
      </div>
      <div class="gift-content margin-t-1">
        <span>45元</span>
        <span>&ge;5000元</span>
        <span>&ge; 30天</span>
        <!-- <span>分期宝</span> -->
      </div>
      <div class="gift-content margin-t-1">
        <span>80元</span>
        <span>&ge;10000元</span>
        <span>&ge; 30天</span>
        <!-- <span>月月盈</span> -->
      </div>
      <div class="gift-content margin-t-1">
        <span>135元</span>
        <span>&ge;30000元</span>
        <span>&ge; 30天</span>
        <!-- <span>月月盈</span> -->
      </div>
      <div class="gift-content margin-t-1">
        <span>388元</span>
        <span>&ge;100000元</span>
        <span>&ge; 30天</span>
        <!-- <span>月月盈</span> -->
      </div>
    </div>
  </div>
  <div class="step-two">
    <div class="step-btn" ui-sref="root.main({tab: 2})">
      <img src="/images/activity/invest.png" alt="">
    </div>
    <!-- <div class="step-btn" ui-sref="root.register">
      <img src="/images/activity/btn1.png" alt="">
      <div class="btn-text">新用户注册</div>
    </div> -->
  </div>
  <div class="padding-l-1 padding-r-1">
    <div class="list-tips">
      <div class="left-line fl"></div>
      <div class="tips-content">活动细则<i class="fa fa-angle-double-down margin-l-0p5"></i></div>
      <div class="right-line fr"></div>
    </div>
    <div class="rules-landing">
      <p>活动时间：2016年6月13日——2016年6月19日</p>
      <p>活动规则：</p>
      <div class="padding-l-1p5">
        <div class="all-rule">
          <span>1.</span>
          <span>本活动仅限未在宏财网投资过的用户参与（参与过体验金投资的用户可以参与）。</span>
        </div>

        <div class="all-rule">
          <span>2.</span>
          <span>投资即送现金。每档投资与赠送现金一一对应，最高可获得688元现金。</span>
        </div>
        <div class="all-rule">
          <span>3.</span>
          <span>每档额度赠送的现金，投资后立即充值到账，可随时提现或投资。</span>
        </div>
        <div class="all-rule">
          <span>4.</span>
          <span>每档投资对应的现金，只限活动期间首次投资该档时赠送。可选不同额度投资，分别获取对应现金。</span>
        </div>
        <div class="all-rule">
          <span>5.</span>
          <span>每档投资对应的现金，只限活动期间内单笔投资达到对应额度时赠送。</span>
        </div>
        <div class="all-rule">
          <span>6.</span>
          <span>投资返现活动每天有1000个返现名额。限额超出后，投资将不再返现。</span>
        </div>
        <div class="all-rule">
          <span>7.</span>
          <span>每个账号每天只返现1次。连续投资时，只对第一次满足返现条件的投资进行返现。</span>
        </div>
        <div class="all-rule">
          <span>8.</span>
          <span>活动最终解释权归宏财网所有。</span>
        </div>
        <div class="all-rule">
          <span>9.</span>
          <span>联系电话：400-990-7626。</span>
        </div>
      </div>
    </div>
    <div class="list-tips">
      <div class="left-line fl"></div>
      <div class="tips-content">关于我们<i class="fa fa-angle-double-down margin-l-0p5"></i></div>
      <div class="right-line fr"></div>
    </div>
    <div class="landing-bottom">
      <ul class="pagging-l-1">
        <li class="bg-white1 clearfix">
          <img class="fl" src="/images/activity/aboutus.png" alt="">
          <p class="fl">宏财介绍</p>
          <span class="fl">宏财网是一家国有企业战略投资的互联网金融平台，2016年A轮融资1亿元。</span>
        </li>
        <li class="bg-white1 clearfix">
          <img class="fl" src="/images/activity/product.png" alt="">
          <p class="fl">产品介绍</p>
          <span class="fl">精挑细选、小额投资标的、车辆房产、优质资产抵押。</span>
        </li>
        <li class="bg-white1 clearfix">
        <img class="fl" src="/images/activity/origin.png" alt="">
          <p class="fl">项目来源</p>
          <span class="fl">项目推荐方鑫融基金控集团，是新三板“金控”第一股和首家全牌照民间金融服务商。</span>
        </li>
        <li class="bg-white1 clearfix">
          <img class="fl" src="/images/activity/ensure.png" alt="">
          <p class="fl">本息保障</p>
          <span class="fl">政府参与出资、全国排名前三的民营担保机构提供担保，保障投资者权益。</span>
        </li>
        <li class="bg-white1 clearfix">
          <img class="fl" src="/images/activity/safe.png" alt="">
          <p class="fl">资金安全</p>
          <span class="fl">联合易宝支付打造了一套完整的资金支付与托管第三方账户体系。</span>
        </li>
      </ul>
    </div>
  </div>
</div>
