<!-- 渠道活动落地页 -->
<div class="channel" id="activity">
  <!-- 头部header -->
  <div class="box1">
    <img src="/images/channel-landing/channel-01.png" class="display-bl" width="100%">
    <img src="/images/channel-landing/channel-02.png" class="display-bl" width="100%">
    <img src="/images/channel-landing/channel-03.png" class="display-bl" width="100%">
    <img src="/images/channel-landing/channel-04.png" class="display-bl" width="100%">
    <img src="/images/channel-landing/channel-05.png" class="display-bl" width="100%">
  </div>
  <div class="sharing-content">
    <!-- 注册表单 -->
    <form autocomplete="off" class="invite-form margin-0" name="registerForm" autocomplete="on"  id="registerForm" novalidate>
      <div class="to-register">
        <!-- 手机号码 -->
        <input id="mobilesignup" name="mobile" ng-model="user.mobile" type="tel" placeholder="请输入您的手机号" required/>
        <!-- 图形验证码 -->
        <input id="picCaptcha" name="picCaptcha" ng-model="user.picCaptcha" required type="text" placeholder="请输入图形验证码" class="picCaptcha"/>
        <img src="{{getPicCaptcha}}" id="checkCaptcha" class="captchacode fr" ng-click="refreshCode()">
        <!-- 手机验证码 -->
        <input id="mobileCaptcha" name="captchasignup" ng-model="user.captcha" required="required" type="number" placeholder="请输入手机验证码" class="mobileCaptcha"/>
        <div id="mobilecode" capcha-countdown>获取</div>
      </div>
      <!-- 立即注册按钮 -->
      <div class="invited-btn" ng-click="signUp(user);">
      </div>
    </form>
  </div>
  <!-- 增信文案 -->
  <div class="box2">
    <img src="/images/channel-landing/channel-06.png" class="display-bl" width="100%">
    <img src="/images/channel-landing/channel-07.png" class="display-bl" width="100%">
    <img src="/images/channel-landing/channel-08.png" class="display-bl" width="100%">
    <img src="/images/channel-landing/channel-09.png" class="display-bl" width="100%">
    <img src="/images/channel-landing/channel-10.png" class="display-bl" width="100%">
    <img src="/images/channel-landing/channel-11.png" class="display-bl" width="100%">
    <img src="/images/channel-landing/channel-12.png" class="display-bl" width="100%">
    <img src="/images/channel-landing/channel-13.png" class="display-bl" width="100%">
    <img src="/images/channel-landing/channel-14.png" class="display-bl" width="100%">
    <img src="/images/channel-landing/channel-15.png" class="display-bl" width="100%">
    <img src="/images/channel-landing/channel-16.png" class="display-bl" width="100%">
    <img src="/images/channel-landing/channel-17.png" class="display-bl" width="100%">
    <img src="/images/channel-landing/channel-18.png" class="display-bl" width="100%">
  </div>
</div>
<!-- 受邀成功弹窗 -->
<div class="project-mask bg-grey6 channel-mask" auto-h id="successMask" ng-show="isSuccess">
  <div class="successMask text-center">
    <img src="/images/channel-landing/register-01.png" alt="" width="70%">
    <img src="/images/channel-landing/register-02.png" alt="" width="70%">
    <img src="/images/channel-landing/register-03.png" alt="" width="43%">
    <img src="/images/channel-landing/register-04.png" alt="" width="80%">
    <!-- 立即查收按钮：点击按钮跳转至app下载页，iOS跳转至App Store，安卓跳至应用宝； -->
    <img src="/images/channel-landing/register-05.png" alt="" width="94%" ng-click="successMask()" onClick="javascript:window.location.href='http://a.app.qq.com/o/simple.jsp?pkgname=com.hoolai.hongcai'">
  </div>
</div>