<!-- 投资送加息券落地页 -->
<div class="activity-landing">
  <div class="position-re top-img">
    <img src="/images/activity/top4.jpg" alt="" width="100%">
    <p class="position-ab deadline">2016年9月30日—2016年10月15日</p>
  </div>
  <div class="part-two">
    <img class="one" src="/images/activity/22.png" alt="" width="80%">
    <div class="tip padding-l-1 padding-r-1 position-re">
      <img src="/images/activity/tip.png" alt="" width="100%">
      <p class="position-ab">每次投资宏金保30天（含）以上，且投资金额&ge;10000元项目，均可获得一张2%加息券</p>
    </div>
    <div class="example padding-l-1p5 padding-r-1p5">
      <p>举个栗子：</p>
      <p>王先生在9月30日投资10000元，获得一张2%加息券；</p>
      <p>王先生在10月1日，使用加息券投资30天项目3万元，<span>本次投资王先生将获得：246.58元。</span></p>
    </div>
    <div class="red-packet position-re">
      <p class="position-ab">原始收益</p>
      <img src="/images/activity/red-packet1.png" alt="" width="100%">
      <p class="formula position-ab left1">30000×8%÷365×30=197.26元</p>
    </div>
      <img class="add" src="/images/activity/add.png" alt="">
    <div class="red-packet position-re">
      <p class="position-ab">加息收益</p>
      <img src="/images/activity/red-packet1.png" alt="" width="100%">
      <p class="formula position-ab left2">30000×2%÷365×30=49.32元</p>
    </div>
      <img class="add" src="/images/activity/equal2.png" alt="">
    <div class="red-packet position-re">
      <p class="position-ab">全部收益</p>
      <img src="/images/activity/red-packet1.png" alt="" width="100%">
      <p class="formula position-ab left3">197.26元+49.32元=246.58元</p>
    </div>
    <div class="step-two bg-yellow6 padding-b-1p6">
      <div class="step-btn" ui-sref="root._main-list-temp">
        <img src="/images/activity/invest3.png" alt="">
      </div>
    </div>
    <div class="padding-l-1 padding-r-1">
      <div class="list-tips">
        <div class="left-line fl border-b-red"></div>
        <div class="tips-content font-red">使用规则<i class="fa fa-angle-double-down margin-l-0p5"></i></div>
        <div class="right-line fr border-b-red"></div>
      </div>
      <div class="rules-landing ft-grey5 ft-1p4 margin-t-1 padding-b-1p5 overflow-aut">
        <p>1、投资宏金保30天（含）以上，且投资金额&ge;10000元项目，均可获得2%加息券一张，有效期为15天；</p>
        <p>2、加息券仅限投资宏金保30天（含）以上项目，不可叠加使用；</p>
        <p>3、加息券详细信息请在“<span class="font-red font-bold">我的账户——资金信息——加息券</span>”中查看；</p>
        <p>4、本活动最终解释权归宏财网所有，服务热线：400-990-7626。</p>
      </div>
    </div>
  </div>
  <div class="step-three">
    <img src="/images/activity/cambered2.png" alt="" width="100%">
    <img src="/images/activity/23.png" alt="" width="30%">
  </div>
  <div class="padding-l-1 padding-r-1">
    <div class="list-tips">
      <div class="left-line fl"></div>
      <div class="tips-content">关于宏财<i class="fa fa-angle-double-down margin-l-0p5"></i></div>
      <div class="right-line fr"></div>
    </div>
    <div class="landing-bottom">
      <ul class="pagging-l-1">
        <li class="bg-white1 clearfix">
          <img class="fl" src="/images/activity/aboutus.png" alt="">
          <p class="fl">宏财介绍</p>
          <span class="fl">宏财网是一家国有企业战略投资的互联网金融平台，2016年A轮融资1亿元。</span>
        </li>
        <li class="bg-white1 clearfix">
          <img class="fl" src="/images/activity/product.png" alt="">
          <p class="fl">产品介绍</p>
          <span class="fl">精挑细选、小额投资标的，车辆房产、优质资产抵押。</span>
        </li>
        <li class="bg-white1 clearfix">
        <img class="fl" src="/images/activity/origin.png" alt="">
          <p class="fl">项目来源</p>
          <span class="fl">项目推荐方鑫融基金控集团，是新三板“金控”第一股和首家全牌照民间金融服务商。</span>
        </li>
        <li class="bg-white1 clearfix">
          <img class="fl" src="/images/activity/ensure.png" alt="">
          <p class="fl">本息保障</p>
          <span class="fl">政府参与出资、全国排名前三的民营担保机构提供担保，保障投资者权益。</span>
        </li>
        <li class="bg-white1 clearfix">
          <img class="fl" src="/images/activity/safe.png" alt="">
          <p class="fl">资金安全</p>
          <span class="fl" ng-if="payCompany === 'yeepay'">联合易宝支付打造一套完整的资金支付与托管第三方账户体系。</span>
          <span class="fl" ng-if="payCompany === 'cgt'">联合北京网贷存管通打造一套完整的风险监控及资金存管系统。</span>
        </li>
      </ul>
      <div class="explain">
        <p>北京竞财投资服务有限公司</p>
        <p class="ft-1p2">京ICP备15025477号-1</p>
      </div>
    </div>
  </div>
  <img class="img-bottom" src="/images/activity/img-bottom.png" alt="" width="100%">
</div>
