<div class="activity bg-offred">
  <div class="position-re">
  <img src="/images/activity/code01.jpg" alt="" width="100%">
  <div class="input-code">
    <img src="/images/activity/code05.png" alt=""><input type="text" placeholder="请输入串码">
  </div>
  <div class="code-grade">
    10000体验金
  </div>
  </div>
  <div class="bg-offred padding-l-2 padding-r-2 input-msg bg-code">
    <div class="margin-0 activity-input clear">
      <!-- <label for="username">  </label> -->
      <input id="username" class="border-ra-full border-red" name="username" required="required" type="tel" ng-model="user.account" placeholder="请输入手机号">
      <br>
      <p class="border-red border-ra-full fl width-full">
        <input type="number" placeholder="请输入验证码" class="border-ra-left">
        <label for="" class="border-ra-right">获取验证码</label>
      </p>
      <button class="button-code"><img src="/images/activity/code03.png"></button>
    </div>
  </div>
</div>
