<div class="activity">
  <img src="/images/activity/activity-001.jpg" alt="" width="100%">
  <div class="bg-offred padding-l-1 padding-r-1 input-msg">
    <div class="margin-0 activity-input clear">
      <!-- <label for="username">  </label> -->
      <input id="username" class="border-grey" name="username" required="required" type="tel" ng-model="user.account" placeholder="请输入手机号" autofocus>
      <br>
      <p>
        <input type="number" placeholder="请输入验证码">
        <label for="">获取验证码</label>
      </p>
      <button class="button-experience"><img src="/images/activity/activity-003.png"></button>
    </div>
  </div>
  <div class="activity-rule">
    <div class="rule">
      <img src="/images/activity/activity-005.jpg" width="100%">
      <h4>新手体验金活动规则</h4>
      <p>1.活动时间：2015年10月24日-11月30日；</p>
      <p>2.使用限制：活动时间内注册的新用户，限“新手标”投资使用；</p>
      <p>3.赠送金额：1000元/人，用户中心“红包”进行查看；</p>
      <p>4.收益说明：1000元*（年化收益/365）*7日=预计收益；</p>
      <p>5.赎回说明：到期当日，宏财网收回赠金，用户利益返还至余额账户；</p>
      <p>6.提现说明：预计T+1到账。具体时间请咨询您绑定卡所属银行；</p>
      <p>7.本活动最终解释权归宏财网所有，如有疑问，欢迎咨询官方客服电话：400-990-7626（客服工作时间：9:00-18:00）</p>

    </div>
    <img src="/images/activity/activity-006.jpg" width="100%">
  </div>
</div>
