<div class="activity bg-offred">
  <img src="/images/activity/activity-007.jpg" alt="" width="100%">
  <p class="width-full margin-b-0"><img ng-src="/images/activity/{{imgSrc}}" width="100%"></p>
  <div class="bg-offred padding-l-2 padding-r-2 input-msg">
    <div class="margin-0 activity-input clear">
      <!-- <label for="username">  </label> -->
      <input id="username" class="border-ra-full border-red" name="username" required="required" type="tel" ng-model="user.account" placeholder="请输入手机号" autofocus>
      <br>
      <p class="border-red border-ra-full fl width-full">
        <input type="number" placeholder="请输入验证码" class="border-ra-left">
        <label for="" class="border-ra-right">获取验证码</label>
      </p>
      <button class="button-experience"><img src="/images/activity/activity-003.png"></button>
    </div>
  </div>
  <div class="activity-rule">
    <div class="rule">
      <img src="/images/activity/activity-005.jpg" width="100%">
      <h4>新手体验金活动规则</h4>
      <p>1.注册即送4000元体验金；充入任意金额现金，再送 {{moneyTest}} 元体验金；</p>
      <p>2.赠送体验金，仅限活动期间内注册的新用户；</p>
      <p>3.体验金仅限“零存宝”投资使用。到期后体验金收回，收益用户可直接提现。提现后，预计第二个工作日24点前到帐；</p>
      <p>4.活动有效期：2015年12月1日——2015年12月31日；</p>
      <p>5.本活动最终解释权归宏财网所有；</p>
      <p class="padding-b-3">6.官方客服电话：400-990-7626。（客服工作时间：9:00—18:00）。</p>
    </div>
    <p class="bg-exinner"><img src="/images/activity/activity-006.png" width="100%"></p>
  </div>
</div>
