<div class="activity bg-main">
  <div class="position-re">
    <img src="/images/activity/11.jpg" alt="" width="100%">
    <div class="new-user" ui-sref="root.register">
    </div>
    <div class="old-user" ui-sref="root.userCenter.recharge">
    </div>
  </div>
  <div class="position-re">
    <!-- <img src="/images/activity/12.jpg" width="100%"> -->
    <div class="landing-rule">
      <h4>活动规则</h4>
      <p>1.老用户充入任意金额现金，即可获得5000元体验金。 </p>
      <p>2.新用户注册即送13888元体验金。充入任意金额现金，再送5000元体验金。</p>
      <p>3.活动期间，仅限注册或首次充值，赠送体验金。</p>
      <p>4.体验金仅限“体验金新手标”投资使用。到期后体验金收回，收益用户可直接提现。 </p>
      <p>5.活动有效期：2016年04月14日——2016年05月14日。</p>
      <p>6.本活动最终解释权归宏财网所有。</p>
    </div>
  </div>
</div>
