<div class="activity bg-main">
  <div class="position-re">
    <img src="/images/activity/21.jpg" alt="" width="100%">
    <!-- <div class="new-user" ui-sref="root.register">
    </div>
    <div class="old-user" ui-sref="root.userCenter.recharge">
    </div> -->
    <div class="go-register" ui-sref="root.register"></div>
  </div>
  <div class="position-re">
    <!-- <img src="/images/activity/12.jpg" width="100%"> -->
    <div class="landing-rule">
      <h4>活动规则</h4>
      <p>1、新用户注册即送8888元体验金；</p>
      <p>2、体验金仅限“体验金专享标”投资使用。到期后，用户可提取体验金产生的收益部分，体验金由宏财网回收。</p>
      <p>3、活动有效期：2016.08.15-2016.09.14；</p>
      <p>4、本活动最终解释权归宏财网所有；</p>
      <p>5、客服热线：400-990-7626。</p>
    </div>
  </div>
</div>
