<div class="activity bg-offred">
  <img src="/images/activity/activity-007.jpg" alt="" width="100%">
  <img ng-src="{{imgSrc}}" width="100%" >
  <div class="bg-offred padding-l-2 padding-r-2 input-msg">
    <div class="margin-0 activity-input clear">
      <!-- <label for="username">  </label> -->
      <input id="usermobile" class="border-ra-full border-red" name="usermobile" required="required" type="tel" ng-model="user.mobile" placeholder="请输入手机号" ng-pattern="/^((13[0-9])|(15[^4,\D])|(18[0-9])|(17[0-9])|(14[0-9]))\d{8}$/">
      <br>
      <p class="border-red border-ra-full fl width-full">
        <input type="number" placeholder="请输入验证码" class="border-ra-left" ng-model="user.captcha" >
        <label for="" class="border-ra-right" onclick="countDown(this,60,'out');" ng-click="sendMobileCaptcha(user);" >获取验证码</label>
      </p>
      <button class="button-experience" ng-click="register(user)" my-click-once><img src="/images/activity/activity-003.png"></button>
    </div>
  </div>
  <img src="/images/activity/wcode2.png" alt="" width="100%">
  <div class="activity-rule">
    <div class="rule">
      <img src="/images/activity/activity-005.jpg" width="100%">
      <h4>新手体验金活动规则</h4>
      <p>1.注册即送4000元体验金；充入任意金额现金，再送 {{money}} 元体验金；</p>
      <p>2.赠送体验金，仅限活动期间内注册的新用户；</p>
      <p>3.体验金仅限“零存宝”投资使用。到期后体验金收回，收益用户可直接提现。提现后，预计第二个工作日24点前到帐；</p>
      <p>4.活动有效期：2015年12月17日——2016年1月31日；</p>
      <p>5.本活动最终解释权归宏财网所有；</p>
      <p class="padding-b-3">6.官方客服电话：400-990-7626。（客服工作时间：9:00—18:00）。</p>
    </div>
    <p class="bg-exinner"><img src="/images/activity/activity-006.png" width="100%"></p>
  </div>
</div>
<script>
function countDown(obj, second, inOrOut) {
  var getMobile = document.getElementById("usermobile");
  var mobilePattern = /^((13[0-9])|(15[^4,\D])|(18[0-9])|(17[0678])|(14[0-9]))\d{8}$/;

  if (inOrOut === 'out' && window.buttonFlag == 0) {
    return;
  }

  // 如果秒数还是大于0，则表示倒计时还没结束
  if (mobilePattern.test(getMobile.value)) {
    if (second >= 0) {
      // 获取默认按钮上的文字

      if (typeof buttonDefaultValue === 'undefined') {
        buttonDefaultValue = obj.defaultValue;
      }
      // 按钮置为不可点击状态
      obj.disabled = true;
      window.buttonFlag = 0;
      // 按钮里的内容呈现倒计时状态
      //obj.value = buttonDefaultValue + '(' + second + ')';
      obj.innerHTML = "重新发送" + "(" + second + ")";
      obj.className = 'col-md-4 col-lg-4 white-button border-grey-bottom ft-grey7 padding-0 u-pull-right';
      // 时间减一
      second--;
      // 一秒后重复执行
      setTimeout(function() {
        countDown(obj, second, 'in');
      }, 1000);
      // 否则，按钮重置为初始状态
    } else {
      // 按钮置为可点击状态
      obj.disabled = false;
      window.buttonFlag = 1;
      // 按钮里的内容恢复初始状态
      obj.className = 'col-md-4 col-lg-4 border-none padding-0 u-pull-right';
      obj.innerHTML = "发送验证码";
    }
  } else {
    obj.disabled = true;
    window.buttonFlag = 0;
  }
}
</script>
