<div class="invite">
	<div>
		<img src="/images/invite/invite01.png" class="display-bl" width="100%">
	</div>
	<div class="position-re">
		<img src="/images/invite/invite02.png" class="display-bl" width="100%">
	</div>
	<div>
		<img src="/images/invite/invite03.png" class="display-bl" width="100%">
	</div>
	<div>
		<img src="/images/invite/invite04.png" class="display-bl" width="100%">
	</div>
	<div>
		<img src="/images/invite/invite05.png" class="display-bl" width="100%">
	</div>
	<div>
		<img src="/images/invite/invite06.png" class="display-bl" width="100%">
	</div>
	<!-- 邀请好友为0 -->
	<div class="position-re">
		<p  class="invite-btn" ng-click="toInvite();"></p>
		<img src="/images/invite/invite07.png" class="display-bl" width="100%">
	</div>
	<!-- 邀请好友>0 && 活动停止 -->
	<div class="position-re" ng-if="false">
		<p  class="invite-list" ng-click="toInviteList();"></p>
		<p  class="invite-btn1"></p>
		<img src="/images/invite/invite07-1.png" class="display-bl" width="100%">
	</div>
	<!-- 邀请好友>0 && 活动进行中 -->
	<div class="position-re" ng-if="false">
		<p  class="invite-list" ng-click="toInviteList();"></p>
		<p  class="invite-btn1"></p>
		<img src="/images/invite/invite07-2.png" class="display-bl" width="100%">
	</div>

</div>