<!-- 活动分享落地页 -->
<div class="invite-sharing">
	<!-- 头部header -->
	<div>
		<img src="/images/invite/invite-sharing-header01.png" class="display-bl" width="100%">
		<img src="/images/invite/invite-sharing-header02.png" class="display-bl" width="100%">
		<img src="/images/invite/invite-sharing-header03.png" class="display-bl" width="100%">
		<img src="/images/invite/invite-sharing-header04.png" class="display-bl" width="100%">
		<img src="/images/invite/invite-sharing-header05.png" class="display-bl" width="100%">
		<img src="/images/invite/invite-sharing-header06.png" class="display-bl" width="100%">
		<img src="/images/invite/invite-sharing-header07.png" class="display-bl" width="100%">
		<img src="/images/invite/invite-sharing-header08.png" class="display-bl" width="100%">
		<img src="/images/invite/invite-sharing-header09.png" class="display-bl" width="100%">
	</div>
	<div class="sharing-content">
		<!-- 注册表单 -->
		<form autocomplete="off" class="invite-form margin-0" name="registerForm" autocomplete="on"  id="registerForm" novalidate>
	    <div class="to-register">
	      <!-- 手机号码 -->
	      <input id="mobilesignup" name="mobile" ng-model="user.mobile" type="tel" placeholder="请输入您的手机号" required/>
	      <!-- 图形验证码 -->
	      <input id="picCaptcha" name="picCaptcha" ng-model="user.picCaptcha" required type="text" placeholder="请输入图形验证码" class="picCaptcha"/>
	      <img src="{{getPicCaptcha}}" id="checkCaptcha" class="captchacode fr" ng-click="refreshCode()">
	      <!-- 手机验证码 -->
	      <input id="mobileCaptcha" name="captchasignup" ng-model="user.captcha" required="required" type="number" placeholder="请输入手机验证码" class="mobileCaptcha"/>
	      <div id="mobilecode" capcha-countdown>获取</div>
	    </div>
	    <!-- 接受邀请按钮 -->
	    <div class="invited-btn">
	    	<img src="/images/invite/invite-sharing-btn.png" alt="">
	    </div>
	  </form>

	  <!-- 已领取礼包好友 -->
	  <div class="received-lists">
	  	<!-- 图片 -->
	  	<div class="taked-icon text-center margin-t-3"><img src="/images/invite/invite-sharing-taked.png" alt="" width="28%"></div>
	  	<!-- 领取好友列表 只显示最新的10条-->
	  	<ul class="lists">
	  		<li class="border-none">
	  			<p><span>153****1432</span> <span>2016.9.8 12:00</span></p>
	  			<p>自从领了礼包，腰不酸了腿也不疼了~</p>
	  		</li>
	  		<li>
	  			<p><span>153****1432</span> <span>2016.9.8 12:00</span></p>
	  			<p>从此跟着土豪迈向人生巅峰！</p>
	  		</li>
	  		<li>
	  			<p><span>153****1432</span> <span>2016.9.8 12:00</span></p>
	  			<p>从此跟着土豪迈向人生巅峰！</p>
	  		</li>
	  		<li>
	  			<p><span>153****1432</span> <span>2016.9.8 12:00</span></p>
	  			<p>从此跟着土豪迈向人生巅峰！</p>
	  		</li>
	  		<li>
	  			<p><span>153****1432</span> <span>2016.9.8 12:00</span></p>
	  			<p>从此跟着土豪迈向人生巅峰！</p>
	  		</li>
	  		<li>
	  			<p><span>153****1432</span> <span>2016.9.8 12:00</span></p>
	  			<p>从此跟着土豪迈向人生巅峰！</p>
	  		</li>
	  		<li>
	  			<p><span>153****1432</span> <span>2016.9.8 12:00</span></p>
	  			<p>从此跟着土豪迈向人生巅峰！</p>
	  		</li>
	  		<li>
	  			<p><span>153****1432</span> <span>2016.9.8 12:00</span></p>
	  			<p>从此跟着土豪迈向人生巅峰！</p>
	  		</li>
	  		<li>
	  			<p><span>153****1432</span> <span>2016.9.8 12:00</span></p>
	  			<p>从此跟着土豪迈向人生巅峰！</p>
	  		</li>
	  		<li>
	  			<p><span>153****1432</span> <span>2016.9.8 12:00</span></p>
	  			<p>从此跟着土豪迈向人生巅峰！</p>
	  		</li>
	  	</ul>
	  </div>

	  <!-- 友情提示 -->
		<div class="friend-tip">
			<!-- 图片 -->
		  <div class="taked-icon text-center margin-t-2"><img src="/images/invite/invite-sharing-tips.png" alt="" width="28%"></div>
		  <div class="tip-box">
		  	<div class="tip">
		  		同一手机号、身份证号的新用户，只享受一次合伙人礼包，不可重复获得。
		  	</div>
		  </div>
		</div>
	</div>
</div>

<!-- 注册之后活动结束 -->
<div class="project-mask" auto-h ng-show="false">
	<img src="/images/invite/offline01.png" width="100%" class="display-bl">
	<img src="/images/invite/offline02.png" width="100%" class="display-bl">
	<img src="/images/invite/offline03.png" width="100%" class="display-bl">
	<img src="/images/invite/offline04.png" width="100%" class="display-bl">
	<img src="/images/invite/offline05.png" width="100%" class="display-bl">
	<img src="/images/invite/offline06.png" width="100%" class="display-bl">
	<img src="/images/invite/offline07.png" width="100%" class="display-bl">
	<img src="/images/invite/offline08.png" width="100%" class="display-bl">
	<img src="/images/invite/offline09.png" width="100%" class="display-bl">
	<img src="/images/invite/offline10.png" width="100%" class="display-bl">
	<img src="/images/invite/offline11.png" width="100%" class="display-bl">
	<div class="offline-bg"></div>
</div>

<!-- 受邀成功弹窗 -->
<div class="project-mask bg-grey6" id="successMask" ng-show="isSuccess" ng-init="isSuccess = true">
	<div class="successMask text-center">
		<img src="/images/invite/register-01.png" alt="" width="70%">
		<img src="/images/invite/register-02.png" alt="" width="70%">
		<img src="/images/invite/register-03.png" alt="" width="43%">
		<img src="/images/invite/register-04.png" alt="" width="80%">
		<!-- 立即查收按钮：点击按钮跳转至app下载页，iOS跳转至App Store，安卓跳至应用宝； -->
		<img src="/images/invite/register-05.png" alt="" width="94%">
	</div>
</div>

