<!-- 幸运大转盘 -->
<div class="lottery padding-b-3">
	<div class="lottery-wrap">
		<div class="draw-lottery">
			<p class="text-center">今日可抽奖次数：<span class="draw-count">1</span>次</p>
			<!-- 抽奖转盘 -->
			<div class="lottery-box" id="js-rect-luck-draw-con">
				<div class="lottery-item js-item selecting" data-sort="1" data-prize-id="1">
					<img src="/images/lottery/one-day-rate.png" alt="">
					<span class="item-mask"></span>
				</div>
				<div class="lottery-item js-item selecting" data-sort="2" data-prize-id="2">
					<img src="/images/lottery/cash.png" alt="">
					<span class="item-mask"></span>
				</div>
				<div class="lottery-item js-item selecting" data-sort="3" data-prize-id="3">
					<img src="/images/lottery/rate-coupon.png" alt="">
					<span class="item-mask"></span>
				</div>
				<div class="lottery-item js-item selecting" data-sort="8" data-prize-id="4">
					<img src="/images/lottery/privilege.png" alt="">
					<span class="item-mask"></span>
				</div>
				<div class="lottery-item js-start-btn">
					<img src="/images/lottery/draw.png" alt="">
				</div>
				<div class="lottery-item js-item selecting" data-sort="4" data-prize-id="5">
					<img src="/images/lottery/cash-coupon.png" alt="">
					<span class="item-mask"></span>
				</div>
				<div class="lottery-item js-item selecting" data-sort="7" data-prize-id="6">
					<img src="/images/lottery/thanks.png" alt="">
					<span class="item-mask"></span>
				</div>
				<div class="lottery-item js-item selecting" data-sort="6" data-prize-id="7">
					<img src="/images/lottery/one-day-rate.png" alt="">
					<span class="item-mask"></span>
				</div>
				<div class="lottery-item js-item selecting" data-sort="5" data-prize-id="8">
					<img src="/images/lottery/privilege.png" alt="">
					<span class="item-mask"></span>
				</div>
			</div>
		</div>
		<div class="lottery-other">
			<p class="display-inb">活动规则</p>
			<p class="display-inb">我的奖励</p>
		</div>
		<!-- 幸运用户 -->
		<div class="lucky-users">
			<img src="/images/lottery/title-lucky-users.png" alt="" width="48%">
			<div class="lucky-users-wrap">
				<ul class="margin-b-0">
					<li class="text-justify"><span>恭喜133****9895</span>获得+0.1%当日加息</li>
					<li class="text-justify"><span>恭喜133****9895</span>获得特权本金666元</li>
					<li class="text-justify"><span>恭喜133****9895</span>获得+0.1%当日加息</li>
					<li class="text-justify"><span>恭喜133****9895</span>获得特权本金666元</li>	
					<li class="text-justify"><span>恭喜133****9895</span>这是第5条</li>
					<li class="text-justify"><span>恭喜133****9895</span>获得特权本金666元</li>	
					<li class="text-justify"><span>恭喜133****9895</span>获得+0.1%当日加息</li>
					<li class="text-justify"><span>恭喜133****9895</span>获得特权本金666元</li>	
					<li class="text-justify"><span>恭喜133****9895</span>获得+0.1%当日加息</li>
					<li class="text-justify"><span>恭喜133****9895</span>10</li>	
					<li class="text-justify"><span>恭喜133****9895</span>获得+0.1%当日加息</li>
					<li class="text-justify"><span>恭喜133****9895</span>获得特权本金666元</li>
					<li class="text-justify"><span>恭喜133****9895</span>获得+0.1%当日加息</li>
					<li class="text-justify"><span>恭喜133****9895</span>获得特权本金666元</li>	
					<li class="text-justify"><span>恭喜133****9895</span>这是第15条</li>
					<li class="text-justify"><span>恭喜133****9895</span>获得特权本金666元</li>	
					<li class="text-justify"><span>恭喜133****9895</span>获得+0.1%当日加息</li>
					<li class="text-justify"><span>恭喜133****9895</span>获得特权本金666元</li>	
					<li class="text-justify"><span>恭喜133****9895</span>获得+0.1%当日加息</li>
					<li class="text-justify"><span>恭喜133****9895</span>20</li>	
					<li class="text-justify"><span>恭喜133****9895</span>获得+0.1%当日加息</li>
					<li class="text-justify"><span>恭喜133****9895</span>获得特权本金666元</li>
					<li class="text-justify"><span>恭喜133****9895</span>获得+0.1%当日加息</li>
					<li class="text-justify"><span>恭喜133****9895</span>获得特权本金666元</li>	
					<li class="text-justify"><span>恭喜133****9895</span>这是第25条</li>
					<li class="text-justify"><span>恭喜133****9895</span>获得特权本金666元</li>	
					<li class="text-justify"><span>恭喜133****9895</span>获得+0.1%当日加息</li>
					<li class="text-justify"><span>恭喜133****9895</span>获得特权本金666元</li>	
					<li class="text-justify"><span>恭喜133****9895</span>获得+0.1%当日加息</li>
					<li class="text-justify"><span>恭喜133****9895</span>30</li>	
					<li class="text-justify"><span>恭喜133****9895</span>获得+0.1%当日加息</li>
					<li class="text-justify"><span>恭喜133****9895</span>获得特权本金666元</li>
					<li class="text-justify"><span>恭喜133****9895</span>获得+0.1%当日加息</li>
					<li class="text-justify"><span>恭喜133****9895</span>获得特权本金666元</li>	
					<li class="text-justify"><span>恭喜133****9895</span>这是第5条</li>	
				</ul>
			</div>
			<p class="text-center ft-1p2 ft-black margin-t-3 margin-b-0 padding-b-1">该活动与设备生产商Apple Inc. 公司无关</p>
		</div>
	</div>
</div>
<!-- <div ng-click="showDrawBox1 = true;showDrawBox2 = false;showDrawBox3 = false;showDrawBox = true;showRuleBox = false;">中奖弹窗1——抽奖 获得奖励</div>
<div ng-click="showDrawBox2 = true;showDrawBox1 = false;showDrawBox3 = false;showDrawBox = true;showRuleBox = false;">中奖弹窗2——抽奖次数达上限，欢迎明日再来！</div>
<div ng-click="showDrawBox3 = true;showDrawBox1 = false;showDrawBox2 = false;showDrawBox = true;showRuleBox = false;">中奖弹窗3——今日次数用完需分享</div>
<div ng-click="showRuleBox = true;showDrawBox = false;">活动规则</div> -->
<!-- 中奖弹窗 -->
<div class="share-page-breakWishLayer bg-grey0p8" ng-show="showDrawBox">
	<div class="draw-box">
		<!-- 抽奖 获得奖励-->
		<div class="receive-draw" ng-show="showDrawBox1">
			<img src="/images/lottery/receive-draw-01.png" alt="恭喜您获得奖励!" width="55%">
			<div class="getPrize">
				<p>2.88%</p>
				<p>加息一天</p>
			</div>
			<div class="prize-effect">奖励已自动生效, 成功为您加息!</div>
			<!-- 第一次抽奖 未分享 出现 ；第二次获得奖励 隐藏 -->
			<img src="/images/lottery/share-friends.png" alt="分享好友，再抽一次" width="42%">
		</div>
		<!-- 抽奖次数达上限，欢迎明日再来！ -->
		<div class="upper-limit" ng-show="showDrawBox2">
			<img src="/images/lottery/upper-limit-01.png" alt="抽奖次数达上限，欢迎明日再来！" width="65%">
			<img src="/images/lottery/upper-limit-02.png" alt="明日见" width="45%" class="margin-t-4">
		</div>
		<!-- 今日次数用完需分享 -->
		<div class="usedAndcanShare" ng-show="showDrawBox3">
			<img src="/images/lottery/usedAndcanShare-01.png" alt="今日免费抽奖机会已使用！分享好友可再获一次免费抽奖机会" width="75%">
			<img src="/images/lottery/usedAndcanShare-02.png" alt="分享好友，再抽一次" width="38%" class="margin-t-1">
		</div>
		<img src="/images/lottery/close-drawBox.png" alt="关闭中奖弹窗" width="8%" ng-click="showDrawBox = false;">
	</div>
</div>
<!-- 活动规则 -->
<div class="share-page-breakWishLayer bg-grey0p8 text-center" ng-show="showRuleBox">
	<div class="rule-box">
		<div class="rule-title">
			<img src="/images/lottery/rule-title.png" alt="活动规则" width="50%">
			<img src="/images/lottery/rule-title-portrait.png" alt="宏财宝宝" width="12%" class="hongcai-portrait">
		</div>
		<div class="rule-bg">
			<div class="rule-content">
				<p>1.每人每天拥有1次免费抽奖机会，首次分享幸运大转盘到第三方平台，可再获得1次免费抽奖机会；</p>
				<p>2.您可在【我的奖励】中查看自己最近两周内的中奖情况；</p>
				<p>3.抽中的当日加息奖励系统将自动为您使用，次日即可获得奖励收益，加息仅针对您当日宏财精选及宏财尊贵项目在投总资产有效，包含当日新增投资，不含购买的债权转让项目及已经成功转让的资产；</p>
				<p>4.抽中的特权本金、返现、现金券及加息券奖励将直接发放至您的账户中，可在【我的】页面相应位置查看；</p>
				<p>5.所有奖励均可叠加获得；</p>
				<p>6.在法律规定范围内，平台保留本活动最终解释权；</p>
				<p>7.如有更多相关问题，可致电详询<br>
					客服电话：400-990-7626 <br>
					服务时间：工作日9:00-18:00
				</p>
			</div>
		</div>
	</div>
	<img src="/images/lottery/close-drawBox.png" alt="关闭弹窗" width="8%" ng-click="showRuleBox = false;">
</div>
