<div class="moca-awaken">
	<img src="/images/moca/moca1.png" width="100%" class="display-bl">
	<img src="/images/moca/moca2.png" width="100%" class="display-bl">
	<img src="/images/moca/moca3.png" width="100%" class="display-bl">
	<img src="/images/moca/moca4.png" width="100%" class="display-bl">
	<img src="/images/moca/moca5.png" width="100%" class="display-bl">
	<img src="/images/moca/moca6.png" width="100%" class="display-bl">
	<img src="/images/moca/moca7.png" width="100%" class="display-bl">
	<img src="/images/moca/moca8.png" width="100%" class="display-bl">
	<img src="/images/moca/moca9.png" width="100%" class="display-bl">
	<img src="/images/moca/moca10.png" width="100%" class="display-bl">
	<img src="/images/moca/moca11.png" width="100%" class="display-bl">
	<img src="/images/moca/moca12.png" width="100%" class="display-bl">
	<img src="/images/moca/moca13.png" width="100%" class="display-bl">
	<img src="/images/moca/moca14.png" width="100%" class="display-bl">
	<img src="/images/moca/moca15.png" width="100%" class="display-bl">
	<img src="/images/moca/moca16.png" width="100%" class="display-bl">
	<div class="take-btn margin-t-5">
		<button class="text-center"  onclick="javascript:window.location.href='http://a.app.qq.com/o/simple.jsp?pkgname=com.hoolai.hongcai'">领取壕礼</button>
	</div>
	<img src="/images/moca/moca18.png" width="100%" class="display-bl">
	<img src="/images/moca/moca19.png" width="100%" class="display-bl">
	<img src="/images/moca/moca20.png" width="100%" class="display-bl">
</div>