<!-- 新邀请活动 -->
<div class="invite-act">
  <img src="/images/activity/invite-top.png" width="100%" class="dispaly-inb margin-b-1">
  <div class="abstract padding-l-1 padding-r-1">
    <div class="border-blue position-re padding-t-3 padding-b-1 margin-b-4 unit1">
      <div class="invite-tit margin-auto position-ab">
        <p class="margin-b-0 text-center ft-bold ft-1p6">活动时间：2016.10.08-2016.10.31</p>
      </div>
      <p class="margin-b-0 ft-1p4 content ft-black2">活动期间内邀请好友注册投资，该好友在活动期间累计投资宏金保项目（期限&ge;30天）达2500元（含）以上且投资两次（不包含体验标）以上，邀请人即可获得邀请奖金80元，奖金总额上不封顶，同时被邀请人也可获得最高45元投资返现。</p>
    </div>
    <div class="border-blue position-re  padding-t-3 padding-b-1 margin-b-4 unit2 unit1">
      <div class="invite-tit margin-auto position-ab">
        <p class="margin-b-0 text-center ft-bold ft-1p6">举个栗子</p>
      </div>
      <p class="margin-b-1 ft-1p4 content ft-black2 margin-b-1">李雷邀请好友韩梅梅注册投资，韩梅梅在活动期间内分两天投资宏金保项目2000元，500元，则李雷可获得邀请奖金80元，韩梅梅可分别获得35元、10元投资返现。</p>
      <div class="text-center example">
        <img src="/images/activity/invite-example.png" width="60%" class="dispaly-inb margin-auto margin-b-2">
      </div>
      <p class="inv-btn text-center margin-auto ft-white ft-bold" ng-click="toCopyLink()">立即赚奖金</p>
    </div>
    <div class="border-blue position-re  padding-t-3 padding-b-1 unit3 unit1">
      <div class="invite-tit margin-auto position-ab">
        <p class="margin-b-0 text-center ft-bold ft-1p6">活动规则</p>
      </div>
      <p class="margin-b-0 ft-1p4 content ft-black2">1、邀请关系认定：好友注册时填写邀请人手机号或通过邀请人的专属链接（或二维码）注册。</p>
      <p class="margin-b-0 ft-1p4 content ft-black2">2、邀请奖金自动发放至邀请人宏财账户，邀请人可在账户“资金流水”中查看，该奖金可立即提现；</p>
      <p class="margin-b-0 ft-1p4 content ft-black2">3、活动中如发现通过非正常手段恶意获取奖金，宏财网保留不派发奖金的权利；</p>
      <p class="margin-b-0 ft-1p4 content ft-black2">4、本活动最终解释权归宏财网所有。客服热线：</p>
      <p class="margin-b-0 ft-1p4 content ft-black2">400-990-7626</p>
    </div>
    <div class="padding-t-2 unit4 unit1">
      <div class="invite-tit margin-auto margin-b-1">
        <p class="margin-b-0 text-center ft-bold ft-1p6">关于宏财</p>
      </div>
      <div class="landing-bottom">
        <ul class="pagging-l-1">
          <li class="clearfix">
            <img class="fl" src="/images/activity/aboutus.png" alt="">
            <p class="fl margin-b-0">宏财介绍</p>
            <span class="fl">宏财网是一家国有企业战略投资的互联网金融平台，2016年A轮融资1亿元。</span>
          </li>
          <li class="clearfix">
            <img class="fl" src="/images/activity/product.png" alt="">
            <p class="fl margin-b-0">产品介绍</p>
            <span class="fl">精挑细选、小额投资标的，车辆房产、优质资产抵押。</span>
          </li>
          <li class="clearfix">
          <img class="fl" src="/images/activity/origin.png" alt="">
            <p class="fl margin-b-0">项目来源</p>
            <span class="fl">项目推荐方鑫融基金控集团，是新三板“金控”第一股和首家全牌照民间金融服务商。</span>
          </li>
          <li class="clearfix">
            <img class="fl" src="/images/activity/ensure.png" alt="">
            <p class="fl margin-b-0">本息保障</p>
            <span class="fl">政府参与出资、全国排名前三的民营担保机构提供担保，保障投资者权益。</span>
          </li>
          <li class="clearfix">
            <img class="fl" src="/images/activity/safe.png" alt="">
            <p class="fl margin-b-0">资金安全</p>
            <span class="fl" ng-if="payCompany === 'yeepay'">联合易宝支付打造一套完整的资金支付与托管第三方账户体系。</span>
            <span class="fl" ng-if="payCompany === 'cgt'">联合北京网贷存管通打造一套完整的风险监控及资金存管系统。</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="explain padding-b-1 padding-t-1">
    <p>北京竞财投资服务有限公司</p>
    <p class="ft-1p2 margin-b-1">京ICP备15025477号-1</p>
  </div>
</div>
