<div class="activity">
  <div class="position-re">
    <img src="/images/activity/activity-002.jpg" alt="" width="100%">
    <div class="rate-block">
      <div class="span-outer">
        <span>+</span>
        <span>0</span>
        <span>.</span>
        <span>1</span>
        <span>%</span>
      </div>
    </div>
  </div>
  <div class="bg-offred padding-l-2 padding-r-2 input-msg">
    <div class="margin-0 activity-input clear">
      <!-- <label for="username">  </label> -->
      <input id="username" class="border-ra-full border-red" name="username" required="required" type="tel" ng-model="user.account" placeholder="请输入手机号" autofocus> 
      <br>
      <p class="border-red border-ra-full fl width-full">
        <input type="number" placeholder="请输入验证码" class="border-ra-left">
        <label for="" class="border-ra-right">获取验证码</label>
      </p>
      <button class="button-experience"><img src="/images/activity/activity-004.png"></button>
    </div>
  </div>
  <div class="activity-raterule">
    <div class="rule">
      <h4>新手体验金活动规则</h4>
      <p>1.参与用户：活动前已注册用户；</p>
      <p>2.活动时间：待定；</p>
      <p>3.用户限制：老用户本人及被邀请成功投资的新用户；</p>
      <p>4.获取规则：</p>
      <p>（1）老用户使用推广码，邀请新用户注册成功，并且投资金额大于等于2000元；或者老用户每充值2000元，也可获得0.1% 加息券一张；</p>
      <p>（2）老用户每邀请成功投资用户1人即送0.1%加息券；</p>
      <p>5.使用限制：有实际投资金额后才可使用（新手标不能使用）；加息券可叠加使用，同一产品单次投资使用加息券后，产品利率上限不超过本产品最高利率；</p>
      <p>6.加息时间：从使用加息券当日开始计算加息金额；</p>
      <p>7.赎回说明：T+0至余额账户；</p>
      <p>8.提现说明：预计T+1到账，具体时间请咨询您绑定卡所属银行；</p>
      <p class="padding-b-3">9.本活动最终解释权归宏财网所有，如有疑问，欢迎咨询官方客服电话：400-990-7626（客服工作时间：9:00-18:00）</p>
    </div>
    <p class="bg-rateinner"><img src="/images/activity/activity-006.png" width="100%"></p>
  </div>
</div>
