<div class="invite-reward" auto-h>
	<div class="head">
		<p class="ft-1p6 text-center">您已成功邀请<span class="ft-3 display-inbl margin-l-1 margin-r-1">{{inviteCount || 0}}</span>位好友了！</p>
	</div>
	<p class="ft-1p8 text-center margin-t--0p5 margin-b-1 ft-white">好友共为您带来</p>
	<div class="part2">
		<div>
			<p class="text-center margin-b-0">{{privilegedCapital.amount | number:0 || 0}}</p>
			<p class="text-center">累计特权本金(元)</p>
		</div>
		<div>
			<p class="text-center margin-b-0">{{privilegedCapital.profit | number:2 || 0}}</p>
			<p class="text-center">累计收益(元)</p>
		</div>
	</div>
	<div class="invite-list">
		<div class="table-wrap-wrap">
			<div class="table-wrap">
				<table>
					<thead class="ft-1p2 text-center">
						<tr>
							<td class="bd-right bd-bottom">成功邀请好友</td>
							<td class="bd-right bd-bottom">累计特权本金(元)</td>
							<td class="bd-bottom">剩余获得天数(天)</td>
						</tr>
					</thead>
					<!-- <tbody class="ft-1p2" ng-repeat="detail in details" ng-if="details.length > 0">
						<tr ng-if="detail.firstInvestTime > 0">
							<td class="bd-right bd-bottom {{intervalDays(detail.firstInvestTime) <= 0 ? 'color_grey' : ''}}">{{detail.mobile}}</td>
							<td class="bd-right bd-bottom {{intervalDays(detail.firstInvestTime) <= 0 ? 'color_grey' : ''}}">{{detail.amount | number:0 || 0}}</td>
							<td class="bd-bottom {{intervalDays(detail.firstInvestTime) <= 0 ? 'color_grey' : ''}}">{{intervalDays(detail.firstInvestTime)}}</td>
						</tr>
						<tr ng-if="detail.firstInvestTime <= 0">
							<td class="bd-right bd-bottom {{ intervalDays(detail.registTime) <= 0 ? 'color_grey' : ''}}">{{detail.mobile}}<img src="/images/invite/award-off.png" ng-show="intervalDays(detail.registTime) <= 0"></td>
							<td class="bd-right bd-bottom color_grey" ng-if="intervalDays(detail.registTime) <= 0">——</td>
							<td class="bd-right bd-bottom" ng-if="intervalDays(detail.registTime) > 0">暂无</td>
							<td class="bd-bottom color_grey" ng-if="intervalDays(detail.registTime) <= 0">——</td>
							<td class="bd-bottom" ng-if="intervalDays(detail.registTime) > 0">未投资</td>
						</tr>
					</tbody> -->
					<tbody class="ft-1p2">
						<tr>
							<td class="bd-right bd-bottom">{{detail.mobile}}</td>
							<td class="bd-right bd-bottom">{{detail.amount | number:0 || 0}}</td>
							<td class="bd-bottom">{{intervalDays(detail.firstInvestTime)}}</td>
						</tr>
						<tr>
							<td class="bd-right bd-bottom">15313895650<img src="/images/invite/award-off.png" ng-show="intervalDays(detail.registTime) <= 0"></td>
							<td class="bd-right bd-bottom color_grey">——</td>
							<td class=" bd-bottom" >暂无</td>
						</tr>
						<tr>
							<td class="bd-right bd-bottom">{{detail.mobile}}</td>
							<td class="bd-right bd-bottom">{{detail.amount | number:0 || 0}}</td>
							<td class="bd-bottom">{{intervalDays(detail.firstInvestTime)}}</td>
						</tr>
						<tr>
							<td class="bd-right bd-bottom">15313895650<img src="/images/invite/award-off.png" ng-show="intervalDays(detail.registTime) <= 0"></td>
							<td class="bd-right bd-bottom color_grey">——</td>
							<td class=" bd-bottom" >暂无</td>
						</tr>
						<tr>
							<td class="bd-right bd-bottom">{{detail.mobile}}</td>
							<td class="bd-right bd-bottom">{{detail.amount | number:0 || 0}}</td>
							<td class="bd-bottom">{{intervalDays(detail.firstInvestTime)}}</td>
						</tr>
						<tr>
							<td class="bd-right bd-bottom">15313895650<img src="/images/invite/award-off.png" ng-show="intervalDays(detail.registTime) <= 0"></td>
							<td class="bd-right bd-bottom color_grey">——</td>
							<td class=" bd-bottom" >暂无</td>
						</tr>
						<tr>
							<td class="bd-right bd-bottom">{{detail.mobile}}</td>
							<td class="bd-right bd-bottom">{{detail.amount | number:0 || 0}}</td>
							<td class="bd-bottom">{{intervalDays(detail.firstInvestTime)}}</td>
						</tr>
						<tr>
							<td class="bd-right bd-bottom">15313895650<img src="/images/invite/award-off.png" ng-show="intervalDays(detail.registTime) <= 0"></td>
							<td class="bd-right bd-bottom color_grey">——</td>
							<td class=" bd-bottom" >暂无</td>
						</tr>
						<tr>
							<td class="bd-right bd-bottom">{{detail.mobile}}</td>
							<td class="bd-right bd-bottom">{{detail.amount | number:0 || 0}}</td>
							<td class="bd-bottom">{{intervalDays(detail.firstInvestTime)}}</td>
						</tr>
						<tr>
							<td class="bd-right bd-bottom">15313895650<img src="/images/invite/award-off.png" ng-show="intervalDays(detail.registTime) <= 0"></td>
							<td class="bd-right bd-bottom color_grey">——</td>
							<td class=" bd-bottom" >暂无</td>
						</tr>
						<tr>
							<td class="bd-right bd-bottom">{{detail.mobile}}</td>
							<td class="bd-right bd-bottom">{{detail.amount | number:0 || 0}}</td>
							<td class="bd-bottom">{{intervalDays(detail.firstInvestTime)}}</td>
						</tr>
						<tr>
							<td class="bd-right bd-bottom">15313895650<img src="/images/invite/award-off.png" ng-show="intervalDays(detail.registTime) <= 0"></td>
							<td class="bd-right bd-bottom color_grey">——</td>
							<td class=" bd-bottom" >暂无</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="con-invite-btn">
		<img src="/images/invite/award-btn-on.png" class="display-bl margin-auto margin-t-1 {{deviceCode === 5 || deviceCode === 6 ? '' : 'margin-b-1p5'}}"  ng-click="isShare = true" width="94%">
		<p class="ft-1p2 ft-white text-center margin-b-0p5" ng-show="deviceCode === 5 || deviceCode === 6">该活动与设备生产商Apple Inc.公司无关 </p>
	</div>
	<div class="project-mask" id="shareMask" ng-show="isShare" ng-init="isShare = false">
		<div class="share-wrap bg-offWhite">
			<p class="ft-1p4 ft-grey666 share-head">分享到：</p>
			<div class="share-ways">
				<img src="/images/invite/share-wechat.png" width="16%" height="16%">
				<img src="/images/invite/share-qq.png" width="16%" height="16%">
				<img src="/images/invite/share-link.png" width="16%" height="16%">
			</div>
			<div class="share-words">
				<p class="ft-999 margin-b-0">微信好友</p>
				<p class="ft-999 margin-b-0">QQ好友</p>
				<p class="ft-999 margin-b-0">复制链接</p>
			</div>
			<p class="text-center cancle" ng-click="isShare = false">取消</p>
		</div>
	</div>
</div>
