<div class="activity-landing">
  <div class="position-re rmb369">
    <img src="/images/activity/top2.jpg" alt="" width="100%">
    <!-- <p class="position-ab"><span>投资后&nbsp;奖金可</span>立即提现</p> -->
    <p class="position-ab">2016年7月5日—2016年7月19日</p>
    <img class="position-ab" src="/images/activity/01.png" alt="" width="80%">
  </div>
  <div class="activity-gift">
    <div class="position-re">
      <img src="/images/activity/line.png" alt="" width="100%">
      <div class="gift-text">投资，马上返现金！</div>
    </div>
    <div class="gift-table">
      <div class="gift-title margin-b-1">
        <span>赠送现金</span>
        <span>单笔投资</span>
        <span>项目期限</span>
        <!-- <span>推荐项目</span> -->
      </div>
      <div class="gift-content margin-t-1">
        <span>10元</span>
        <span>&ge;500元</span>
        <span>&ge; 30天</span>
        <!-- <span>分期宝</span> -->
      </div>
      <div class="gift-content margin-t-1">
        <span>35元</span>
        <span>&ge;2000元</span>
        <span>&ge; 30天</span>
        <!-- <span>月月盈</span> -->
      </div>
      <div class="gift-content margin-t-1">
        <span>40元</span>
        <span>&ge;5000元</span>
        <span>&ge; 30天</span>
        <!-- <span>分期宝</span> -->
      </div>
      <div class="gift-content margin-t-1">
        <span>80元</span>
        <span>&ge;10000元</span>
        <span>&ge; 30天</span>
        <!-- <span>月月盈</span> -->
      </div>
      <div class="gift-content margin-t-1">
        <span>135元</span>
        <span>&ge;30000元</span>
        <span>&ge; 30天</span>
        <!-- <span>月月盈</span> -->
      </div>
      <div class="gift-content margin-t-1">
        <span>388元</span>
        <span>&ge;100000元</span>
        <span>&ge; 30天</span>
        <!-- <span>月月盈</span> -->
      </div>
    </div>
  </div>
  <div class="step-two">
    <div class="step-btn" ui-sref="root.main({tab: 1})">
      <img src="/images/activity/invest2.png" alt="">
    </div>
    <!-- <div class="step-btn" ui-sref="root.register">
      <img src="/images/activity/btn1.png" alt="">
      <div class="btn-text">新用户注册</div>
    </div> -->
  </div>
  <div class="padding-l-1 padding-r-1">
    <div class="list-tips">
      <div class="left-line fl"></div>
      <div class="tips-content">活动规则<i class="fa fa-angle-double-down margin-l-0p5"></i></div>
      <div class="right-line fr"></div>
    </div>
    <div class="rules-landing">
      <p>1、宏财网所有用户均可参与。</p>
      <p>2、每档投资只返现1次。单笔投资首次达到对应额度时，赠送对应现金和一张2%加息券。</p>
      <p>3、每个账号每天只返现1次。连续投资只对第一次满足条件的投资进行返现。</p>
      <p>4、参加过宏财投资返现活动的用户，请选择其他档投资，依然可获奖金。</p>
      <!-- <p>活动时间：2016年6月14日—2016年7月4日</p>
      <span class="fl ">参与用户：</span>
      <span class="display-inb acticity-limit">宏财网所有用户均可参与。</span>
      <p>活动规则：</p>
      <div class="padding-l-1p5">
        <div class="all-rule">
          <span>1.</span>
          <span>活动期间内，每档投资只返现1次。首次投资，且单笔达到对应额度时赠送。</span>
        </div>
      
        <div class="all-rule">
          <span>2.</span>
          <span>每个账号每天只返现1次。连续投资只对第1次满足条件的投资进行返现。</span>
        </div> -->
        <!-- <div class="all-rule ">
          <span>3.</span>
          <span>每个账号每天只返现1次。连续投资只对第1次满足条件的投资进行返现。</span>
        </div> -->

      <!--   <div class="all-rule">
          <span>4.</span>
          <span>每档投资对应的现金，只限活动期间首次投资该档时赠送。可选不同额度投资，分别获取对应现金。</span>
        </div>
        <div class="all-rule">
          <span>5.</span>
          <span>每档投资对应的现金，只限活动期间内单笔投资达到对应额度时赠送。</span>
        </div>
        <div class="all-rule">
          <span>6.</span>
          <span>投资返现活动每天有1000个返现名额。限额超出后，投资将不再返现。</span>
        </div>
        <div class="all-rule">
          <span>7.</span>
          <span>每个账号每天只返现1次。连续投资时，只对第一次满足返现条件的投资进行返现。</span>
        </div>
        <div class="all-rule">
          <span>8.</span>
          <span>活动最终解释权归宏财网所有。</span>
        </div>
        <div class="all-rule">
          <span>9.</span>
          <span>联系电话：400-990-7626。</span>
        </div> -->
      <!-- </div> -->
      <!-- <span class="display-bl">客服热线：</span>
      <p class="display-inb margin-l-3">400-990-7626。</p>
      <span class="display-bl margin-l-3">本活动最终解释权归宏财网所有。</span> -->
    </div>
  </div>
  <div class="part-two">
    <img src="/images/activity/cambered1.png" alt="" width="100%">
    <img src="/images/activity/02.png" alt="" width="80%">
    <div class="tip padding-l-1 padding-r-1 position-re">
      <img src="/images/activity/tip.png" alt="" width="100%">
      <p class="position-ab">每次投资宏金保项目任意金额，均可领取一张2%加息券。投资返现和加息券活动可同时参加。</p>
    </div>
    <div class="example padding-l-1p5 padding-r-1p5">
      <p>举个栗子：</p>
      <p>王先生在7月5日投资500元，获得一张2%加息券+10元投资返现活动奖金。</p>
      <p>王先生在7月6日，使用加息券投资一月期项目3万元，除原有收益外，<span>本次投资王先生还将获得：184.32元现金和2%加息券一张。</span></p>
    </div>
    <div class="red-packet position-re">
      <p class="position-ab">加息收益</p>
      <img src="/images/activity/red-packet1.png" alt="" width="100%">
      <p class="formula position-ab">30000×2%÷365×30=49.32元</p>
    </div>
      <img class="add" src="/images/activity/add.png" alt="">
    <div class="red-packet position-re">
      <p class="position-ab left36">投资返现奖金</p>
      <img src="/images/activity/red-packet1.png" alt="" width="100%">
      <p class="formula position-ab">投资金额&ge;30000元 &nbsp; 奖励135元</p>
    </div>
      <img class="add" src="/images/activity/add.png" alt="">
    <div class="red-packet position-re">
      <p class="position-ab left43">加息券</p>
      <img src="/images/activity/red-packet2.png" alt="" width="100%">
      <p class="formula position-ab left30">宏金保项目任意金额</p>
    </div>
    <div class="step-two bg-yellow6 padding-b-1p6">
      <div class="step-btn" ui-sref="root.main">
        <img src="/images/activity/invest3.png" alt="">
      </div>
    </div>
    <div class="padding-l-1 padding-r-1">
      <div class="list-tips">
        <div class="left-line fl border-b-red"></div>
        <div class="tips-content font-red">使用规则<i class="fa fa-angle-double-down margin-l-0p5"></i></div>
        <div class="right-line fr border-b-red"></div>
      </div>
      <div class="rules-landing ft-grey5">
        <p>1、加息券有效期15天；</p>
        <p>2、每次投资最多限使用一张加息券，当次投资加息2%；</p>
        <p>3、现金奖励和加息券额外收益请在“<span class="font-red ftw-b">我的账户——资金信息——资金流水</span>”中查看。</p>
      </div> 
    </div>   
  </div>
  <div class="step-three">
    <img src="/images/activity/cambered2.png" alt="" width="100%">
    <img src="/images/activity/03.png" alt="" width="30%">
  </div>
  <div class="padding-l-1 padding-r-1">
    <div class="list-tips">
      <div class="left-line fl"></div>
      <div class="tips-content">关于宏财<i class="fa fa-angle-double-down margin-l-0p5"></i></div>
      <div class="right-line fr"></div>
    </div>
    <div class="landing-bottom">
      <ul class="pagging-l-1">
        <li class="bg-white1 clearfix">
          <img class="fl" src="/images/activity/aboutus.png" alt="">
          <p class="fl">宏财介绍</p>
          <span class="fl">宏财网是一家国有企业战略投资的互联网金融平台，2016年A轮融资1亿元。</span>
        </li>
        <li class="bg-white1 clearfix">
          <img class="fl" src="/images/activity/product.png" alt="">
          <p class="fl">产品介绍</p>
          <span class="fl">精挑细选、小额投资标的，车辆房产、优质资产抵押。</span>
        </li>
        <li class="bg-white1 clearfix">
        <img class="fl" src="/images/activity/origin.png" alt="">
          <p class="fl">项目来源</p>
          <span class="fl">项目推荐方鑫融基金控集团，是新三板“金控”第一股和首家全牌照民间金融服务商。</span>
        </li>
        <li class="bg-white1 clearfix">
          <img class="fl" src="/images/activity/ensure.png" alt="">
          <p class="fl">本息保障</p>
          <span class="fl">政府参与出资、全国排名前三的民营担保机构提供担保，保障投资者权益。</span>
        </li>
        <li class="bg-white1 clearfix">
          <img class="fl" src="/images/activity/safe.png" alt="">
          <p class="fl">资金安全</p>
          <span class="fl">联合易宝支付打造了一套完整的资金支付与托管第三方账户体系。</span>
        </li>
      </ul>
      <div class="explain">
        <p>本活动最终解释权归宏财网所有</p>
        <p>服务热线：400-990-7626</p>
      </div>
    </div>
  </div>
  <img class="img-bottom" src="/images/activity/img-bottom.png" alt="" width="100%">
</div>
