
<div ng-switch="userInfo && userInfo.id === freeWish.userId">
  <!-- 自己看到的任务页 -->
  <div ng-switch-when="true">
    <div ng-switch="freeWish.level">
        <div ng-switch-when="1">
           <section ng-include src='"views/activity/share-spring-mydetail.html"'></section>
        </div>
        <div ng-switch-when="2">
           <section ng-include src='"views/activity/_mysecond-detail.html"'></section>
        </div>
        <div ng-switch-when="3">
           <section ng-include src='"views/activity/_mythird-detail.html"'></section>
        </div>
    </div>
  </div>

  <!-- 他人看到的任务页 -->
  <div ng-switch-default>
    <div ng-switch="freeWish.level">
        <div ng-switch-when="1">
          <section ng-include src='"views/activity/share-spring-otherdetail.html"'>
          </section>
        </div>
        <div ng-switch-when="2">
          <section ng-include src='"views/activity/share-spring-otherdetail.html"'>
          </section>
        </div>
        <div ng-switch-when="3">
          <section ng-include src='"views/activity/share-spring-otherdetail.html"'>
          </section>
        </div>
    </div>
  </div>
</div>
