<div class="spring-activity bg-ending">
  <div class="head">
    <img src="/images/activity/index-ending.jpg" alt="" width="100%">
    <div class="ending-tip" ng-click="goAccount()">4000元体验金已到账 请查收</div>
  </div>
  <div class="head">
    <img src="/images/activity/ending1.png" alt="" class="img-content">
    <div class="ending-tip1">要理财&nbsp;上宏财</div>
    <div class="ending-tip2">宏财网累计发放现金</div>
  </div>
	<div class="text-center margin-t-2 bg-ending end-minheight">
    <img src="/images/activity/index-logo.png" alt="" width="50%">
	</div>
</div>
