<div class="spring-activity">
  <div class="head" ng-click="showMask=true">
    <img src="/images/activity/index-001.jpg" alt="" width="100%">
    <div class="detail-tip">活动详情>></div>
  </div>
  <div class="content">
  	<div class="padding-l-2 padding-r-2 ft-1p5 ft-black3 text-center">
  		<div class="qimo-left fl">
  			<img src="/images/activity/index-004.png" alt="" width="100%">
  		</div>
  		<div id="demo" class="qimo8">
			  <div class="qimo">
			    <div id="demo1">
			      <ul>
			        <li>宏财网已发放现金总额<span class="ft-2 ft-red3 ft-bold">700,000</span>元</li>
			      </ul>
			    </div>
			    <div id="demo2"></div>
			  </div>
			</div>

  	</div>
  	<div class="padding-l-2 padding-r-2"><img src="/images/activity/index-005.png" alt="" width="100%"></div>
  	<div class="padding-l-2 padding-r-2 margin-t-1">
  		<div class="list-tips">
  			<div class="left-line fl"></div>
  			<div class="tips-content">砸罐小能手</div>
  			<div class="right-line fr"></div>
  		</div>	
  	</div>
  	<div class="padding-l-1 padding-r-1">
  		<div class="list-content">
  			<div class="row">
  				<div class="table-cell">
  					<div class="img-border">
  						<img src="/images/activity/dubai.png" alt="" width="100%">
  						<div class="img-tip">
  							<p class="ft-1 padding-t-0p5">已领</p>
  							<p>50元</p>
  						</div>
  					</div>
  				</div>
  				<div class="table-cell">
  					<div class="img-border">
  						<img src="/images/activity/dubai.png" alt="" width="100%">
  						<div class="img-tip">
  							<p class="ft-1 padding-t-0p5">已领</p>
  							<p>50元</p>
  						</div>
  					</div>
  				</div>
  				<div class="table-cell">
  					<div class="img-border">
  						<img src="/images/activity/dubai.png" alt="" width="100%">
  						<div class="img-tip">
  							<p class="ft-1 padding-t-0p5">已领</p>
  							<p>50元</p>
  						</div>
  					</div>
  				</div>
  				<div class="table-cell">
  					<div class="img-border">
  						<img src="/images/activity/dubai.png" alt="" width="100%">
  						<div class="img-tip">
  							<p class="ft-1 padding-t-0p5">已领</p>
  							<p>50元</p>
  						</div>
  					</div>
  				</div>
  				<div class="table-cell">
  					<div class="img-border">
  						<img src="/images/activity/dubai.png" alt="" width="100%">
  						<div class="img-tip">
  							<p class="ft-1 padding-t-0p5">已领</p>
  							<p>50元</p>
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
  	<div class="text-center ft-red4 ft-1p6 ft-bold margin-t-2">
  		长按二维码&nbsp;领取现金
  	</div>
  	<div class="text-center margin-t-1">
  		<img src="/images/activity/index-wxin.png" alt="" width="50%">
  	</div>
  </div>
</div>
<div class="share-detail-Layer" ng-show="showMask">
	<div class="monkey">
		<div class="monkey-head">
			<img src="/images/activity/index-006.png" alt="" width="50%" class="monkey-img">
			<i class="fa fa-times-circle-o ft-white ft-3 tip-close" ng-click="showMask=false"></i>
		</div>
		<div class="monkey-detail">
			<div class="border-inner">
				<p>活动详情</p>
				<p>1.成功为好友砸罐或通过其他途径参与活动的用户，均可获得10-50元现金。</p>
				<p>2.用户需邀请6位好友帮忙砸罐，方能领取现金。</p>
				<p>3.活动有效期为2016年3月3日上午10点-3月9日24点。</p>
				<p>4.宏财现金有效期为7天。本活动结束后7天之内未领取或未领取完全，余额自动清零。</p>
				<p>5.本活动最终解释权归宏财网所有。</p>
			</div>
		</div>
	</div>

</div>
<script type="text/javascript">
var demo = document.getElementById("demo");
var demo1 = document.getElementById("demo1");
var demo2 = document.getElementById("demo2");
demo2.innerHTML=document.getElementById("demo1").innerHTML;
function Marquee(){
if(demo.scrollLeft-demo2.offsetWidth>=0){
 demo.scrollLeft-=demo1.offsetWidth;
}
else{
 demo.scrollLeft++;
}
}
var myvar=setInterval(Marquee,30);
demo.onmouseout=function (){myvar=setInterval(Marquee,30);}
demo.onmouseover=function(){clearInterval(myvar);}
</script>