<div class="spring-activity">
  <div class="head">
    <img src="/images/activity/index-001.jpg" alt="" width="100%">
    <div class="detail-tip">活动详情>></div>
  </div>
  <div class="content">
  	<div class="padding-l-2 padding-r-1 ft-1p5 ft-black3"><img src="/images/activity/index-004.png" alt="" width="18%">宏财网已发放现金总额<span class="ft-2 ft-red3 ft-bold">700,000</span>元</div>
  	<div class="padding-l-2 padding-r-2 margin-t-1"><img src="/images/activity/index-005.png" alt="" width="100%"></div>
  	<div class="padding-l-2 padding-r-2 margin-t-1">
  		<div class="list-tips">
  			<div class="left-line fl"></div>
  			<div class="tips-content">砸罐小能手</div>
  			<div class="right-line fr"></div>
  		</div>	
  	</div>
  	<div class="padding-l-1 padding-r-1">
  		<div class="list-content">
  			<div class="row">
  				<div class="table-cell">
  					<div class="img-border">
  						<img src="/images/activity/dubai.png" alt="" width="100%">
  						<div class="img-tip">
  							<p class="ft-1 padding-t-0p5">已领</p>
  							<p>50元</p>
  						</div>
  					</div>
  				</div>
  				<div class="table-cell">
  					<div class="img-border">
  						<img src="/images/activity/dubai.png" alt="" width="100%">
  						<div class="img-tip">
  							<p class="ft-1 padding-t-0p5">已领</p>
  							<p>50元</p>
  						</div>
  					</div>
  				</div>
  				<div class="table-cell">
  					<div class="img-border">
  						<img src="/images/activity/dubai.png" alt="" width="100%">
  						<div class="img-tip">
  							<p class="ft-1 padding-t-0p5">已领</p>
  							<p>50元</p>
  						</div>
  					</div>
  				</div>
  				<div class="table-cell">
  					<div class="img-border">
  						<img src="/images/activity/dubai.png" alt="" width="100%">
  						<div class="img-tip">
  							<p class="ft-1 padding-t-0p5">已领</p>
  							<p>50元</p>
  						</div>
  					</div>
  				</div>
  				<div class="table-cell">
  					<div class="img-border">
  						<img src="/images/activity/dubai.png" alt="" width="100%">
  						<div class="img-tip">
  							<p class="ft-1 padding-t-0p5">已领</p>
  							<p>50元</p>
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
  	<div class="text-center ft-red4 ft-1p6 ft-bold margin-t-2">
  		长按二维码&nbsp;领取现金
  	</div>
  	<div class="text-center margin-t-1">
  		<img src="/images/activity/index-wxin.png" alt="" width="50%">
  	</div>
  </div>
</div>
