<div class="spring-activity">
  <div class="head-mydetail">
  	<img src="/images/activity/index-007.jpg" alt="" width="100%">
  	<div class="head-user">
  		<img ng-src="{{headImgUrl || '/images/activity/dubai.png'}}" alt="" width="100%">
  	</div>
  	<div class="head-username">
  		{{ nickName || '金鱼公主'}}&nbsp;<span ng-show="!nickName || nickName.length < 9">获得</span>
  	</div>
  	<div class="head-money">
  		{{freeWish.amount || 0}}<span class="ft-2 ft-bold">元</span>
  	</div>
    <div ng-switch="freeWishStatics.status">
        <div ng-switch-when="1" >
          <div class="head-btn" ng-click="$parent.inviteFlag = true" ng-show="freeWish.cheerRecords.length < 6">
            找{{6 - freeWish.cheerRecords.length}}个人&nbsp;帮你砸罐拿现金
          </div>
          <div class="head-btn" ng-click="$parent.showMask = true" ng-show="freeWish.cheerRecords.length === 6">
            砸罐完成&nbsp;马上提现
          </div>
        </div>
        

        <div class="head-btn" ng-switch-when="2" ng-clicl="goOn()">
          已到账{{freeWishStatics.receiveAmount| number:0}}元&nbsp;再拿{{activity.FreeWishActivityRules.secondReward| number:0}}元
        </div>

        <div class="head-btn" ng-switch-when="3" ng-clicl="goOn()">
          已到账{{freeWishStatics.receiveAmount| number:0}}元&nbsp;再拿{{activity.FreeWishActivityRules.thirdReward| number:0}}元
        </div>

        <div class="head-btn" ng-switch-when="4" ng-clicl="goOn()">
          已到账{{freeWishStatics.receiveAmount| number:0}}元&nbsp;再拿{{activity.FreeWishActivityRules.thirdReward| number:0}}元
        </div>

        <div class="head-btn" ng-switch-when="5" ng-clicl="goOn()">
          我的账户
        </div>
    </div>
  	
  </div>
  <div class="content-mydetail">
  	<div class="padding-l-2 padding-r-2 ft-1p5 ft-black3 text-center">
  		<div id="demo" class="qimo8">
			  <div class="qimo">
			    <div id="demo1">
			      <ul>
			        <li class="ft-yellow"><img src="/images/activity/money2.png" alt="">宏财网已发放现金总额<span class="ft-2 ft-bold">{{totalReward | number:0}}</span>元</li>
			      </ul>
			    </div>
			    <div id="demo2"></div>
			  </div>
			</div>

  	</div>
  	<div class="padding-l-2 padding-r-2">
  		<div class="list-tips">
  			<div class="left-line fl"></div>
  			<div class="tips-content">砸罐小能手</div>
  			<div class="right-line fr"></div>
  		</div>	
  	</div>
  	<div class="padding-l-1 padding-r-1 margin-t-1">
  		<div class="list-content">
  			<div class="row">
          <div class="table-cell" ng-repeat="item in freeWish.cheerRecords">
            <div class="img-border">
              <img ng-src="{{ item.user.headImgUrl || '/images/activity/dubai.png'}}" alt="" width="100%" class="img-test">
            </div>
          </div>

  				<div class="table-cell" ng-repeat="item in [1,2,3,4,5,6] | limitTo : 6 - freeWish.cheerRecords.length">
  					<div class="img-border">
  						<img src="/images/activity/index-grey.png" alt="" width="100%">
  						<div class="img-untip ft-1p2">
  							未点亮
  						</div>
  					</div>
  				</div>

  			</div>
  		</div>
  	</div>
  	<div class="text-center ft-yellow ft-1p6 ft-bold margin-t-2">
  		长按二维码&nbsp;领取现金
  	</div>
  	<div class="text-center margin-t-1">
  		<img src="/images/activity/index-wxin.png" alt="" width="50%" ng-show="!test">
      <img src="/images/activity/index-wxin-test.png" alt="" width="50%" ng-show="test">
  	</div>
  </div>
</div>
<!-- 分享给好友蒙层 可以用ng-show控制-->
<div class="share-page-breakWishLayer width-100 height-100" style="background-color:rgba(0,0,0,0.8);" ng-click="inviteFlag = false;" ng-show="inviteFlag" my-click-once>
  <div class="margin-l-1 margin-r-1 ft-1p2 padding-1" style="border-radius:0.5rem;">
    <img src="/images/activity/share-001.png" alt="" width="100%">
  </div>
</div>

<!-- 完成第一关的蒙层 -->
<div class="share-detail-Layer" ng-show="false">
	<div class="monkey">
		<div class="monkey-head">
			<img src="/images/activity/index-006.png" alt="" width="50%" class="monkey-img">
			<i class="fa fa-times-circle-o ft-white ft-3 tip-close" ng-click="showMask=false"></i>
		</div>
		<div class="monkey-detail">
			<div class="border-inner">
				<p class="text-center ft-black">23元现金已到账&nbsp;可随时提现！</p>
				<div class="btn-outer margin-t-1p5">
          <button class="btn-inner">马上提现</button>
        </div>
        <div class="btn-outer">
          <button class="btn-inner">再拿30元</button>
        </div>
			</div>
		</div>
	</div>
</div>
<!-- 注册的蒙层 showMask-->
<div class="share-detail-Layer" ng-show="true">
	<div class="monkey">
		<div class="monkey-head">
			<img src="/images/activity/index-006.png" alt="" width="50%" class="monkey-img">
			<i class="fa fa-times-circle-o ft-white ft-3 tip-close" ng-click="showMask=false"></i>
		</div>
		<div class="monkey-detail">
			<div class="border-form">
				<form autocomplete="on" id="realNameAuthForm" name="realNameAuthForm" class="margin-b-0">
		      <div class="form-mask">
		        <label class="label-tip">真实手机号:</label>
		        <input id="mobile" class="input-tip1" name="mobile" type="text" ng-model="user.mobile" placeholder="请输入您的手机号码" required>
		      </div>
		      <div class="form-mask">
		        <label class="label-tip">图片验证码:</label>
		        <input id="picCaptcha" class="input-tip2" name="picCaptcha" type="text" ng-model="user.picCaptcha" placeholder="图片验证码" ng-pattern="/^[0-9a-z]{4}$/" required>
		        <div class="img-tip" >
		        	<img ng-src="{{getPicCaptcha}}" alt="" width="100%" ng-click="refreshCode()" id="checkCaptcha">
		        </div>
		      </div>
		      <div class="form-mask">
		        <label class="label-tip">短信验证码:</label>
		        <input id="mobileCaptcha" class="input-tip2" name="mobileCaptcha" type="text" ng-model="user.mobileCaptcha" placeholder="请输入手机验证码" ng-pattern="/^([0-9]{6}$/" required>
		        <button class="btn-sendtip" ng-click="sendMobileCaptcha(user)" onclick="countDown(this,60,'out');">发送</button>
		      </div>
		      <div class="ft-red text-center margin-t-1 margin-b-1 ft-1p2 form-mask">
		        {{errMsg}}
		      </div>
		      <div class="form-mask margin-b-1" ng-click="signUp(user)">
		      	<img src="/images/activity/get-money.png" alt="" width="100%">
		      </div>
		    </form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
var demo = document.getElementById("demo");
var demo1 = document.getElementById("demo1");
var demo2 = document.getElementById("demo2");
demo2.innerHTML=document.getElementById("demo1").innerHTML;
function Marquee(){
if(demo.scrollLeft-demo2.offsetWidth>=0){
 demo.scrollLeft-=demo1.offsetWidth;
}
else{
 demo.scrollLeft++;
}
}
var myvar=setInterval(Marquee,30);
</script>
<script>
function countDown(obj, second, inOrOut) {
  var getMobile = document.getElementById("mobile");
  var mobilePattern = /^((13[0-9])|(15[^4,\D])|(18[0-9])|(17[0678])|(14[0-9]))\d{8}$/;

  if (inOrOut === 'out' && window.buttonFlag == 0) {
    return;
  }

  // 如果秒数还是大于0，则表示倒计时还没结束
  if (mobilePattern.test(getMobile.value)) {
    if (second >= 0) {
      // 获取默认按钮上的文字

      if (typeof buttonDefaultValue === 'undefined') {
        buttonDefaultValue = obj.defaultValue;
      }
      // 按钮置为不可点击状态
      obj.disabled = true;
      window.buttonFlag = 0;
      // 按钮里的内容呈现倒计时状态
      //obj.value = buttonDefaultValue + '(' + second + ')';
      console.log(obj.innerHTML);
      obj.innerHTML = second + "s后发送";
      obj.className = 'btn-sendtip';
      // 时间减一
      second--;
      // 一秒后重复执行
      setTimeout(function() {
        countDown(obj, second, 'in');
      }, 1000);
      // 否则，按钮重置为初始状态
    } else {
      // 按钮置为可点击状态
      obj.disabled = false;
      window.buttonFlag = 1;
      // 按钮里的内容恢复初始状态
      obj.className = 'btn-sendtip';
      obj.innerHTML = "重新发送";
    }
  } else {
    obj.disabled = true;
    window.buttonFlag = 0;
  }
}
</script>