<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="renderer" content="webkit">
    <meta name='apple-mobile-web-app-capable' content='yes' />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name='format-detection' content='telephone=no' />
    <meta name='format-detection' content='email=no' />
    <!--去掉移动端input聚焦默认背景-->
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="wap-font-scale" content="no">
    <title>谁是点钞王</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="../../styles/games/common.css">
    <link rel="stylesheet" type="text/css" href="../../styles/games/game-counting.css">
    <script src="../../scripts/rem.js"></script>
  </head>
  <body>
    <div class="game-counting-wrap">
      <div class="game-counting">
        <div class="game-counting-innner">
          <img src="../../images/games/header-title.png" width="72%" class="title-img">
          <!-- 剩余次数 -->
          <div class="times">
            <img src="../../images/games/hand-left.png" class="display-inbl" width="7%">
            <p class="display-inbl">剩余游戏次数：5次</p>
          </div>
          <!-- 倒计时 -->
          <div class="count-down">
            <img src="../../images/games/count-down.png" class="display-inbl" width="4.5%" id="hourglass">
            <div class="display-inbl">
              <span class="left">倒计时:</span>
              <div class="process-wrap left">
                <span class="count-tip" id="sub">-5</span>
                <div class="process" id="process-bar"></div>
              </div>
              <span class="left" id="time">30s</span>
            </div>
          </div>
          <!-- 点钞 -->
          <div class="count">
            <div class="count-statistics">
              <p class="display-inbl">9000元 
                <span class="count-tip" id="add-100">+100</span>
                <span class="count-tip" id="add-50">+50</span>
                <span class="icon-rule">活动<br>规则 </span>
              </p>
            </div>
            <div class="count-money">
              <img src="../../images/games/box1.png" width="65%" class="margin display-bl box-top box-top">
              <img src="../../images/games/box2.png" width="61.5%" class="margin display-bl">
              <!-- 钞票列表 -->
              <div class="money-list">
                <ul class="count-list">
                  <!-- <li><img src="../../images/games/50.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/100.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/50.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/50.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/100.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/50.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/50.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/100.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/50.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/50.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/50.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/100.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/50.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/50.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/100.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/50.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/50.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/100.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/50.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/50.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/50.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/100.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/50.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/50.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/100.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/50.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/50.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/100.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/50.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/50.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/50.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/100.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/50.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/50.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/100.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/50.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/50.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/100.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/50.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/50.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/50.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/100.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/50.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/50.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/100.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/50.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/50.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/100.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/50.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/50.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/50.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/100.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/50.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/50.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/100.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/50.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/50.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/100.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/50.png" class="display-bl margin" width="55%"></li>
                  <li><img src="../../images/games/50.png" class="display-bl margin" width="55%"></li> -->
                </ul>
              </div>
              <!-- 点钞按钮 -->
              <div class="btns clear">
                <div class="display-inbl btn-left">
                  <img src="../../images/games/hand.png" width="28%" class="noviceHand">
                  <span>50</span>
                  <img id="count-50" src="../../images/games/button-50.png" width="41%">
                </div>
                <div class="display-inbl btn-right">
                  <img src="../../images/games/hand.png" width="28%" class="noviceHand">
                  <span>100</span>
                  <img id="count-100" src="../../images/games/button-100.png" class="right" width="41%">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 321游戏开始倒计时 -->
        <!-- <div class="mask-common" id="startGame">
          <div class="startGame">
            <img src="../../images/games/reload-3.png" width="30%" class="countDown3">
            <img src="../../images/games/reload-2.png" width="28%" class="countDown2">
            <img src="../../images/games/reload-1.png" width="16%" class="countDown1">
            <img src="../../images/games/reload-start.png" width="50%" class="countDown0">
          </div>
        </div> -->
        <!-- 活动规则弹窗 -->
        <div class="mask-common" id="ruleBox" style="display: none">
          <div class="ruleBox">
            <div class="rule-title">游戏规则</div>
            <div class="contents">
              <div class="rule-content">
                <span class="num">①</span>
                <span class="txt">遇到面值50元时，点击左手按钮；<img src="../../images/games/rule-hand-left.png" alt=""  width="8%"></span>
              </div>
              <div class="rule-content">
                <span class="num">②</span>
                <span class="txt">遇到面值100元时，点击右手按钮；<img src="../../images/games/rule-hand-right.png" alt=""  width="8%"></span>
              </div>
              <div class="rule-content">
                <span class="num">③</span>
                <span class="txt">注意！如选择错误的方向，<img src="../../images/games/rule-count.png" alt=""  width="6%">倒计时将减少5秒哟！</span>
              </div>
              <div class="rule-content">
                <span class="num">④</span>
                <span class="txt">在规定30s倒计时结束后，<img src="../../images/games/rule-clock.png" alt=""  width="8%">您将获得与正确数出金额相同的特权本金奖励！（有效期3天）</span>
              </div>
              <div class="rule-content">
                <span class="num">⑤</span>
                <span class="txt">每人有5次机会，邀请好友一起玩，可额外获得1次奖励机会，多邀多得！</span>
              </div>
            </div>
            <div class="close-btn" onclick="closeBtn()"></div>
          </div>
          <div class="rule-start-btn">我知道了，开始游戏</div>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="../../../bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript">
    $(function () {
      var second = 31,
          countTimer,
          $processBar = $('#process-bar'),
          $time = $('#time'),
          $hourglass = $('#hourglass'),
          countList = [
            {
              value: 50
            },
            {
              value: 100
            },
            {
              value: 50
            },
            {
              value: 50
            },
            {
              value: 50
            },
            {
              value: 100
            },
            {
              value: 50
            },
            {
              value: 50
            },
            {
              value: 50
            },
            {
              value: 100
            },
            {
              value: 50
            },
            {
              value: 50
            },
            {
              value: 50
            },
            {
              value: 100
            },
            {
              value: 50
            },
            {
              value: 50
            }
          ],
          percentWidth = 96, // 进度条初始化样式百分比数值
          percentOneSecond = 3.2, // 一秒进度条递减值
          countWrong = false, // 是否数错钞,
          scrollDirection = -18.681; // 钞票初始位置
        $('.count-list').css('transform', 'translateY(' + scrollDirection + 'rem)')
        document.querySelector('.count-list').style.webkitTransform = 'translateY(' + scrollDirection + 'rem)'
      var countObj = {
        // 钱币加减 和 时间减少提示淡入淡出效果 
        showTip: function (ele, inDuration, outDuration) {
          $(ele).fadeIn(inDuration, function () {
            $(ele).fadeOut(outDuration)
          })
        },

        /*
        ** 倒计时沙漏 
        */
        hourglassAnimate: function () {
          $hourglass.addClass('hourglass')
          var glassTimer = setTimeout(function() {
            $hourglass.removeClass('hourglass')
            clearTimeout(glassTimer)
          }, 9900)
        },

        /*
         ** 倒计时进度条和时间效果
         */
        countDown: function () {
          // 如果秒数还是大于0，则表示倒计时还没结束
          if (second > 0) {
            // 时间只剩10秒时
            if (second === 10) {
              this.hourglassAnimate()
            }
            // 判断是否点错，假设在28秒， countWrong === ture 表示点错钞
            if (second === 28) { countWrong = true} else { countWrong = false}
            if (countWrong) {
              second -= 5
              percentWidth -= 16
              this.showTip('#sub', 800, 1500)
            }else {
              second -= 1
              percentWidth -= 3.2
            }
            // 进度条递减
            $processBar.animate({width: percentWidth + '%'}, {duration: 800});
            $time.html(second + 's');
            // 一秒后重复执行
            var _this = this
            countTimer = setTimeout(function () {
              _this.countDown();
            }, 1000)
          } else {
            clearTimeout(countTimer)
          }
          $('.btns div').css({zIndex: 999}) // 解决倒计时蒙层消失按钮不能点击问题
        },
        // 点钞金额增加提示效果
        showMoneyTip: function (clickEle, showEle) {
          var _this = this
          $(clickEle).on('click', function () {
            _this.showTip(showEle, 100, 400);
            _this.countSlideDown()
          })
        },
        // 钞票配置
        moneyConfig: function (count, type) {
          var moneyHtml = ''
          for (var i = 0; i < count.length; i++) {
            if (count[i].value === 50) {
              moneyHtml += '<li><img src="../../images/games/50.png" class="display-bl margin" width="55%"></li>'
            } else {
              moneyHtml += '<li><img src="../../images/games/100.png" class="display-bl margin" width="55%"></li>'
            }
          }
          return moneyHtml;
        },
        // 钞票滑出效果
        countSlideDown: function () {
          scrollDirection += 1.439
          $('.count-list').addClass('slide-down')
          $('.count-list').css('transform', 'translateY(' + scrollDirection + 'rem)')
          document.querySelector('.count-list').style.webkitTransform = 'translateY(' + scrollDirection + 'rem)'
        },
        
        /*
         ** 点钞
         */
        countStart: function (clickEle, showEle, type) { // 点击元素， 显示的元素， 点击的按钮类型 50 ／ 100
          this.showMoneyTip(clickEle, showEle)
          $('.count-list').append(countObj.moneyConfig(countList, type)) //点钞调用
        }
      };
      countObj.countStart('#count-100', '#add-100', 100);
      countObj.countStart('#count-50', '#add-50', 50);
      countObj.moneyConfig(countList)
      setTimeout(function () {
        countObj.countDown();
      }, 4600)
    })
  </script>
</html>