<form name="investForm" class="investForm overflow-hid">
  <div class="hint text-center bg-red1 padding-t-0p5 padding-b-0p5 box-shadow">
    <span class="ft-white"><i class="fa fa-info">&nbsp;</i>账户余额不足，请充值</span>
  </div>
  <div class="padding-l-2 padding-r-2 margin-t-2 overflow-hid">
    <input type="number" min="100" step="100" placeholder="100元起投" class="investAmount u-pull-left padding-t-1 padding-b-1">
    <button class="button button-primary button-shadow border-ra-0p5 u-pull-left">投资</button>
    <hr class="margin-0 clear">
    <input type="checkbox" class="margin-t-1">自动续投
    <p class="ft-grey2">续投需开通自动投标权限，且本期到期后，所投本金自动续投到宏金盈项目中。</p>
  </div>
  
</form>