<!-- ng-show="project.status === 1" -->
<div class="investment bg-grey4 overflow-hid">
  <div class="invest-confirm">
    <p>账户余额：<strong>{{ account.balance | currency:"":2 || 0}}</strong>元</p>
    <p>可投金额：<strong>{{project.projectInvestAmount | currency:"":0 || 0}}</strong>元</p>
  </div>
  <form name="investForm" class="invest-form overflow-hid" >
    <div class="padding-l-2 padding-r-2 overflow-hid bg-white border-bot-e3">
      <p class="margin-b-0 padding-t-1">投资金额</p>
      <div class="form-main">
        <div ng-click="subMoney()">-</div>
        <div>
          <input type="number" min="{{ project.minInvest }}" max="{{project.projectInvestAmount}}" name="investAmount" step="{{project.increaseAmount}}" placeholder="请输入投资金额" class="investAmount u-pull-left padding-t-1 padding-b-1" ng-model="project.investAmount" required>
        </div>
        <div ng-click="plusMoney()">+</div>
      </div>
      <div class="hint text-center bg-red1 padding-t-0p5 padding-b-0p5 box-shadow" ng-show="msg">
        <span class="ft-white"><i class="fa fa-info">&nbsp;</i>{{msg}}</span>
      </div>
      <div class="hint text-center bg-red1 padding-t-0p5 padding-b-0p5 box-shadow" ng-show="investForm.investAmount.$error.number">
        <span class="ft-white"><i class="fa fa-info">&nbsp;</i>输入金额格式不对，只能输入数字</span>
      </div>
      <div class="hint text-center bg-red1 padding-t-0p5 padding-b-0p5 box-shadow" ng-show="checkLargeUserCanAmount(project)">
        <span class="ft-white"><i class="fa fa-info">&nbsp;</i>余额不足，请充值</span>
      </div>
      <div class="hint text-center bg-red1 padding-t-0p5 padding-b-0p5 box-shadow" ng-show="investForm.investAmount.$error.max || investForm.investAmount.$error.min">
        <span class="ft-white"><i class="fa fa-info">&nbsp;</i>请输入一个介于{{ project.minInvest }}-{{ project.projectInvestAmount }}之间的值</span>
      </div>
      <div class="hint text-center bg-red1 padding-t-0p5 padding-b-0p5 box-shadow" ng-show="fundsFlag >= 1 && checkStepAmount(project)">
        <span class="ft-white"><i class="fa fa-info">&nbsp;</i>输入值必须是100的整数倍</span>
      </div>
      <p class="margin-t-1 text-center margin-b-0 padding-0">
      	<input type="checkbox" class="margin-r-1" ng-model="project.isRepeatFlag" ng-click="checkAutoTransfer(project);">自动续投
      	<span class="ft-orange margin-l-1" ng-show="canUseFlag" ng-click="selectReward(project)">使用奖励</span>
      </p>
      <!-- <input type="number" min="{{ project.minInvest }}" max="{{project.projectInvestAmount}}" name="investAmount" step="{{project.increaseAmount}}" placeholder="100元起投" class="investAmount u-pull-left padding-t-1 padding-b-1" ng-model="project.investAmount" required>
      <button class="button button-primary border-ra-0p5 u-pull-left" ng-show="checkLargeUserCanAmount(project)">充值</button>
      <button class="button button-primary border-ra-0p5 u-pull-left" ng-hide="checkLargeUserCanAmount(project)">投资</button>
      <hr class="margin-0 clear">
      <input type="checkbox" class="margin-t-1" ng-model="project.isRepeatFlag" ng-click="checkAutoTransfer(project);">自动续投 -->
      <!-- <span class="padding-l-1 ft-orange" ng-click="selectReward(project)">使用奖励</span><small class="padding-l-1 ft-1">体验金1000元</small>
        <p class="ft-grey2">本期理财到期后，所投本金自动续投到下期{{project.product.name}}项目中。
          <br>自动续投可以提高理财收益率，并节省您的时间。</p> -->
    </div>
    <div class="form-btn">
    	<div><button ui-sref="root.main">取消</button></div>
    	<div>
    		<button ng-show="isInvestmentFlag" ui-sref="root.user-center.recharge">立即充值</button>
    		<button ng-hide="isInvestmentFlag" ng-click="toInvest(project)" my-click-once>确认投资</button>
    	</div>
    </div>
  </form>
</div>
<div class="project-mask" ng-show="rewardFlag">
  <div class="bg-white project-mask-inner">
    <p class="margin-b-1 padding-l-2 padding-t-2" ng-show="account.experienceAmount > 0 && project.product.type === 1">
      <input type="checkbox" ng-model="project.useExperience">使用体验金:{{account.experienceAmount | currency : "":0 || 0}}</p>
    <p class="margin-b-1 padding-l-2 padding-t-1" ng-show="selectCoupon !== null && project.product.type !== 1">
      <select type="button" class="btn btn-default" ng-model="selectCoupon" data-html="1" data-animation="am-flip-x" ng-options="coupon as coupon.rateText for coupon in increaseRateCoupons" required>
      </select>
    </p>
    <p class="margin-b-1 padding-l-2 padding-r-2">
    <button class="button button-primary ft-1p6" style="width:48%;" ng-click="rewardFlag = false;">取消</button>
    <button class="button button-primary ft-1p6" style="width:48%;" ng-click="confirmUseReward(project, selectCoupon)">确定</button>
    </p>
  </div>
</div>
