<div class="row margin-t-2"  ng-show="jigoubaoDetailData.status === 7" ng-switch="fundsFlag">
  <!-- 判断fundsFlag的状态。0：未登录，1：普通用户，2：实名用户，3：开启自动投资用户。 -->
  <div ng-switch-when=0>
    <div class="overflow-hid bg-orange1 padding-l-1 padding-r-1 padding-t-1 padding-b-1 border-orange3 ft-1p5">
      <span class="u-pull-left"><i class="fa fa-users ft-orange"></i>&nbsp;参投人数:<strong class="ft-orange">{{jigoubaoDetailData.investNumber || 0}}</strong>人</span>
      <span class="u-pull-right"><i class="fa fa-pie-chart ft-orange"></i>&nbsp;可投金额:<strong class="ft-orange">{{jigoubaoProjectInvestNum | currency:"":0 || 0}}</strong> 元</span>
    </div>
    <form name="investForm" class="investForm overflow-hid" ng-submit="toInvest(jigoubaoDetailData)">
      <div class="hint text-center bg-red1 padding-t-0p5 padding-b-0p5 box-shadow" ng-show="investForm.investAmount.$error.number">
        <span class="ft-white"><i class="fa fa-info">&nbsp;</i>输入金额格式不对，只能输入数字</span>
      </div>
      <div class="hint text-center bg-red1 padding-t-0p5 padding-b-0p5 box-shadow" ng-show="investForm.investAmount.$dirty && checkLargeUserCanAmount(jigoubaoDetailData)">
        <span class="ft-white"><i class="fa fa-info">&nbsp;</i>余额不足，请充值</span>
      </div>
      <div class="hint text-center bg-red1 padding-t-0p5 padding-b-0p5 box-shadow" ng-show="investForm.investAmount.$error.max || investForm.investAmount.$error.min">
        <span class="ft-white"><i class="fa fa-info">&nbsp;</i>请输入一个介于{{ jigoubaoDetailData.minInvest }}-{{ jigoubaoProjectInvestNum }}之间的值</span>
      </div>
      <div class="hint text-center bg-red1 padding-t-0p5 padding-b-0p5 box-shadow" ng-show="fundsFlag >= 1 && investForm.investAmount.$dirty && checkStepAmount(jigoubaoDetailData)">
        <span class="ft-white"><i class="fa fa-info">&nbsp;</i>输入值必须是100的整数倍</span>
      </div>
      <div class="padding-l-2 padding-r-2 margin-t-2 overflow-hid">
        <input type="number" min="{{ jigoubaoDetailData.minInvest }}" max="{{fundsProjectInvestNum}}" name="investAmount" step="{{jigoubaoDetailData.increaseAmount}}" placeholder="100元起投" class="investAmount u-pull-left padding-t-1 padding-b-1" ng-model="jigoubaoDetailData.investAmount">
        <button class="button button-primary border-ra-0p5 u-pull-left" ng-show="checkLargeUserCanAmount(jigoubaoDetailData)">充值</button>
        <button class="button button-primary border-ra-0p5 u-pull-left" ng-hide="checkLargeUserCanAmount(jigoubaoDetailData)">投资</button>
      </div>
    </form>
  </div>
  <div ng-switch-when=1>
    <div class="overflow-hid bg-orange1 padding-l-1 padding-r-1 padding-t-1 padding-b-1 border-orange3 ft-1p5">
      <span class="u-pull-left"><i class="fa fa-users ft-orange"></i>&nbsp;参投人数:<strong class="ft-orange">{{jigoubaoDetailData.investNumber || 0}}</strong>人</span>
      <span class="u-pull-right"><i class="fa fa-pie-chart ft-orange"></i>&nbsp;可投金额:<strong class="ft-orange">{{jigoubaoProjectInvestNum | currency:"":0 || 0}}</strong> 元</span>
    </div>
    <form name="investForm" class="investForm overflow-hid" ng-submit="toInvest(jigoubaoDetailData)">
      <div class="hint text-center bg-red1 padding-t-0p5 padding-b-0p5 box-shadow" ng-show="msg">
        <span class="ft-white"><i class="fa fa-info">&nbsp;</i>{{msg}}</span>
      </div>
      <div class="hint text-center bg-red1 padding-t-0p5 padding-b-0p5 box-shadow" ng-show="investForm.investAmount.$error.number">
        <span class="ft-white"><i class="fa fa-info">&nbsp;</i>输入金额格式不对，只能输入数字</span>
      </div>
      <div class="hint text-center bg-red1 padding-t-0p5 padding-b-0p5 box-shadow" ng-show="investForm.investAmount.$dirty && checkLargeUserCanAmount(jigoubaoDetailData)">
        <span class="ft-white"><i class="fa fa-info">&nbsp;</i>余额不足，请充值</span>
      </div>
      <div class="hint text-center bg-red1 padding-t-0p5 padding-b-0p5 box-shadow" ng-show="investForm.investAmount.$error.max || investForm.investAmount.$error.min">
        <span class="ft-white"><i class="fa fa-info">&nbsp;</i>请输入一个介于{{ jigoubaoDetailData.minInvest }}-{{ jigoubaoProjectInvestNum }}之间的值</span>
      </div>
      <div class="hint text-center bg-red1 padding-t-0p5 padding-b-0p5 box-shadow" ng-show="fundsFlag >= 1 && investForm.investAmount.$dirty && checkStepAmount(jigoubaoDetailData)">
        <span class="ft-white"><i class="fa fa-info">&nbsp;</i>输入值必须是100的整数倍</span>
      </div>
      <div class="padding-l-2 padding-r-2 margin-t-2 overflow-hid">
        <input type="number" min="{{ jigoubaoDetailData.minInvest }}" max="{{fundsProjectInvestNum}}" name="investAmount" step="{{jigoubaoDetailData.increaseAmount}}" placeholder="100元起投" class="investAmount u-pull-left padding-t-1 padding-b-1" ng-model="jigoubaoDetailData.investAmount">
        <button class="button button-primary border-ra-0p5 u-pull-left" ng-show="checkLargeUserCanAmount(jigoubaoDetailData)">充值</button>
        <button class="button button-primary border-ra-0p5 u-pull-left" ng-hide="checkLargeUserCanAmount(jigoubaoDetailData)">投资</button>
      </div>
    </form>
  </div>
  <div ng-switch-when=2>
    <div class="overflow-hid bg-orange1 padding-l-1 padding-r-1 padding-t-1 padding-b-1 border-orange3 ft-1p5">
      <span class="u-pull-left"><i class="fa fa-jpy ft-orange"></i>&nbsp;账户余额:<strong class="ft-orange">{{ account.balance | currency:"":2 || 0}}</strong>元</span>
      <span class="u-pull-right"><i class="fa fa-pie-chart ft-orange"></i>&nbsp;可投金额:<strong class="ft-orange">{{jigoubaoProjectInvestNum | currency:"":0 || 0}}</strong> 元</span>
    </div>
    <form name="investForm" class="investForm overflow-hid" ng-submit="toInvest(jigoubaoDetailData)">
      <div class="hint text-center bg-red1 padding-t-0p5 padding-b-0p5 box-shadow" ng-show="msg">
        <span class="ft-white"><i class="fa fa-info">&nbsp;</i>{{msg}}</span>
      </div>
      <div class="hint text-center bg-red1 padding-t-0p5 padding-b-0p5 box-shadow" ng-show="investForm.investAmount.$error.number">
        <span class="ft-white"><i class="fa fa-info">&nbsp;</i>输入金额格式不对，只能输入数字</span>
      </div>
      <div class="hint text-center bg-red1 padding-t-0p5 padding-b-0p5 box-shadow" ng-show="investForm.investAmount.$dirty && checkLargeUserCanAmount(jigoubaoDetailData)">
        <span class="ft-white"><i class="fa fa-info">&nbsp;</i>余额不足，请充值</span>
      </div>
      <div class="hint text-center bg-red1 padding-t-0p5 padding-b-0p5 box-shadow" ng-show="investForm.investAmount.$error.max || investForm.investAmount.$error.min">
        <span class="ft-white"><i class="fa fa-info">&nbsp;</i>请输入一个介于{{ jigoubaoDetailData.minInvest }}-{{ jigoubaoProjectInvestNum }}之间的值</span>
      </div>
      <div class="hint text-center bg-red1 padding-t-0p5 padding-b-0p5 box-shadow" ng-show="fundsFlag >= 1 && investForm.investAmount.$dirty && checkStepAmount(jigoubaoDetailData)">
        <span class="ft-white"><i class="fa fa-info">&nbsp;</i>输入值必须是100的整数倍</span>
      </div>
      <div class="padding-l-2 padding-r-2 margin-t-2 overflow-hid">
        <input type="number" min="{{ jigoubaoDetailData.minInvest }}" max="{{fundsProjectInvestNum}}" name="investAmount" step="{{jigoubaoDetailData.increaseAmount}}" placeholder="100元起投" class="investAmount u-pull-left padding-t-1 padding-b-1" ng-model="jigoubaoDetailData.investAmount" required>
        <button class="button button-primary border-ra-0p5 u-pull-left" ng-show="checkLargeUserCanAmount(jigoubaoDetailData)">充值</button>
        <button class="button button-primary border-ra-0p5 u-pull-left" ng-hide="checkLargeUserCanAmount(jigoubaoDetailData)">投资</button>
      </div>
    </form>
  </div>
  <div ng-switch-when=3>
    <div class="overflow-hid bg-orange1 padding-l-1 padding-r-1 padding-t-1 padding-b-1 border-orange3 ft-1p5">
      <span class="u-pull-left"><i class="fa fa-jpy ft-orange"></i>&nbsp;账户余额:<strong class="ft-orange">{{ account.balance | currency:"":2 || 0}}</strong>元</span>
      <span class="u-pull-right"><i class="fa fa-pie-chart ft-orange"></i>&nbsp;可投金额:<strong class="ft-orange">{{jigoubaoProjectInvestNum | currency:"":0 || 0}}</strong> 元</span>
    </div>
    <form name="investForm" class="investForm overflow-hid" ng-submit="toInvest(jigoubaoDetailData)">
      <div class="hint text-center bg-red1 padding-t-0p5 padding-b-0p5 box-shadow" ng-show="msg">
        <span class="ft-white"><i class="fa fa-info">&nbsp;</i>{{msg}}</span>
      </div>
      <div class="hint text-center bg-red1 padding-t-0p5 padding-b-0p5 box-shadow" ng-show="investForm.investAmount.$error.number">
        <span class="ft-white"><i class="fa fa-info">&nbsp;</i>输入金额格式不对，只能输入数字</span>
      </div>
      <div class="hint text-center bg-red1 padding-t-0p5 padding-b-0p5 box-shadow" ng-show="investForm.investAmount.$dirty && checkLargeUserCanAmount(jigoubaoDetailData)">
        <span class="ft-white"><i class="fa fa-info">&nbsp;</i>余额不足，请充值</span>
      </div>
      <div class="hint text-center bg-red1 padding-t-0p5 padding-b-0p5 box-shadow" ng-show="investForm.investAmount.$error.max || investForm.investAmount.$error.min">
        <span class="ft-white"><i class="fa fa-info">&nbsp;</i>请输入一个介于{{ jigoubaoDetailData.minInvest }}-{{ jigoubaoProjectInvestNum }}之间的值</span>
      </div>
      <div class="hint text-center bg-red1 padding-t-0p5 padding-b-0p5 box-shadow" ng-show="fundsFlag >= 1 && investForm.investAmount.$dirty && checkStepAmount(jigoubaoDetailData)">
        <span class="ft-white"><i class="fa fa-info">&nbsp;</i>输入值必须是100的整数倍</span>
      </div>
      <div class="padding-l-2 padding-r-2 margin-t-2 overflow-hid">
        <input type="number" min="{{ jigoubaoDetailData.minInvest }}" max="{{jigoubaoProjectInvestNum}}" name="investAmount" step="{{jigoubaoDetailData.increaseAmount}}" placeholder="100元起投" class="investAmount u-pull-left padding-t-1 padding-b-1" ng-model="jigoubaoDetailData.investAmount" required>
        <button class="button button-primary border-ra-0p5 u-pull-left" ng-show="checkLargeUserCanAmount(jigoubaoDetailData)">充值</button>
        <button class="button button-primary border-ra-0p5 u-pull-left" ng-hide="checkLargeUserCanAmount(jigoubaoDetailData)">投资</button>
      </div>
    </form>
  </div>
</div>
<div class="row" ng-show="jigoubaoDetailData.status !== 7">
  <div class="overflow-hid bg-orange1 padding-l-1 padding-r-1 padding-t-1 padding-b-1 border-orange3 ft-1p5">
    <span class="u-pull-left"><i class="fa fa-users ft-orange"></i>&nbsp;参投人数&nbsp;<strong class="ft-orange">{{jigoubaoDetailData.investNumber || 0}}</strong>人</span>
    <span class="u-pull-right"><i class="fa fa-pie-chart ft-orange"></i>&nbsp;可投金额&nbsp;<strong class="ft-orange">12000{{jigoubaoProjectInvestNum | currency:"":0 || 0}}</strong> 元</span>
  </div>
  <form name="investForm" class="investForm overflow-hid" ng-submit="toInvest(jigoubaoDetailData)">
    <div class="hint text-center bg-red1 padding-t-0p5 padding-b-0p5 box-shadow" ng-show="msg">
      <span class="ft-white"><i class="fa fa-info">&nbsp;</i>{{msg}}</span>
    </div>
    <div class="hint text-center bg-red1 padding-t-0p5 padding-b-0p5 box-shadow" ng-show="investForm.investAmount.$error.number">
      <span class="ft-white"><i class="fa fa-info">&nbsp;</i>输入金额格式不对，只能输入数字</span>
    </div>
    <div class="hint text-center bg-red1 padding-t-0p5 padding-b-0p5 box-shadow" ng-show="investForm.investAmount.$dirty && checkLargeUserCanAmount(jigoubaoDetailData)">
      <span class="ft-white"><i class="fa fa-info">&nbsp;</i>余额不足，请充值</span>
    </div>
    <div class="hint text-center bg-red1 padding-t-0p5 padding-b-0p5 box-shadow" ng-show="investForm.investAmount.$error.max || investForm.investAmount.$error.min">
      <span class="ft-white"><i class="fa fa-info">&nbsp;</i>请输入一个介于{{ jigoubaoDetailData.minInvest }}-{{ jigoubaoProjectInvestNum }}之间的值</span>
    </div>
    <div class="hint text-center bg-red1 padding-t-0p5 padding-b-0p5 box-shadow" ng-show="fundsFlag >= 1 && investForm.investAmount.$dirty && checkStepAmount(jigoubaoDetailData)">
      <span class="ft-white"><i class="fa fa-info">&nbsp;</i>输入值必须是100的整数倍</span>
    </div>
    <div class="padding-l-2 padding-r-2 margin-t-2 overflow-hid">
      <input type="number" min="{{ jigoubaoDetailData.minInvest }}" max="{{jigoubaoProjectInvestNum}}" name="investAmount" step="{{jigoubaoDetailData.increaseAmount}}" placeholder="100元起投" class="investAmount u-pull-left padding-t-1 padding-b-1" ng-model="jigoubaoDetailData.investAmount" required>
      <button class="button button-primary border-ra-0p5 u-pull-left" ng-show="checkLargeUserCanAmount(jigoubaoDetailData)">充值</button>
      <button class="button button-primary border-ra-0p5 u-pull-left" ng-hide="checkLargeUserCanAmount(jigoubaoDetailData)">投资</button>
    </div>
  </form>
</div>
<div class="project-mask" ng-show="rewardFlag">
  <div class="bg-white project-mask-inner">
    <p class="margin-b-1 padding-l-2 padding-t-2" ng-show="account.experienceAmount > 0">
      <input type="checkbox" ng-model="jigoubaoDetailData.useExperience">使用体验金:{{account.experienceAmount | currency : "":0 || 0}}</p>
    <p class="margin-b-1 padding-l-2" ng-show="selectCoupon !== null && jigoubaoDetailData.product.type !== 1">
      <select type="button" class="btn btn-default" ng-model="selectCoupon" data-html="1" data-animation="am-flip-x" ng-options="coupon as coupon.rateText for coupon in increaseRateCoupons" required>
      </select>
    </p>
    <p class="margin-b-1 padding-l-2 padding-r-2">
      <button class="button button-primary" style="width:48%;" ng-click="$parent.rewardFlag = false;">取消</button>
      <button class="button button-primary" style="width:48%;" ng-click="confirmUseReward(jigoubaoDetailData, selectCoupon)">确定</button>
    </p>
  </div>
</div>
