<!-- 零存宝详情页 -->
<div class="funds-project bg-white">
  <div class="row current-detail-bg ft-white padding-t-2 padding-b-2">
    <p class="text-center margin-0 padding-b-2">
      <strong class="ft-2 ft-white">{{simpleFundsProject.product.name}}{{simpleFundsProject.name}}</strong>
      <span class="ft-1p8 bg-white ft-orange padding-l-2 padding-r-2 border-ra-20">{{statusMap[simpleFundsProject.status]}}</span>
    </p>
    <p class="margin-0 padding-b-1 text-center">
      <strong class="ft-3">{{simpleFundsProject.product.baseRate |currency:"":1 || 0}}</strong>%
      <strong class="ft-3">- {{simpleFundsProject.product.maxRate |currency:"":1 || 0}}</strong>%
    </p>
    <p class="margin-0 padding-t-0p5 text-center padding-b-0p5 ft-1p8">年化收益率</p>
  </div>
  <div class="tab-arrow">
    <table class="u-full-width margin-b-0" border-collapse="collapse">
      <tbody>
        <tr>
          <td>递增方式</td>
          <td>递增收益，每期递增&nbsp;<span class="ft-orange">{{simpleFundsProject.product.riseRate |currency:"":1 || 0}} %</span></td>
        </tr>
        <tr>
          <td>续投次数</td>
          <td>{{simpleFundsProject.product.repeatInvestMaxCount}}次</td>
        </tr>
        <tr>
          <td>锁定期限</td>
          <td>{{simpleFundsProject.product.sealingDays || 0}}日</td>
        </tr>
        <tr>
          <td>退出日期</td>
          <td>{{simpleFundsProject.repaymentDate | amDateFormat:'YYYY.MM.DD日'}}</td>
        </tr>
        <tr>
          <td>投资上限</td>
          <td>累积投资不超过<span class="ft-orange">{{simpleFundsProject.product.maxInvest | number : 0}}</span>元</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-right padding-b-1">
    <a href="javascript:;" ng-click="toggle();" class="ft-grey4 ft-1p2" style="text-decoration:underline;">零存宝协议范本</a>
  </div>
  <!-- 投资模块 -->
  <div ng-include src="'views/project/_current-project-investment.html'">
  </div>
  <!-- 开通自动投标权限 -->
  <div ng-include src="'views/user-center/auto-auto-transfer.html'" ng-show="authAutoTransferFlag">
  </div>
  <div class="alert-agreement" ng-show="showFundsAgreement" ng-include src="'views/_current_deposit-agreement.html'">
  </div>
</div>
