<div class="bg-accountcolor padding-b-7">
<div class="experience-new">
  <p class="title margin-b-0"><span>体验金专享标<sup>new</sup></span></p>
  <div class="left-right">
    <div>
      <p class="ft-7a name-tip margin-b-0"><img src="/images/new/nianhua.png" alt="">年化收益率</p>
      <p class="ft-orange ft-1p2 margin-b-0"><span class="ft-3">{{experienceProject.annualEarnings | number:1}}</span>%</p>
    </div>
    <div>
      <p class="ft-7a name-tip margin-b-0"><img src="/images/new/deadline.png" alt="">投资期限</p>
      <p class="ft-orange ft-1p2 margin-b-0"><span class="ft-3">1</span>天</p>
    </div>
  </div>
</div>
<div class="experience-new margin-t-2">
  <p class="title margin-b-1"><span>平台模式</span></p>
  <img src="/images/new/Platform-mode.png" alt="" width="100%;" class="margin-b-1">
</div>
<div class="experience-new margin-t-2">
  <p class="title margin-b-1"><span>平台特点</span></p>
  <p class="text-tip margin-b-0"><img src="/images/new/platform-text.png">金融机构，优质的债权来源</p>
  <p class="text-tip margin-b-0"><img src="/images/new/platform-text.png">三方托管，安全的信息中介</p>
  <p class="text-tip margin-b-1"><img src="/images/new/platform-text.png">层层把关，优秀的风控团队</p>
</div>
<div class="new-invment">
  <div class="input-false">{{userAccount.experienceAmount | number:0}}体验金</div>
  <div class="btn-orange" ng-click="quickInvest()">立即投资</div>
</div>
<div class="hint text-center bg-red1 padding-t-0p5 padding-b-0p5 box-shadow" ng-show="showMsg">
  <span class="ft-white"><i class="fa fa-info">&nbsp;</i>{{msg}}</span>
</div>
<!-- 快速投资蒙层 -->
<div class="project-mask" ng-show="useExperience">
  <div class="bg-white email-mask project-mask-inner">
    <p class="margin-b-0 text-center ft-1p8">
      您将投资&nbsp;<strong class="ft-orange">{{userAccount.experienceAmount | number:0}}</strong>&nbsp;元体验金到体验金专享标
    </p>
    <p class="margin-b-0 text-center ft-1p8">
      并获得&nbsp;<strong class="ft-orange">{{userAccount.experienceAmount * experienceProject.annualEarnings * 1 /36500 | number:2}}</strong>&nbsp;元收益
    </p>
    <p class="project-mask-btn2">
      <span ng-click="useExperience=false;">取消</span>
      <span ng-click="toInvest()">确定</span></p>
  </div>
</div>
</div>