<div class="funds-project bg-white">
  <div class="row padding-l-2 padding-r-2">
    <p class="text-center margin-0 padding-2">
      <strong class="ft-2">{{simpleFundsProject.product.name}}{{simpleFundsProject.name}}</strong>
      <span class="ft-1p8 border-grey bg-grey3 ft-white padding-l-2 padding-r-2 border-ra-20">{{statusMap[simpleFundsProject.status]}}</span>
    </p>
    <div class="columns six offset-by-three border-ra-50 text-center ft-orange circle-rate">
      <span><strong class=" ft-2">{{simpleFundsProject.product.baseRate}}% - {{simpleFundsProject.product.maxRate}}%</strong>%</span>
      <br>
      年化收益率
    </div>
  </div>
  <div class="padding-2">
    <table class="u-full-width" border-collapse = "collapse">
      <tbody>
        <tr>
          <td>递增方式</td>
          <td>递增收益，每期递增<span class="ft-orange">{{simpleFundsProject.product.riseRate || 0}} %</span></td>
        </tr>
        <tr>
          <td>续投次数</td>
          <td>{{simpleFundsProject.product.repeatInvestMaxCount}}次</td>
        </tr>
        <tr>
          <td>锁定期限</td>
          <td>{{simpleFundsProject.product.sealingDays || 0}}日</td>
        </tr>
        <tr>
          <td>退出日期</td>
          <td>{{simpleFundsProject.repaymentDate | amDateFormat:'YYYY年MM月DD日'}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="overflow-hid bg-blue2 padding-l-2 padding-r-2 padding-t-0p5 padding-b-0p5 border-blue1 margin-b-2">
    <span class="u-pull-left"><i class="fa fa-users ft-blue2"></i>&nbsp;参投人数:<strong class="ft-blue1">{{simpleFundsProject.investNumber || 0}}</strong>人</span>
    <span class="u-pull-right"><i class="fa fa-pie-chart ft-blue2"></i>&nbsp;剩余可投金额<strong class="ft-blue1">{{fundsProjectInvestNum | currency:"":0 || 0}}</strong> 元</span>
  </div>
</div>


