<!-- 宏金宝立即投资状态页 -->
<div class="hongjinbao-investment-status bg-white2" >
  <div class="padding-l-2 padding-r-1 padding-t-0p8 padding-b-0p8 bg-orange1 position-re border-orange3 border-left-none border-right-none width-pull overflow-hid ">
   <!-- 未登录情况 -->
   <div ng-show="!isLogged">
    <p class="ft-black4 margin-b-0 display-inb status-message">您的账号未登录，请先登录</p>
    <button class="button fr ft-1p5 button-primary border-ra-0p5 btn-sign margin-b-0" ng-click="toLogin()">登录</button>
   </div>
   <div ng-show="isLogged && securityStatus.realNameAuthStatus === 1">
   <!-- 已登录显示资产 -->
    <p class="ft-black4 display-inb margin-b-0 status-message" ><img class="display-inb fl margin-t-0p8 margin-r-0p3" width="8%" src="/images/user-center/user-balance-icon.png" alt="">您的账户余额 <strong class="ft-orange">{{account.balance | number:2}}</strong> 元</p>
    <button class="button fr ft-1p8 position-ab button-primary border-ra-0p5 btn-sign" ui-sref="root.userCenter.recharge">充值</button>
   </div>
   <!-- 未开通第三方托管 -->
   <div ng-show="isLogged && securityStatus.realNameAuthStatus !== 1">
   <p class="ft-black4 display-inb margin-b-0 status-message">您的账号未开通第三方托管</p>
   <button class="button fr ft-1p8 position-ab button-primary border-ra-0p5 btn-sign" ng-click="toRealNameAuth()">开通</button>
   </div>
  </div>
  <div style="height: 2rem;"></div>
  <div class="bg-white1">
    <div class="padding-l-2 boder-grey-b padding-t-1">
      <p class="ft-grey4 ft-1p8 margin-b-1">{{project.name}}</p>
      <p class="ft-grey4 margin-b-0p5 margin-t-0p5">剩余可投金额：<span class="ft-orange">{{project.availableAmount | number : 0}}元</span></p>
    </div>
    <div class="padding-l-2 boder-grey-tb border-top-none">
      <p class="ft-grey4 margin-b-1p5 margin-t-1p5 display-inb">投资金额：<i class="fa fa-jpy ft-grey10"></i></p>
      <input type="number" ng-model="project.investAmount" placeholder="请输入100的整数倍" class="display-inb border-none margin-b-0 padding-l-0 ft-1p5" ng-disabled="!isLogged || !newbieBiaoInvestFlag">
    </div>
  </div>
  <div ng-show="showErrorMsg" class="padding-l-2 ft-1p4" style="height: 2rem;">
    <p class="margin-b-0 ft-red10 display-inb">{{msg}}</p>
  </div>
  <div ng-show="!showErrorMsg" class="padding-l-2" style="height: 2rem;">
    <p class="margin-b-0 ft-red10 display-inb"></p>
  </div>
  <div class="bg-white1 ft-grey4 ">
    <div class="padding-l-2 padding-r-2 boder-grey-b width-pull">
      <p class="margin-b-1p5 margin-t-1p5 display-inb">加息券：</p>
      <span class="fr margin-t-1p5" id="ticket" ng-show="selectIncreaseRateCoupon" ng-click="showSelectIncreaseRateCoupon=true;">{{selectIncreaseRateCoupon.rate}}%加息券&nbsp;&nbsp;<i class="fa fa-chevron-right display-inb" aria-hidden="true"></i></span>
      <!-- 没有加息券 -->
      <span class="fr margin-t-1p5" ng-show="!selectIncreaseRateCoupon" ng-click="showSelectIncreaseRateCoupon=true;">{{unSelectCouponMsg}}&nbsp;&nbsp;<i class="fa fa-chevron-right display-inb" aria-hidden="true"></i></span>
    </div>
    <div class="padding-l-2 padding-r-2 boder-grey-tb border-top-none margin-b-4">
      <p class="margin-b-1p5 margin-t-1p5 display-inb">预期收益：</p>
      <p class="display-inb fr margin-t-1p5 margin-b-0">{{profit || 0 | number : 2}}元 + <span class="ft-orange">{{increaseRateProfit || 0 | number : 2}}元</span></p>
    </div>
  </div>
  <div class="padding-l-1 padding-r-1 padding-b-0">
    <button class="u-full-width button button-primary ft-normal ft-4" ng-show="investButtonFlag && newbieBiaoInvestFlag" ng-click="toInvest(project)">立即投资</button>
    <button class="u-full-width button btn-disabled ft-normal ft-2" ng-show="!investButtonFlag || !newbieBiaoInvestFlag">立即投资</button>
  </div>
  <div class="width-pull text-center ft-grey2 ft-1p2 invest-tips">
    <p class="margin-b-0">预期收益仅作参考，实际以到账为准！</p>
  </div>
  <!-- 加息券弹出 -->
  <div class="rate-increase " ng-show="increaseRateCoupons.length > 0 && showSelectIncreaseRateCoupon">
    <div class="bg-white position-ab rate-increase-list width-pull">
      <ul class="padding-1 margin-b-0 padding-b-0">
        <li class="margin-b-0p5 position-re" ng-click="selectCoupon(coupon)" ng-repeat=" coupon in increaseRateCoupons |limitTo : initLimit">
          <img src="/images/rate-ticket.png" alt="">
          <p class="fl position-ab margin-b-0 ticket-left">{{coupon.rate | number : 1}}<span class="ft-1p5">%</span></p>
          <div class="position-ab ticket-right">
            <p class="ft-grey4 ft-1p2">•&nbsp;{{coupon.description || '活动奖励'}}</p>
            <p class="ft-grey4 ft-1p2">•&nbsp;适用于宏金保项目</p>
            <p class="ft-grey4 ft-1p2">•&nbsp;有效期至{{coupon.endTime | date : 'yyyy-MM-dd'}}</p>
          </div>
        </li>
      </ul>
      <p class="text-center ft-grey4 margin-b-2" ng-show="initLimit < increaseRateCoupons.length" ng-click="viewMoreCoupon()">
        <i class="fa fa-list-ul ft-orange" aria-hidden="true">&nbsp;</i>
        <span class="text-underline ">查看更多</span>
      </p>
      <p class="text-center padding-t-1 padding-b-1 ft-grey4 margin-b-0 boder-grey-t boder-grey-b click-active" ng-click="unUseIncreaseRateCoupon()">不使用加息券</p>
      <p class="text-center padding-t-1 padding-b-1 margin-b-0 ft-orange click-cancel" ng-click="showSelectIncreaseRateCoupon=false;initLimit=3;">取消</p>
    </div>
  </div>
</div>
<!-- 有未支付订单 -->
  <div class="mask1 unfinished-order" ng-show="showUnfinishedOrder">
    <div class="bg-white position-ab bottom-0 padding-r-2 padding-l-2 padding-t-1  width-pull">
      <div class="clearfix">
        <div class="click-close" ng-click="hideUnfinishedOrder()"><img src="/images/user-center/close1.png" class="fr" alt=""></div>
      </div>
      <div class="text-left ft-black3">
        <p class="unfinished-order-tittle ft-orange margin-b-1p5 ft-1p8">您当前有一笔尚未支付的订单：</p>
        <p class="margin-b-0">项目名称：某某</p>
        <p class="margin-b-0">预期利率：8.18%</p>
        <p class="margin-b-0">项目期限：30天</p>
        <p class="margin-b-1p5">投资金额：<span class="ft-orange">10000.00元</span></p>
        <p class="margin-b-0 ft-red unfinished-order-tip">放弃该笔投资点击取消订单；完成该笔投资点击继续支付</p>
      </div>
      <div class="margin-t-2 margin-b-1p5 clearfix ft-1p8">
        <button class="button btn-close half1 fl text-center">取消订单</button>
        <button class="button button-primary half1 fr">继续支付</button>
      </div>
    </div>
  </div>
