<!-- 新宏金保项目详情页 -->
<div class="new-project-detail">
	<div class="header">
		<ul>
			<li>
				<p>9.5<span>%</span></p>
				<p>预期年化利率</p>
			</li>
			<li>
				<p>60<span>天(项目期限)</span></p>
				<p>400000<span>元</span></p>
				<div class="pro-info3">
					<div class="process">
		        <div class="progress-bar bg-orange" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:30%;">
		          <div class="type-img"></div>
		        </div>
	        </div>
	        <div class="join-in">30%</div>
					</div>
			</li>
		</ul>
	</div>
	<div class="content">
		<a class="column" ui-sref="root.userCenter.credits" href="/user-center/credits">
      <span>项目详情</span>
      <span>
      	<i class="fa fa-angle-right"></i>
      </span>
    </a>
    <a class="column" ui-sref="root.userCenter.credits" href="/user-center/credits">
      <span>投资记录</span>
      <span><b class="ft-normal">12名投资人</b><i class="fa fa-angle-right"></i></span>
    </a>
    <a class="column border-grey3-top margin-t-2" ui-sref="root.userCenter.credits" href="/user-center/credits">
      <span>账户余额：<i class="ft-orange ft-normal1">100.14</i> 元</span>
      <span><b class="ft-normal">充值</b><i class="fa fa-angle-right"></i></span>
    </a>
    <a class="column" ui-sref="root.userCenter.credits" href="/user-center/credits">
      <span>加息券</span>
      <span><b class="ft-normal">2%加息券 有效期到16-08-02</b>
      	<i class="fa fa-angle-right"></i>
      </span>
    </a>
    <ul>
    	<li>
    		<p>剩余可投(元)</p>
    		<p>5300000</p>
    	</li>
    	<li>
    		<p>预计收益(元)</p>
    		<p>95.00</p>
    	</li>
    </ul>
    <div class="invest">
    	<div class="plus grey-status"><hr></div>
    	<input class="invest-input" type="text" value="1000">
    	<div class="add orange-status"><hr><hr></div>
    </div>
	</div>
	<div class="padding-2">
    <button class="u-full-width button button-primary ft-normal ft-4" type="button">立即投资</button>
  </div>
</div>
