<!-- 项目投资人 -->
<div class="investor-record">
  <table>
    <thead>
      <tr>
        <th>成交时间</th>
        <th>用户名</th>
        <th>投资金额</th>
      </tr>
    </thead>
    <!-- 有投资 -->
    <!-- <tbody>
      <tr>
        <td class="ft-grey4">2016-08-26</td>
        <td class="ft-blue">133****9890</td>
        <td><span class="ft-orange0">10000</span>元</td>
      </tr>
    </tbody> -->
  </table>
  <!-- 没投资 -->
  <div class="text-center">
    <img src="/images/project/no-record.png" width="17%" class="margin-t-2">
    <p class="ft-grey4 margin-b-0 margin-t-1p5">该项目暂未有人投资</p>
    <p class="ft-grey4 margin-b-0">快做第一投资人吧</p>
  </div>
</div>
