<!-- 新宏金保项目详情页 -->
<div class="new-project-detail">
	<div class="header">
		<ul>
			<li>
				<p>{{project.annualEarnings}}<span>%</span></p>
				<p>预期年化利率</p>
			</li>
			<li>
				<p>{{project.projectDays}}<span>天(项目期限)</span></p>
				<p>{{project.total}}<span>元</span></p>
				<div class="pro-info3">
					<div class="process">
		        <div class="progress-bar bg-orange" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:{{project.percent | number: 1}}%;">
		          <div class="type-img"></div>
		        </div>

	        </div>
	        <div class="join-in">{{project.percent | number: 1}}%</div>
					</div>
			</li>
		</ul>
	</div>
	<div class="content">
		<a class="column"  ui-sref="root.project-detail({number:project.number})">
      <span>项目详情</span>
      <span>
      	<i class="fa fa-angle-right"></i>
      </span>
    </a>
    <!-- <a class="column">
      <span>投资记录</span>
      <span><b class="ft-normal">12名投资人</b><i class="fa fa-angle-right"></i></span>
    </a> -->
    <a class="column border-grey3-top margin-t-1p2" ng-click="toRecharge()" ng-show="isLogged">
      <span>账户余额：<i class="ft-orange ft-normal1">{{account.balance || 0 | number:2}}</i> 元</span>
      <span><b class="ft-normal">充值</b><i class="fa fa-angle-right"></i></span>
    </a>
    <a class="column border-grey3-top margin-t-1p2" ng-click="toLogin()" ng-show="!isLogged">
      <span>您的账号未登录，请先登录</span>
      <span><b class="ft-normal">登录</b><i class="fa fa-angle-right"></i></span>
    </a>
    <a class="column">
      <span>加息券</span>
      <span>
      	<b class="ft-normal" ng-show="selectIncreaseRateCoupon" ng-click="showSelectIncreaseRateCoupon=true;">{{selectIncreaseRateCoupon.value}}%加息券 有效期到{{selectIncreaseRateCoupon.endTime | date : 'yy-MM-dd' }}</b>
      	<b class="ft-normal" ng-show="!selectIncreaseRateCoupon" ng-click="showSelectIncreaseRateCoupon=true;">{{unSelectCouponMsg}}</b>
      	<i class="fa fa-angle-right"></i>
      </span>
    </a>
    <ul>
    	<li>
    		<p>剩余可投(元)</p>
    		<p>{{project.availableAmount || 0}}</p>
    	</li>
    	<li>
    		<p>预计收益(元)</p>
    		<p>{{ profit | number: 2 }} <span ng-show="selectIncreaseRateCoupon">+{{increaseRateProfit || 0 | number : 2}}</span></p>
    	</li>
    </ul>
    <div class="invest">
    	<div ng-click="modInvestAmout(-project.increaseAmount)" class="plus grey-status"><hr></div>
    	<input class="invest-input" type="number" ng-model="project.investAmount" ng-disabled="project.status !==7 || securityStatus.realNameAuthStatus !== 1" min="{{project.minInvest}}">
    	<div ng-click="modInvestAmout(project.increaseAmount)" class="add orange-status"><hr><hr></div>
    </div>
	</div>
	<div class="invest-btn">
    <button id="invest-btn1" class="button button-primary" type="button" ng-show="!msg && isLogged && project.status === 7" ng-click="toInvest(project)">立即投资</button>
    <button class="button btn-disabled" ng-show="msg && project.status ===7 && securityStatus.realNameAuthStatus === 1">立即投资</button>
    <button class="button btn-disabled" ng-show="project.status ===6 ">预发布</button>
    <button class="button btn-disabled" ng-show="project.status ===9 ">还款中</button>
    <button class="button btn-disabled" ng-show="project.status ===8 ">融资成功</button>
    <button class="button btn-disabled" ng-show="project.status ===10 ">已完成</button>
    <button class="button btn-disabled" ng-show="project.status ===11 ">预约中</button>
    <button class="button button-primary" type="button" ng-show="isLogged && project.status ===7 && securityStatus.realNameAuthStatus !== 1" ng-click="toRealNameAuth()">开通资金托管账户</button>
    <button class="button button-primary" type="button" ng-show="!isLogged && project.status ===7" ng-click="toLogin()">立即登录</button>
  </div>


  <!-- 错误提示 -->
  <div class="toast" ng-show="showErrorMsg">
  	<span>{{msg}}</span>
  </div>
</div>
<!-- 加息券弹出 -->
<div class="rate-increase " ng-show="increaseRateCoupons.length > 0 && showSelectIncreaseRateCoupon">
  <div class="bg-white position-ab rate-increase-list width-pull">
    <ul class="padding-1 margin-b-0 padding-b-0">
      <li class="margin-b-0p5 position-re" ng-click="selectCoupon(coupon)" ng-repeat=" coupon in increaseRateCoupons |limitTo : initLimit">
        <img src="/images/rate-ticket.png" alt="">
        <p class="fl position-ab margin-b-0 ticket-left">{{coupon.value | number : 1}}<span class="ft-1p5">%</span></p>
        <div class="position-ab ticket-right">
          <p class="ft-grey4 ft-1p2">•&nbsp;{{coupon.description || '活动奖励'}}</p>
          <p class="ft-grey4 ft-1p2" ng-if="coupon.projectDays <= 0">•&nbsp;适用于宏金保项目</p>
          <p class="ft-grey4 ft-1p2" ng-if="coupon.projectDays > 0">•&nbsp;适用于宏金保&ge;30天项目</p>
          <p class="ft-grey4 ft-1p2">•&nbsp;有效期至{{coupon.endTime | date : 'yyyy-MM-dd'}}</p>
        </div>
      </li>
    </ul>
    <p class="text-center ft-grey4 margin-b-2" ng-show="initLimit < increaseRateCoupons.length" ng-click="viewMoreCoupon()">
      <i class="fa fa-list-ul ft-orange" aria-hidden="true">&nbsp;</i>
      <span class="text-underline ">查看更多</span>
    </p>
    <p class="text-center padding-t-1 padding-b-1 ft-grey4 margin-b-0 boder-grey-t boder-grey-b click-active" ng-click="unUseIncreaseRateCoupon()">不使用加息券</p>
    <p class="text-center padding-t-1 padding-b-1 margin-b-0 ft-orange click-cancel" ng-click="showSelectIncreaseRateCoupon=false;initLimit=3;">取消</p>
  </div>
</div>
