<!-- 宏金保详情页 -->
<div class="funds-project bg-white">
  <div class="row current-detail-bg ft-white padding-t-2 padding-b-2">
    <p class="text-center margin-b-1">
      <strong class="ft-1p6 ft-white">首单担保2016010001期</strong>
      <span class="ft-1p8 bg-white ft-orange padding-l-1 padding-r-1 border-ra-20">正常还款中</span>
    </p>
    <p class="margin-b-0 text-center">
      <strong class="ft-4">12%</strong>
      <!-- <strong class="ft-3">- {{simpleFundsProject.product.maxRate |currency:"":1 || 0}}</strong>% -->
    </p>
    <p class="margin-0 text-center ft-1p8">年化收益率</p>
  </div>
  <div class="tab-arrow">
    <table class="u-full-width margin-b-0" border-collapse="collapse">
      <tbody>
        <tr>
          <td>推荐机构</td>
          <td>北京收单融资担保有限公司</td>
        </tr>
        <tr>
          <td>投资日期</td>
          <td><span class="ft-orange">120</span>天</td>
        </tr>
        <tr>
          <td>还款日期</td>
          <td>2015-12-29</td>
        </tr>
        <tr>
          <td>还款方式</td>
          <td>按月付息&nbsp;到期还本</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="padding-1">
    <a ui-sref="root.project-detail-more" class="fl ft-orange">更多详情&nbsp;&nbsp;></a><a href="javascript:;" ng-click="toggle();" class="ft-grey4 fr" style="text-decoration:underline;">零存宝协议范本</a>
  </div>
  <!-- 投资模块 -->
  <div ng-include src="'views/project/_project-investment.html'"></div>
  <!-- 开通自动投标权限 -->
  <div ng-include src="'views/user-center/auto-auto-transfer.html'" ng-show="authAutoTransferFlag"></div>
  <!-- ng-show="showFundsAgreement" 协议 -->
  <div class="alert-agreement" ng-show="showFundsAgreement" ng-include src="'views/_current_deposit-agreement.html'"></div>
</div>
