<div class="bg-white">
  <div class="padding-l-1 margin-b-1 padding-r-1 margin-t-1">
    <span class="text-left ft-1p6">级联担保推荐标150127期</span><span class="ft-orange ft-1 text-right padding-l-2">宏金保协议范本</span>
  </div>
  <div class="main-hongjinbao">
    <ul>
      <li>
        <div class="text-center">
          <i class="fa fa-jpy"></i>
          <br>
          <p class="margin-b-0p5 ft-1p8">500万</p>
          <p class="margin-b-0p5 ft-1p5">融资金额</p>
        </div>
      </li>
      <li>
        <div class="text-center">
          <i class="fa fa-line-chart"></i>
          <br>
          <p class="margin-b-0p5 ft-1p8">12%</p>
          <p class="margin-b-0p5 ft-1p5">年化收益率</p>
        </div>
      </li>
      <li>
        <div class="text-center">
          <i class="fa fa-clock-o"></i>
          <br>
          <p class="margin-b-0p5 ft-1p8">3个月</p>
          <p class="margin-b-0p5 ft-1p5">投资期限</p>
        </div>
      </li>
    </ul>
    <div class="progress-hongjinbao">
      <p class="text-center ft-1p8">按月付息，到期还本&nbsp;&nbsp;100%本息保障</p>
      <p>progressbar</p>
      <p class="ft-1p6"><span class="text-left">投资进度30%</span><span class="text-right">可投金额31万</span></p>
    </div>
  </div>
  <div class="hongjinbao-list-detail">
    <p>
      <span>项目名称</span>
      <span >担保推荐标150127期</span>
    </p>
    <p>
      <span>推荐机构</span>
      <span >北京融资担保有限公司</span>
    </p>
    <p>
      <span>发布日期</span>
      <span >2015-12-28</span>
    </p>
    <p>
      <span>还款日期</span>
      <span >2015-12-28</span>
    </p>
    <p>
      <span>起投金额</span>
      <span >100元</span>
    </p>
  </div>
  <div class="detail-more" ui-sref="root.project-detail-more">
    更多详情&nbsp;&nbsp;>
  </div>
  <!-- 投资模块 -->
  <div ng-include src="'views/project/_funds-project-investment.html'">
  </div>
</div>
