<footer class="columns twelve text-center">
  <!-- <div class="columns twelve bg-grey ft-shell padding-l-2"> -->
  <div class="columns twelve bg-grey ft-shell">
    <a ui-sref="root.issue" class="columns four border-grey-right padding-t-1 padding-b-1 ft-white"><i class="fa fa-jpy"></i>&nbsp;常见问题</a>
    <a ui-sref="root.safe" class="columns four border-grey-right padding-t-1 padding-b-1 ft-white"><i class="fa fa-shield"></i>&nbsp;安全保障</a>
    <a ui-sref="root.about" class="columns four padding-t-1 padding-b-1 ft-white"><i class="fa fa-info-circle"></i>&nbsp;关于我们</a>
  </div>
  <div class="columns twelve text-center bg-grey2 padding-t-1">
    <p class="border-grey1-bottom overflow-hid padding-b-1 margin-0">
      <a class="column one-half ft-blue1">下载Android客户端</a>
      <a class="column one-half ft-grey2">IOS客户端敬请期待</a>
    </p>
    <p class="ft-grey1 padding-t-1">
      <small>&copy; 2014-2015 宏财泰富（北京）科技有限公司
      <br>京ICP备14051673号-1</small>
    </p>
  </div>

</footer>
