<footer class="footer bg-offWhite columns twelve text-center footer-pos" style="border-top:0.1rem solid #ddd;" ng-show="showFooter">
  <div class="footer-up columns twelve ft-grey4 bg-offWhite">
    <!-- <a ng-click="!timeout || go('root.issue')" class="border-grey-right-footer padding-t-1 padding-b-1 ">&nbsp;常见问题</a>  && showPath === ''"-->

    <a ng-click="!timeout || go('root.safe')" href="javascript:;">
    <span></span>推荐</a>
    <a ng-click="!timeout || go('root.about')" href="javascript:;">
    <span></span>简介</a>
    <a ng-click="!timeout || go('root.main')" href="javascript:;">
    <span></span>投资</a>
    <a ng-click="!timeout || go('root.login')" ng-show="!isLogged" href="javascript:;">
    <span></span>注册/登录</a>
    <a ng-click="!timeout || go('root.userCenter.account')" ng-show="isLogged" href="javascript:;">
    <span></span>我的</a>
  </div>
  <!-- <p class="footer-tip">北京竞财投资服务有限公司</p> -->
  <!-- 当用户进入详情页不显示 -->
<!--   <div ng-show="showPath === 'funds-projects'">
  </div>
 -->
  <!--  -->
  <!--   <div class="footer-down columns twelve text-center bg-grey2 padding-t-1">
    <p class="border-grey1-bottom overflow-hid padding-b-1 margin-0">
      <a class="ft-blue1" class="padding-t-1 padding-b-1 ft-white">下载Android客户端</a>
      <a class="ft-grey2">IOS客户端敬请期待</a>
    </p>
    <p class="ft-grey1 padding-t-1">
      <small>&copy; 2014-2015 宏财泰富（北京）科技有限公司
      <br>京ICP备14051673号-1</small>
    </p>
  </div> -->
</footer>
<script>
  $(".footer-up a").click(function(){
    $(this).find("span").addClass('active').parents('a').siblings().find("span").removeClass('active');
    $(this).addClass('active').siblings().removeClass('active');
  });
</script>
