<footer class="columns twelve text-center padding-t-1">
  <div class="columns twelve bg-grey ft-shell padding-l-2">
    <span class="columns four border-grey-right padding-t-1 padding-b-1"><i class="fa fa-jpy"></i>&nbsp;理财项目</span>
    <span class="columns four border-grey-right padding-t-1 padding-b-1"><i class="fa fa-shield"></i>&nbsp;安全保障</span>
    <span class="columns four padding-t-1 padding-b-1"><i class="fa fa-info-circle"></i>&nbsp;关于我们</span>
  </div>
  <div class="columns twelve text-center bg-grey2 padding-t-1">
    <p class="border-grey-bottom overflow-hid padding-b-1 margin-0">
      <span class="column one-half ft-blue">下载Android客户端</span>
      <span class="column one-half ft-grey2">IOS客户端敬请期待</span>
    </p>
    <p class="ft-grey1 padding-t-1">
      <small>&copy; 2014-2015 宏财泰富（北京）科技有限公司
      <br>京ICP备14051673号-1</small>
    </p>
  </div>
  
</footer>
