<nav id="header" class="bg-white box-shadow position-re padding-t-1 padding-l-1 padding-r-1 overflow-hid">
  <a ui-sref="root.main"><img src="images/logo.png" width="25%"></a>
  <i class="fa fa-bars u-pull-right ft-2p5" ng-click="toggle();" dropdownMenu></i>
  <ul class="nav-ul columns twelve margin-0 margin-t-0p5 margin-b-0p5" ng-show="showMe">
    <li class="columns four text-center margin-0 ft-1p5" ng-show="isLogged" ng-click="toLogout();"><i class="fa fa-sign-out ft-grey ft-2p5"></i><br>退出</li><!-- 已登录展示 -->
    <li class="columns three text-center margin-0 ft-1p5"><i class="fa fa-mobile ft-red ft-2p5"></i><br>客户端</li>
    <li class="columns three text-center margin-0 ft-1p5" ng-show="!isLogged" ui-sref="root.login"><i class="fa fa-sign-in ft-red ft-2p5"></i><br>登录</li><!-- 未已登录展示 -->
    <li class="columns three text-center margin-0 ft-1p5" ng-show="!isLogged" ui-sref="root.register"><i class="fa fa-star ft-red ft-2p5"></i><br>注册</li><!-- 未已登录展示 -->
    <li class="columns three text-center margin-0 ft-1p5" ng-show="isLogged" ui-sref="root.account"><i class="fa fa-user ft-red ft-2p5"></i><br>账户</li><!-- 已登录展示 -->
    <li class="columns three text-center margin-0 ft-1p5"><i class="fa fa-jpy ft-red ft-2p5"></i><br>投资</li>
  </ul>
</nav>
<div class="mask" ng-show="showMe"></div>
