<!-- <nav id="header" class="position-re bg-white box-shadow position-re padding-t-1 padding-l-1 padding-r-1 overflow-hid">
  <a ui-sref="root.main"><img src="images/logo.png" width="25%">
  </a>
    <strong class="ft-1 position-ab">{{showTitle}}</strong>
  <i class="fa fa-bars u-pull-right ft-2p5" ng-click="toggle();"></i>
  <ul class="nav-ul columns twelve margin-0 margin-t-0p5 margin-b-0p5" ng-show="showMe">
    <li class="columns text-center margin-0" ng-show="isLogged" ng-click="toLogout();"><i class="fa fa-sign-out ft-grey ft-2p5"></i>
      <br>退出</li>
    <li class="columns text-center margin-0"><i class="fa fa-mobile ft-red ft-2p5"></i>
      <br>客户端</li>
    <li class="columns text-center margin-0" ng-show="!isLogged" ui-sref="root.login"><i class="fa fa-sign-in ft-red ft-2p5"></i>
      <br>登录</li>
    <li class="columns text-center margin-0" ng-show="!isLogged" ui-sref="root.register"><i class="fa fa-star ft-red ft-2p5"></i>
      <br>注册</li>
    <li class="columns text-center margin-0" ng-show="isLogged" ui-sref="root.account"><i class="fa fa-user ft-red ft-2p5"></i>
      <br>账户</li>
    <li class="columns text-center margin-0"><i class="fa fa-jpy ft-red ft-2p5"></i>
      <br>投资</li>
  </ul>
<div class="mask" ng-show="showMe"></div>
</nav> -->

<!-- 添加导航栏返回上一页 -->
<nav id="header" class="position-re bg-greyf7 padding-t-1 padding-b-1 padding-l-1 padding-r-1 overflow-hid text-center margin-ato">
  <span class="ft-greyb2 back" onClick="javascript: history.go(-1);"><i class="fa fa-chevron-left ft-2p3 position-icon" aria-hidden="true"></i><i class="ft-normal1 ft-1p6">返回</i></span>
  <span ng-bind="headerTitle || '宏财理财'" class="ft-grey5 ft-1p8"></span>
</nav>
<div class="nav-block"></div>
