<div class="about" >
  <div class="bg-White overflow-hid">
    <ul class="about-tab1 columns ten offset-by-one aboutorange  margin-b-0">
      <li class="column text-center" ng-class="{active: toggle.activeTab===$index}" ng-repeat="tab in tabs track by $index" ng-click="toggle.switchTab($index)">{{tab.title}}</li>
    </ul>
  </div>


  <!-- 要展示的内容如下 -->
  <div class="tab-content columns twelve bg-White overflow-hid padding-b-2" ng-class="{active: toggle.activeTab===$index}" ng-repeat="tab in tabs">
    <section ng-if="tab.title==='战略伙伴'" class="margin-b-7 bg-offWhite">
      <div class="safe bg-white text-left" ng-repeat="item in partners">
        <div class="border-bottom-safe ft-1p8 item-style">
          <i class="fa {{::item.fa}} ft-orange padding-l-2"></i>
          <span class="ft-orange">&nbsp {{item.name }} &nbsp</span>
           <!-- <span class="font-sub-bule">{{ item.eName }}</span> -->
           <hr class="hr-orange">
        </div>
        <div class="ft-1p5 padding-l-2 padding-r-2">
          <p><strong>{{item.title }}</strong>
          </p>
          <p class="text-justify">{{item.introduction}}</p>
        </div>
      </div>
    </section>
    <section class="introduce margin-b-7" ng-if="tab.title==='宏财简介'">

    </section>
    <section ng-if="tab.title==='安全保障'" class="margin-b-7">
      <!-- <div class="row border-solidf5-bottom bg-white padding-t-1 person" ng-class="{'margin-t-0p5': $index !== 0}" ng-repeat="item in consultants">
        <div class="two columns padding-1">
          <p class="margin-b-1"><img ng-src="{{ item.img }}" width="30%" class="text-center"></p>
          <div class="about-right">
          <p class="text-center ft-1p8 margin-b-1 ft-orange"><strong >{{ item.name }}</strong><small>{{ item.title }}</small></p>
          <p class="text-justify ft-1p5 ft-grey4"><small>{{ item.introduction }}</small></p>
        </div>
        </div>
      </div> -->
      <div class="bg-offWhite margin-b-7">
        <div class="safe bg-white" ng-repeat="item in NewSafes">
          <div class="border-bottom-safe ft-1p8 item-style">
            <i class="fa {{::item.fa}} ft-orange padding-l-2"></i>
            <span class="ft-orange">&nbsp {{ item.name }} &nbsp</span>
            <hr class="hr-orange">
          </div>
          <div class="ft-1p5 padding-l-2 padding-r-2">
            <p class="text-justify">{{ item.content }}</p>
          </div>
        </div>
      </div>
    </section>
    <section ng-if="tab.title==='高管团队'" class="topTeam margin-b-7">
      <!-- 刘刚 -->
      <div class="part1">
        <!-- 标题 -->
        <div class="top_title">
          <p>刘刚 董事长兼CEO</p>
        </div>
        <!-- 内容 -->
        <div class="content position-re">
          <div class="lf_text clear">
            <i class="fa fa-circle circle fl display-inb" aria-hidden="true"></i>
            <span class="text fl display-inb">
              中国人民大学管理学博士。曾在国务院国资委下属的中国企业联合会担任管理创新处处长，参与国务院国资委发起的中央企业管理提升工作，非常熟悉国内企业管理状况，执笔起草的多份企业管理方面的报告获政治局常委等中央领导的重要批示。2014年辞职下海创业。现担任宏财网董事长兼CEO，同时担任首都企业改革研究会常务理事、首都经济贸易大学MBA导师（金融学方向）。2015年成为《当代经理人》杂志封面人物。
            </span>
          </div>
          <img class="img" src="/images/about/liugang.png" alt="" width="92%">
        </div>
      </div>
      <!-- 李青 -->
      <div class="part1">
        <!-- 标题 -->
        <div class="top_title1">
          <p>李青 <span class="t_title">执行董事兼风控委员会首席风控官</span></p>
        </div>
        <!-- 内容 -->
        <div class="position-re">
          <div class="content position-re overflow-hid">
            <div class="lf_text clear fr">
              <i class="fa fa-circle circle fl display-inb" aria-hidden="true"></i>
              <span class="text fl display-inb">
                厦门大学金融学博士。曾在深圳创投、正道及大型金融控股集团任职，擅长行业状况分析，精通价格投资，长期负责企业上市及并购重组事宜，在创新创投项目工作方面具有深刻的见解与丰富的实战经验，擅长消费金融、小微金融产品设计和全流程风险管理。
              </span>
            </div>
          </div>
          <img class="img1" src="/images/about/liqing.png" alt="" width="92%">
        </div>
      </div>
      <!-- 席升阳 -->
      <div class="part1">
        <!-- 标题 -->
        <div class="top_title2">
          <p>席升阳 <span>金融产品研发首席研究员</span></p>
        </div>
        <!-- 内容 -->
        <div class="position-re">
          <div class="content position-re overflow-hid">
            <div class="lf_text clear">
              <i class="fa fa-circle circle fl display-inb" aria-hidden="true"></i>
              <span class="text fl display-inb">
                华中科技大学博士，曾担任大学院长等职务，长期担任政府金融部门顾问，金融专家委员会成员，为各级政府、企事业单位作专题金融讲座上百次，曾先后担任洛玻等多家国有上市公司、民营企业独立董事，民间金融互联网化、阳光化倡导者，在证券、投资、网贷、供应链金融产品创新等多领域具有深刻认识与丰富经验，带领团队设计并落地实施多项金融产品。
              </span>
            </div>
          </div>
          <img class="img" src="/images/about/xishengyang.png" alt="" width="92%">
        </div>
      </div>
      <!-- 刘松 -->
      <div class="part1">
        <!-- 标题 -->
        <div class="top_title3">
          <p>刘松 技术负责人</p>
        </div>
        <!-- 内容 -->
        <div class="position-re">
          <img class="img2" src="/images/about/liusong.png" alt="" width="92%">
          <div class="content position-re overflow-hid">
            <div class="lf_text clear fr">
              <i class="fa fa-circle circle fl display-inb" aria-hidden="true"></i>
              <span class="text fl display-inb">
                北京大学硕士。十年以上互联网从业经验，在电商、互联网金融等领域从事技术研究、产品研发、团队管理等方面的工作，在网站架构、移动互联网、大数据等方面具有丰富的项目经验。曾作为早期团队成员跟随前 MSN 副总裁陈啸先生创办优众网，跟随前华为荣耀前总裁刘江峰先生创办 Dmall（多点）。
              </span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
