<div class="about" >
  <div class="bg-White overflow-hid">
    <ul class="about-tab1 columns ten offset-by-one aboutorange  margin-b-0">
      <li class="column text-center ft-1p4" ng-class="{active: toggle.activeTab===$index}" ng-repeat="tab in tabs track by $index" ng-click="toggle.switchTab($index)">{{tab.title}}</li>
    </ul>
  </div>


  <!-- 要展示的内容如下 -->
  <div class="tab-content columns twelve bg-White overflow-hid" ng-class="{active: toggle.activeTab===$index}" ng-repeat="tab in tabs">
    <section ng-if="tab.title==='战略伙伴'" class="partner margin-b-7 bg-White">
      <div class="partner-units padding-t-1">
        <ul>
          <li class="padding-t-1p5">
            <img src="/images/about/01.png" width="46%" class="display-bl margin-auto">
            <p class="margin-t-1p5 ft-1p4 text-center">
              宏财网项目推荐方为鑫融基控股股份有限公司（以下简称鑫融基，证券代码：832379）。鑫融基注册资本16.39亿元，是2006年由政府出资发起，多家地方企业共同参与成立的金融机构。是新三板金控第一股和首家全牌照金融服务机构，股本总额位居全国第四。
            </p>
          </li>
        </ul>
      </div>
    </section>
    <section class="introduce margin-b-7" ng-if="tab.title==='宏财简介'">
      <div>
        <img src="/images/about/introduce.png" width="100%">
      </div>
      <div class="unit1 padding-l-1 padding-r-1 padding-t-2">
        <div class="title margin-auto text-center margin-b-1">
          <p class="margin-b-0 ft-white">公司简介</p>
        </div>
        <div>
          <img src="/images/about/unit1-img.png" width="75%" class="display-bl margin-auto margin-b-2">
        </div class="content">
        <p class="ft-1p2 margin-b-0 content">宏财网 014年上线运营，2016年获得1亿元A轮融资，凭借股东广泛的金融资源、博士团队的专业能力和严谨的风控模型与项目管理流程,在项目方十多年积累的金融资源生态圈中，为广大投资者筛选优质的投资项目。</p>
      </div>
      <div class="unit2 padding-l-1 padding-r-1 padding-t-2 margin-b-1">
        <div class="title margin-auto text-center margin-b-1">
          <p class="margin-b-0 ft-white">股东介绍</p>
        </div>
        <div>
          <img src="/images/about/unit2-img.png" width="53%" class="display-bl margin-auto margin-b-1">
        </div class="content">
        <p class="ft-1p2 margin-b-0 content text-center">专注中小企业资产管理业务</p>
      </div>
      <div class="unit3 padding-l-1 padding-r-1 padding-t-2 margin-b-1">
        <div class="title margin-auto text-center margin-b-1">
          <p class="margin-b-0 ft-white">产品介绍:</p>
        </div>
        <div class="content">
          <ul>
            <li class="ft-1p2">
              <p class="margin-b-0p5 ft-1p3">项目来源:</p></br>
              宏金保项目来源于股东和项目方十多年积累的金融资源生态圈，信息对称、知根知底，安全性极高；
            </li>
            <li class="ft-1p2">
              <p class="margin-b-0p5 ft-1p3">项目优势:</p></br>
              宏金保是由国有参股的大型担保公司担保、固定资产足值抵押的小微企业和个人借贷项目；
            </li>
            <li class="ft-1p2">
              <p class="margin-b-0p5 ft-1p3">担保优势:</p></br>
              宏金保担保公司注册资金10亿元以上、全国排名前三（按民营担保计）、成立时间10年以上、历史不存在违约担保案例；
            </li>
            <li class="ft-1p2 margin-b-0">
              <p class="margin-b-0p5 ft-1p3">产品特点:</p></br>
              宏金保项目以3个月短期为主、流动性好。
            </li>
          </ul>
        </div>
      </div>
      <div class="unit3 padding-l-1 padding-r-1 padding-t-2 margin-b-1">
        <div class="title margin-auto text-center margin-b-1">
          <p class="margin-b-0 ft-white">组织架构</p>
        </div>
        <img src="/images/about/framework.png" width="93%" class="display-bl margin-auto margin-b-2">
      </div>
    </section>
    <section ng-if="tab.title==='安全保障'" class="margin-b-7">
      <div class="bg-offWhite margin-b-7">
        <div class="safe bg-white" ng-repeat="item in NewSafes">
          <div class="border-bottom-safe ft-1p8 item-style">
            <i class="fa {{::item.fa}} ft-orange padding-l-2"></i>
            <span class="ft-orange">&nbsp {{ item.name }} &nbsp</span>
            <hr class="hr-orange">
          </div>
          <div class="ft-1p5 padding-l-2 padding-r-2">
            <p class="text-justify">{{ item.content }}</p>
          </div>
        </div>
      </div>
    </section>
    <section ng-if="tab.title==='高管团队'" class="topTeam margin-b-7">
      <div class="part1">

      </div>
    </section>
  </div>
</div>
