<div class="activity-center">
  <div class="content">
    <div class="header">
      <span class="pull-left display-inb">新手专享</span>
      <span class="pull-right display-inb"><i class="clock"></i>进行中</span>
    </div>
    <div ui-sref="root.activity.novice-landing">
      <img src="/images/activity-center/xinshou.png" alt="" width="100%" class="display-bl">
    </div>
  </div>
  <div class="content">
    <div class="header">
      <span class="pull-left display-inb">8888体验金</span>
      <span class="pull-right display-inb"><i class="clock"></i>进行中</span>
    </div>
    <div ui-sref="root.register">
      <img src="/images/activity-center/tiyanjin.png" alt="" width="100%" class="display-bl" >
    </div>
  </div>
  <div class="content">
    <div class="header">
      <span class="pull-left display-inb">投资享加息</span>
      <span class="pull-right display-inb"><i class="clock"></i>进行中</span>
    </div>
    <div ui-sref="root.activity.send-coupon">
      <img src="/images/activity-center/send-money.png" alt="" width="100%" class="display-bl">
    </div>
  </div>
</div>
