<div class="disclouser">
  <div class="class1">
    <img src="../../images/disclosure/comm-header.png" class="display-bl margin-auto" width="100%"> 
    <img src="../../images/disclosure/discolsure.png" width="35%" class="discolsure-title">
    <div class="tab">
      <ul class="discolsure-tab1 columns discolsureorange">
        <li class="column text-center ft-1p4" ng-class="{active: toggle.activeTab===$index}" ng-repeat="tab in tabs track by $index" ng-click="toggle.switchTab($index)">{{tab.title}}</li>
      </ul>
    </div>
  </div>
  <!-- 要展示的内容如下 -->
  <div class="tab-content columns" ng-class="{active: toggle.activeTab===$index}" ng-repeat="tab in tabs track by $index">
    <section ng-if="tab.title==='备案信息'" class="part1 margin-b-7 bg-White">
      <!-- 轮播banner图 -->
      <div id="slideBanner" class="disclosure-banner position-re overflow-hid">
        <div class="slide position-re">
          <ul>
            <li class="position-re text-center"  onclick="window.open('https://www.hongcai.com/uploads/png/original/2017-10-19/image/9bcbea8d83f04b289b6b9c2cf8c3af9a-original.png')">
              <a class="pic display-bl"><img src="../../images/disclosure/contract1.png" /></a>
            </li>
            <li class="position-re text-center" onclick="window.open('https://www.hongcai.com/uploads/png/original/2017-10-19/image/e8b1d7c10f354901a532a91c4fd7439a-original.png')">
              <a class="pic display-bl"><img src="../../images/disclosure/contract2.png" /></a>
            </li>
          </ul>
          <div class="dot">
            <span class="cur">1</span>
            <span>2</span>
          </div>
        </div>
      </div>
      <p>宏财网已正式接入银行资金存管系统</p>
      <div class="wrapper" onclick="window.open('https://www.hongcai.com/uploads/png/original/2017-10-19/image/262d332a885e48849a59e9a4b73a9984-original.png')">
        <div>
          <img src="../../images/disclosure/record.png" alt="" height="100%">
        </div>
      </div>
      <p>公安机关网站备案号：京ICP备15025477号-1</p>
    </section>
    <section class="margin-b-7" ng-if="tab.title==='风险管理'">
      <div class="risk">
        <div class="risk-1">
          <img src="../../images/disclosure/risk-title1.png" alt="" width="38%" class="display-bl">
          <img src="../../images/disclosure/risk-01.png" alt="" width="88%" class="display-bl">
        </div>
        <img src="../../images/disclosure/parting-line.png" alt="" class="display-bl" width="100%">
        <div class="risk-2">
          <img src="../../images/disclosure/risk-title2.png" alt="" width="35%" class="display-bl">
          <div class="content-wrapper">
            <!-- <img src="../../images/disclosure/risk-box1.png" alt=""> -->
            <div class="content">
              <div class="column1 clearfix">
                <div class="left fl">
                  <div class="middle fr">
                    <img src="../../images/disclosure/position-icon.png" alt="" class="display-bl" width="100%">
                    <span class="line"></span>
                  </div>
                  <span class="line"></span>
                  <p class="item">合作方项目推荐</p>
                </div>
              </div>
              <div class="column2 clearfix">
                <div class="left fl">
                  <div class="middle fr">
                    <img src="../../images/disclosure/position-icon.png" alt="" class="display-bl" width="100%">
                    <span class="line"></span>
                  </div>
                  <span class="line"></span>
                  <p class="item">项目受理</p>
                </div>
              </div>
              <div class="column3 clearfix">
                <div class="left fl">
                  <div class="middle fr">
                    <img src="../../images/disclosure/position-icon.png" alt="" class="display-bl" width="100%">
                    <span class="line"></span>
                  </div>
                  <span class="line"></span>
                  <p class="item">项目初审</p>
                </div>
                <div class="right fl">
                  1.借款人资料收集／审核</br>
                  2.初步沟通项目方案
                </div>
              </div>
              <div class="column4 clearfix">
                <div class="left fl">
                  <div class="middle fr">
                    <img src="../../images/disclosure/position-icon.png" alt="" class="display-bl" width="100%">
                    <span class="line"></span>
                  </div>
                  <span class="line"></span>
                  <p class="item">专人实地调查</p>
                </div>
                <div class="right fl">
                  1.实地走访、资料核实</br>
                  2.资信审查  </br>
                  3.抵押资产估值／检测</br>
                  4.办理资产抵押登记<br>
                  5.制定抵押资产处置办法
                </div>
              </div>
              <div class="column5 clearfix">
                <div class="left fl">
                  <div class="middle fr">
                    <img src="../../images/disclosure/position-icon.png" alt="" class="display-bl" width="100%">
                    <span class="line"></span>
                  </div>
                  <span class="line"></span>
                  <p class="item">信息反馈</p>
                </div>
              </div>
              <div class="column6 clearfix">
                <div class="left fl">
                  <div class="middle fr">
                    <img src="../../images/disclosure/position-icon.png" alt="" class="display-bl" width="100%">
                    <span class="line"></span>
                  </div>
                  <span class="line"></span>
                  <p class="item">信息复审</p>
                </div>
              </div>
              <div class="column7 clearfix">
                <div class="left fl">
                  <div class="middle fr">
                    <img src="../../images/disclosure/position-icon.png" alt="" class="display-bl" width="100%">
                    <span class="line"></span>
                  </div>
                  <span class="line"></span>
                  <p class="item">合同落实</p>
                </div>
              </div>
              <div class="column8 clearfix">
                <div class="left fl">
                  <div class="middle fr">
                    <img src="../../images/disclosure/position-icon.png" alt="" class="display-bl" width="100%">
                    <span class="line"></span>
                  </div>
                  <span class="line"></span>
                  <p class="item">资料校验</p>
                </div>
                <div class="right fl">
                  1.校验初审阶段的信息与实际提交上传的是否一致</br>
                  2.对信披内容做脱敏处理，二次审核完成后录入系统
                </div>
              </div>
              <div class="column7 clearfix">
                <div class="left fl">
                  <div class="middle fr">
                    <img src="../../images/disclosure/position-icon.png" alt="" class="display-bl" width="100%">
                    <span class="line"></span>
                  </div>
                  <span class="line"></span>
                  <p class="item">排期发标</p>
                </div>
              </div>
              <div class="column8 clearfix">
                <div class="left fl">
                  <div class="middle fr">
                    <img src="../../images/disclosure/position-icon.png" alt="" class="display-bl" width="100%">
                    <!-- <span class="line"></span> -->
                  </div>
                  <span class="line"></span>
                  <p class="item">贷后管理</p>
                </div>
                <div class="right fl">
                  1.定期回访，对项目作出评估，直至还款完成</br>
                  2.若项目逾期，做好应对措施，并对项目进行处理
                </div>
              </div>
            </div>
          </div>
        </div>
        <img src="../../images/disclosure/parting-line.png" alt="" class="display-bl" width="100%">
        <div class="risk-3">
          <img src="../../images/disclosure/risk-title3.png" alt="" width="48%" class="display-bl">
          <div class="list">
            <div class="list-left">
              <img src="../../images/disclosure/position-icon.png" alt="" width="70%" class="display-bl">
              <span class="line line1"></span>
              <img src="../../images/disclosure/position-icon.png" alt="" width="70%" class="display-bl">
              <span class="line line2"></span>
              <img src="../../images/disclosure/position-icon.png" alt="" width="70%" class="display-bl">
              <span class="line line3"></span>
              <img src="../../images/disclosure/position-icon.png" alt="" width="70%" class="display-bl">
            </div>
            <div class="list-right">
              <div class="right-item clearfix">
                <div class="fl">
                  <img src="../../images/disclosure/risk-mobile.png" alt="" width="70%" class="display-bl">
                  <p>电话回访</p>
                </div>
                <div class="display-inb">
                  1.每10天进行一次电话回访<br>
                  2.企业控制人的情况<br>
                  3.生产经营情况调查
                </div>
              </div>
              <div class="right-item clearfix">
                <div class="fl">
                  <img src="../../images/disclosure/risk-user.png" alt="" width="70%" class="display-bl">
                  <p>现场调查</p>
                </div>
                <div class="display-inb">
                  1.每月到现场了解实际控制人情况<br>2.存货、订单及在手合同情况<br>3.生产经营情况是否有异常信号<br>4.押物价值是否有变化，是否涉诉
                </div>
              </div>
              <div class="right-item clearfix">
                <div class="fl">
                  <img src="../../images/disclosure/risk-payment.png" alt="" width="70%" class="display-bl">
                  <p>财务审计</p>
                </div>
                <div class="display-inb">
                  1.贷款资金流向，是否使用合规<br>2.资产负债表主要科目的核查与审计<br>3.损益表主要科目的核查与审计<br>4.从财务情况和现金流判断还款能力
                </div>
              </div>
              <div class="right-item clearfix">
                <div class="fl">
                  <img src="../../images/disclosure/risk-money.png" alt="" width="70%" class="display-bl">
                  <p>回款催收</p>
                </div>
                <div class="display-inb">
                  1.还款日前5个工作天短信提醒，还款日前3个工作天电话提醒<br>
                  2.还款日当天电话提醒，告知违约责任<br>
                  3.对逾期的借款人，每日电话催收<br>
                  4.逾期10天以上，现场催收，告知法律后果<br>
                  5.向人民法院提起诉讼
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section ng-if="tab.title==='组织信息'" class="topTeam margin-b-7">
      <div class="organization">
        <!-- 工商信息 -->
        <div class="bsuiness-info">
          <img src="../../images/disclosure/organization-01.png" alt="" class="bsuiness-title">
          <table class="info">
            <div>
              <tr ng-repeat="info in businessInfo track by $index" ng-class="{'border-none': index === businessInfo.length-1}">
                <td>{{info.name}}</td> 
                <td>{{info.content}}</td>
              </tr>
            </div>
          </table>
        </div>
        <div class="parting-line"></div>
        <!-- 股东信息 -->
        <div class="shareholder-info">
          <img src="../../images/disclosure/organization-02.png" alt="" class="shareholder-title">
          <div class="shareholder1">
            <div class="information">
              <p>刘刚 </br>持股比例86.7%</p>
            </div>
            <img src="../../images/disclosure/Shareholder-01.png" alt="">
          </div>
          <div class="shareholder2">
            <div class="information">
              <p>洛阳中小企业资产管理有限公司 </br>持股比例13.3%</p>
            </div>
            <img src="../../images/disclosure/Shareholder-02.png" alt="">
          </div>
        </div>
        <div class="parting-line"></div>
        <!-- 组织框架 -->
        <div class="framework-info">
          <img src="../../images/disclosure/organization-03.png" alt="" class="framework-title">
          <img src="../../images/disclosure/organization.png" alt="" width="98%">
        </div>
        <div class="parting-line"></div>
        <!-- 从业人员概况 -->
        <div class="employees-profiles">
          <img src="../../images/disclosure/organization-04.png" alt="" class="employees-title">
          <div class="profiles">
            <ul class="profiles-tab">
              <li ng-class="{active: profilesTab == $index}" ng-repeat="tab in businessTabs track by $index" ng-click="switchBusinessTab($index)">{{tab.profilesName}}</li>
            </ul>
            <div class="profiles-cont" ng-show="profilesTab === 0">
              <img src="../../images/disclosure/ages.png" class="agesImg" width="70%">
              <ul class="agesList">
                <li>
                  <span>25岁-35岁</span>
                  <span>10人</span>
                </li>
                <li>
                  <span>25岁以下</span>
                  <span>7人</span>
                </li>
                <li>
                  <span>35岁以上</span>
                  <span>6人</span>
                </li>
              </ul>
            </div>
            <div class="profiles-cont" ng-show="profilesTab === 1">
              <img src="../../images/disclosure/education.png" alt="" width="90%">
              <ul class="education">
                <li>
                  <span>本科</span>
                  <span>13人</span>
                </li>
                <li>
                  <span>大专</span>
                  <span>4人</span>
                </li>
                <li>
                  <span>硕士</span>
                  <span>3人</span>
                </li>
                <li>
                  <span>博士及以上</span>
                  <span>3人</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="parting-line"></div>
        <!-- 渠道信息 -->
        <div class="channels-info">
          <img src="../../images/disclosure/organization-05.png" alt="" class="channels-title">
          <div class="channels">
            <div class="information">
              <p>官网域名：www.hongcai.com</p>
            </div>
            <img src="../../images/disclosure/channel-01.png" alt="">
          </div>
          <div class="channels">
            <div class="information">
              <p>IP地址：119.254.147.66</p>
            </div>
            <img src="../../images/disclosure/channel-02.png" alt="">
          </div>
          <div class="channels">
            <div class="information">
              <p>微信公众号: 宏财服务中心</p>
            </div>
            <img src="../../images/disclosure/channel-03.png" alt="">
          </div>
          <div class="channels">
            <div class="information">
              <p>APP：宏财网（iOS及Android）</p>
            </div>
            <img src="../../images/disclosure/channel-04.png" alt="">
          </div>
        </div>
        <div class="parting-line"></div>
        <!-- 咨询投诉 -->
        <div class="complaint-info">
          <img src="../../images/disclosure/zxts.png" alt="" class="complaint-title">
          <div class="complaint">
            <div class="information">
              <p>咨询投诉：400-990-7626 </p>
              <p>（工作时间：9:00-18:00）</p>
            </div>
            <img src="../../images/disclosure/cons.png" alt="">
          </div>
        </div>
      </div>
    </section>
    <section ng-if="tab.title==='经营信息'" class="callMe margin-b-7">
      <div class="business">
        <!-- 累计交易总额 -->
        <div class="commonBoxShadow">
          <p class="title">累计交易总额</p>
          <p class="data">{{cumulative.amount || 0}}元</p>
        </div>
        <!-- 累计交易笔数 -->
        <div class="commonBoxShadow">
          <p class="title fl">累计交易笔数</p>
          <p class="data fr">{{cumulative.numOfTransactions || 0}}次</p>
        </div>
        <!-- 借贷余额 -->
        <div class="commonBoxShadow">
          <p class="title fl">借贷余额</p>
          <p class="data fr">{{cumulative.investingTotalLoanAmount || 0}}元</p>
        </div>
        <!-- 待还借款笔数 -->
        <div class="commonBoxShadow">
          <p class="title fl">待还借款笔数</p>
          <p class="data fr">{{cumulative.investingNumOfTransactions || 0}}笔</p>
        </div>
          <!-- 累计注册会员数 -->
        <div class="commonBoxShadow">
          <p class="title fl">累计注册会员数</p>
          <p class="data fr">{{cumulative.userCount || 0}}人</p>
        </div>
        <!-- 累计借款人数 -->
        <div class="commonBoxShadow">
          <p class="title fl">累计借款人数</p>
          <p class="data fr">{{cumulative.numOfBorrows || 0}}人</p>
        </div>
        <!-- 累计出借人数 -->
        <div class="commonBoxShadow">
          <p class="title fl">累计出借人数</p>
          <p class="data fr">{{cumulative.numOfLends || 0}}人</p>
        </div>
        <!-- 当前借款人数 -->
        <div class="commonBoxShadow">
          <p class="title fl">当前借款人数</p>
          <p class="data fr">{{cumulative.currentNumOfBorrows || 0}}人</p>
        </div>
        <!-- 当前出借人数 -->
        <div class="commonBoxShadow">
          <p class="title fl">当前出借人数</p>
          <p class="data fr">{{cumulative.currentNumOfLends || 0}}人</p>
        </div>
        <ul class="otherList">
          <li class="commonBoxShadow">
            <p class="title">逾期金额及笔数</p><br>
            <span class="data fl">0元,0笔</span>
            <img src="../../images/disclosure/business-icon2.png" class="fr" width="20%">
          </li>
          <li class="commonBoxShadow">
            <p class="title">逾期90天以上的金额及笔数</p>
            <span class="data fl">0元,0笔</span>
            <img src="../../images/disclosure/business-icon2.png" class="fr" width="20%">
          </li>
          <li class="commonBoxShadow">
            <p class="title">待偿金额及笔数</p><br>
            <span class="data fl">0元,0笔</span>
            <img src="../../images/disclosure/business-icon1.png" class="fr" width="22%">
          </li>
          <li class="commonBoxShadow">
            <p class="title width-105">上月前十大借款人待还金额占比</p>
            <span class="data fl">{{cumulative.sumTenTopLoanBalance/cumulative.lastMonthTotalLoanAmount*100 || 0 | number}}%</span>
            <img src="../../images/disclosure/business-icon4.png" class="fr" width="20%">
          </li>
          <li class="commonBoxShadow">
            <p class="title width-105">上月最大单一借款人待还金额占比</p>
            <span class="data fl">{{cumulative.topLoanBalance/cumulative.lastMonthTotalLoanAmount*100 || 0 | number}}%</span>
            <img src="../../images/disclosure/business-icon4.png" class="fr" width="20%">
          </li>
          <li class="commonBoxShadow">
            <p class="title width-105">关联关系借款余额</p><br>
            <span class="data fl">0元</span>
            <img src="../../images/disclosure/business-icon3.png" class="fr" width="22%">
          </li>
        </ul>
        <!-- 平台向借款人收取服务费的标准 -->
        <div class="commonBoxShadow">
          <p class="title">平台向借款人收取服务费的标准</p>
          <p class="data ft-2p8">按借款类型、期限、风险等级执行不通费率标准。平台服务费=借款金额*1.5%-4%*借款期限/365。</p>
        </div>
        <!-- 平台重大风险信息 -->
        <div class="commonBoxShadow">
          <p class="title fl">平台重大风险信息</p>
          <p class="data fr">无</p>
        </div>
        <div class="creatTime">数据统计：截至{{updateDate}}</div>
      </div>
    </section>
    <section ng-if="tab.title==='政策法规'" class="margin-b-7 ">
      <div class="policiesList">
        <div class="commonBoxShadow" ng-repeat="item in policiesList track by $index" ng-click="showPoliciesText($index)">
          <span ng-class="{'border-6': $index == 1 || $index == 2 || $index == 3 || $index == 6}"></span>
          <p class="title">{{item.title}}</p>
          <img src="../../images/disclosure/icon-right.png" alt="" ng-class="{'margin-6': $index === 0 || $index === 4 || $index === 5}">
        </div>
      </div>
    </section>
  </div>
</div>
