<div class="issue row">
  <div class="item">
    <h4 class="bg-offWhite ft-grey2 ft-1p8 padding-1 margin-0">一、宏金盈是什么？<i class="fa fa-check-circle u-pull-right ft-1p8"></i></h4>
    <div class="bg-white padding-1">
      <p class="margin-0">宏金盈是宏财网推出的一款帮助用户实现自动投资和债权转让的理财计划。期限分为一月、一季、半年3种，更好地满足了出借人对于资金灵活性的个性化需求。同时它还兼顾稳健的收益，实现收益的按期递增。</p>
    </div>
  </div>


  <div class="item">
    <h4 class="bg-offWhite ft-grey2 ft-1p8 padding-1 margin-0">二、宏金盈有哪些特点？<i class="fa fa-check-circle u-pull-right ft-1p8"></i></h4>
    <div class="bg-white padding-1">
      <p class="margin-0">1. 真实安全：加入宏金盈的资金，全部用于投资真实、提供100%本息担保的小额借款项目。 2. 超低门槛：100元即可以加入，以100元倍数递增。 3. 多样选择：多种期限搭配，满足不同流动性需求。 4. 省心优利：一次投入，按月（期）付息，到期还本；月月盈、季度盈、半年盈可选择自动续投。 5. 零手续费：加入和到期赎回全免费。 6. 分散投资：一份投资对应多份债权，降低投资风险。 7. 递增收益：7%-14.5%，月月盈、季度盈、半年盈每期分别递增0.4%、0.5%、1.5% 。</p>
    </div>

  </div>

  <div class="item">
    <h4 class="bg-offWhite ft-grey2 ft-1p8 padding-1 margin-0">三、宏金盈的收益是如何递增的？最多可续投多少期？<i class="fa fa-check-circle u-pull-right ft-1p8"></i></h4>
    <div class="bg-white padding-1">
      <div class="overflow-hid padding-t-2 padding-b-2" ng-init="toggle.activeTab=0;">
        <ul class="safe-tab1 nav-ul columns margin-0">
          <li class="column text-center margin-0 padding-t-0p5 padding-b-0p5 ft-blue" ng-class="{'active': toggle.activeTab===$index,'border-right-none': $index === 0||1}" ng-repeat="tab in tabs" ng-click="toggle.switchTab($index)">{{tab.title}}</li>
        </ul>
        <div class="tab-content columns twelve bg-white overflow-hid text-center" ng-class="{'active': toggle.activeTab===$index}" ng-repeat="tab in tabs">
          <section ng-if="tab.title==='月月盈'">
            <table class="u-full-width margin-0" border-collapse="collapse">
              <thead class="bg-blue2">
                <th>
                  投资
                </th>
                <th>续投第一次</th>
                <th>续投第二次</th>
                <th>续投第三次至第五次</th>
              </thead>
              <tbody>
                <td> 7% </td>
                <td> 7.4% </td>
                <td> 7.8% </td>
                <td> 8.2% </td>
              </tbody>
            </table>
          </section>
          <section ng-if="tab.title==='季度盈'">
            <table class="u-full-width margin-0" border-collapse="collapse">
              <thead class="bg-blue2">
                <th>
                  投资
                </th>
                <th>续投第一次</th>
                <th>续投第二次</th>
                <th>续投第三次</th>
              </thead>
              <tbody>
                <td> 8% </td>
                <td> 9% </td>
                <td> 9.5% </td>
                <td> 10% </td>
              </tbody>
            </table>
          </section>
          <section ng-if="tab.title==='半年盈'">
            <table class="u-full-width margin-0" border-collapse="collapse">
              <thead class="bg-blue2">
                <th>
                  投资
                </th>
                <th>续投第一次</th>
                <th>续投第二次</th>
                <th>续投第三次</th>
              </thead>
              <tbody>
                <td> 10% </td>
                <td> 11.5% </td>
                <td> 13% </td>
                <td> 14.5% </td>
              </tbody>
            </table>
          </section>
        </div>
      </div>
      <p class="bg-white margin-0">举例说明： 投资月月盈10000元，锁定周期为30日，到期结息。首次投资年化收益为 7%，第一次续投年化收益为7.4%，第二次续投年化收益为：7.8%，第三次续投年化收益为：8.2%，第四、五次续投收益不再递增，按照年化8.2%计息，完成第五次续投结束后，资金自动赎回至投资人易宝账户内，可再次投资或提现。即：月月盈最多可续投四次。</p>
    </div>

  </div>

  <div class="item">
    <h4 class="bg-offWhite ft-grey2 ft-1p8 padding-1 margin-0">四、宏金盈的债权类别是什么？<i class="fa fa-check-circle u-pull-right ft-1p8"></i></h4>
    <div class="bg-white padding-1">
      <p class="margin-0">宏金保、宏财网投资人债权转让、宏财优选债权</p>
    </div>
  </div>
  <div class="item">
    <h4 class="bg-offWhite ft-grey2 ft-1p8 padding-1 margin-0">五、自动续投是本金+利息复投吗？<i class="fa fa-check-circle u-pull-right ft-1p8"></i></h4>
    <div class="bg-white padding-1">
      <p class="margin-0">不是。宏金盈每期的债权数固定，只续投本金部分，利息按月（期）发放到投资人易宝账户中，投资人可选择再次投资或者提取利息进行消费。</p>
    </div>
  </div>

  <div class="item padding-b-2 margin-b-2">
    <h4 class="bg-offWhite ft-grey2 ft-1p8 padding-1 margin-0">六、宏金盈是否允许提前赎回？<i class="fa fa-check-circle u-pull-right ft-1p8"></i></h4>
    <div class="bg-white padding-1">
      <p class="margin-0">
        可按投放周期赎回，在投放期限内取消自动续投，到期后自动退出。例如投资月月盈用户可在投资到期前在“我的账户”-“我的债权”订单中点击“取消续投”后，本次投资到期自动退出，如想再次续投，可点击“自动续投”赚取更高收益。</p>
    </div>
  </div>

</div>
