<img src="images/landingpage.png" width="100%">
<div class="columns twelve text-center"> 
  <div class="u-pull-left clip-line"><hr class="margin-0"></div>
  <div class="text-center u-pull-left ft-grey" style="width:26%;">推荐项目</div>
  <div class="u-pull-right clip-line"><hr class="margin-0"></div>
</div>
<div class="margin-t-2">
  <div class="bg-white border-grey overflow-hid padding-1 margin-b-0p5">
    <header class="margin-b-1">{{"宏金盈20150506期"}}</header>
    <div class="columns twelve">
      <div class="columns eight text-center">
        <span class="u-pull-left">{{'12'}}个月</span>
        <span>{{'12'}}%</span>
        <span class="u-pull-right">{{'500'}}元</span>
        <hr class="margin-t-0p5 margin-b-0p5">
        <span class="u-pull-right">{{'23,000,000'}}元可投金额</span>
      </div>
      <div class="columns four padding-t-1 padding-b-1 u-pull-right">
        <div class="button button-primary border-ra-50 margin-0 padding-0" style="width:100%">马上加入</div>
      </div>
    </div>
  </div>
  <div class="bg-white border-grey overflow-hid padding-1">
    <header class="margin-b-1">{{"宏金盈20150506期"}}</header>
    <div class="columns twelve">
      <div class="columns eight text-center">
        <span class="u-pull-left">{{'12'}}个月</span>
        <span>{{'12'}}%</span>
        <span class="u-pull-right">{{'500'}}元</span>
        <hr class="margin-t-0p5 margin-b-0p5">
        <span class="u-pull-right">{{'23,000,000'}}元可投金额</span>
      </div>
      <div class="columns four padding-t-1 padding-b-1 u-pull-right">
        <div class="button button-primary border-ra-50 margin-0 padding-0" style="width:100%">马上加入</div>
      </div>
    </div>
  </div>
</div>
<div class="columns twelve border-grey bg-white margin-t-1 text-center padding-0p5">
  查看宏金保项目&gt;
</div>
<div class="columns twelve border-grey bg-white margin-t-1 text-center padding-0p5">
  查看宏金盈项目&gt;
</div>

