<div class="main overflow-hid margin-b-7">
<!-- banner图 -->
  <div><img src="/images/new/ad02.jpg" alt="" width="100%"></div>
  <!-- 7天理财、1-6月理财Tab模块 -->
  <div class="bg-white padding-l-2 padding-r-2 overflow-hid">
    <!-- 零存宝橙色导航 -->
    <ul class="main-tab1 nav-ul columns border-orange2 border-ra-0p5 margin-b-2" ng-class="{mainred: tabClassIndex===1,mainorange1: tabClassIndex===2}">
      <li class="column text-center margin-0 padding-t-0p5 border-left-orange padding-b-0p5 ft-black ft-1p6" ng-class="{active: toggle.activeTab===$index}" ng-repeat="tab in tabs" ng-click="toggle.switchTab($index)" my-click-once>{{tab.title}}</li>
    </ul>
    <!-- 宏金盈蓝色导航 -->
    <!-- <ul class="main-tab1 nav-ul columns border-orange2 border-ra-0p5 margin-t-2 margin-b-2">
      <li class="column text-center margin-0 padding-t-0p5 padding-b-0p5 ft-black" ng-class="{active: toggle.activeTab===$index}" ng-repeat="tab in tabs" ng-click="toggle.switchTab($index)">{{tab.title}}</li>
    </ul> -->
    <!-- 宏金保绿色导航 -->
    <!-- <ul class="main-tab1 nav-ul columns border-orange2 border-ra-0p5 margin-t-2 margin-b-2">
      <li class="column text-center margin-0 padding-t-0p5 padding-b-0p5 ft-black" ng-class="{active: toggle.activeTab===$index}" ng-repeat="tab in tabs" ng-click="toggle.switchTab($index)">{{tab.title}}</li>
    </ul> -->
  </div>
  <div class="tab-content columns twelve bg-white overflow-hid padding-t-1 padding-b-2 text-center ios-highlights" ng-include src='"views/main/_main-project.html"' ng-class="{active: toggle.activeTab===$index}" ng-repeat="tab in tabs">
  </div>
</div>
<!-- 送现金弹窗 -->
<div class="share-detail-Layer" ng-show="false">
  <div class="monkey">
    <div class="monkey-tipdetail">
      <img src="/images/main-mask.png" alt="" width="100%">
      <div class="close-img" ng-click="false"><img src="/images/mask-close.png" alt="" width="100%"></div>
      <div class="text-tip3">
        <p class="ft-black ft-2 ft-bold">~理财小李~</p>
        <p class="ft-1p8 ft-black margin-t-1 margin-b-0 text-left padding-l-2 padding-r-2">欢迎您登录宏财网</p>
        <p class="ft-1p8 ft-black text-left padding-l-2 padding-r-2">您已经参加投资就送现金活动，快快领取您的现金吧！</p>
        <div class="btn-view">
          <button>查看活动</button>
          <button>浏览项目</button>
        </div>
      </div>
    </div>
  </div>
</div>
