<!-- 新手引导页面 -->
<div class="bg-offWhite margin-b-7">
  <div class="safe bg-white">
    <div class="border-bottom-safe ft-1p8 item-style">
      <span class="ft-orange padding-l-2">1、什么是宏财网？</span>
      <hr class="hr-orange">
    </div>
    <div class="ft-1p5 padding-l-2 padding-r-2">
      <div class="text-justify">
				<p class="margin-b-1"><i class="fa fa-pencil ft-0p75" aria-hidden="true"></i>
				&nbsp;宏财网是国有企业战略投资的互联网金融平台。</p>
   			<p class="margin-b-1"><i class="fa fa-pencil ft-0p75" aria-hidden="true"></i>
   			&nbsp;宏财网为您提供优质资产，帮您钱生钱！</p>
      </div>
    </div>
  </div>
  <div class="safe bg-white">
    <div class="border-bottom-safe ft-1p8 item-style">
      <span class="ft-orange padding-l-2">2、宏财网安全吗？</span>
      <hr class="hr-orange">
    </div>
    <div class="ft-1p5 padding-l-2 padding-r-2">
      <div class="text-justify">
				<p class="margin-b-1"><i class="fa fa-pencil" aria-hidden="true"></i>
				&nbsp;您所看到的宏财网项目由新三板首家全牌照民间金融服务集团推荐。</p>
   			<p class="margin-b-1"><i class="fa fa-pencil" aria-hidden="true"></i>
   			&nbsp;同时由政府投资的具有十年安全担保经验的老牌担保公司进行全额本息担保。</p>
      </div>
    </div>
  </div>
  <div class="safe bg-white">
    <div class="border-bottom-safe ft-1p8 item-style">
      <span class="ft-orange padding-l-2">3、宏财网收益高吗？</span>
      <hr class="hr-orange">
    </div>
    <div class="ft-1p5 padding-l-2 padding-r-2">
      <div class="text-justify">
				<p class="margin-b-1"><i class="fa fa-pencil" aria-hidden="true"></i>										 &nbsp;在宏财网您投资3个月以下的项目，您可获得其他平台1年期以上项目的收益。</p>
   			<p class="margin-b-1"><i class="fa fa-pencil" aria-hidden="true"></i>										&nbsp;积极参加宏财网的活动，您还会免费获得加息券、现金等奖励。</p>
      </div>
    </div>
  </div>
  <div class="safe bg-white">
    <div class="border-bottom-safe ft-1p8 item-style">
      <span class="ft-orange padding-l-2">4、如何投资宏财网？</span>
      <hr class="hr-orange">
    </div>
    <div class="ft-1p5 padding-l-2 padding-r-2">
      <div class="text-justify">
				<p class="margin-b-1"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;第一步：免费注册</p>
   			<p class="margin-b-1"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;第二步：开通第三方资金存管账户</p>
   			<p class="margin-b-1"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;第三步：充值投资</p>
   			<p class="margin-b-1"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;第四步：坐享收益</p>
      </div>
    </div>
  </div>
 	<!-- <div class="safe bg-white">
      <div class="border-bottom-safe ft-1p8 item-style">
        <span class="ft-orange padding-l-2">5、如何赚的盆满钵满？</span>
        <hr class="hr-orange">
      </div>
      <div class="ft-1p5 padding-l-2 padding-r-2">
        <div class="row margin-t-10 text-center ft-16 ft-grey555 line-h-28 margin-l--40">
          <div class="col-xs-6">
            <img class="margin-l--30" src="/images/invite-img01.png" alt="">
            <p class="text-left margin-l-1p5">
              <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp; 第一步：<br>
                  <span class="margin-l-1p5">邀请1位好友注册认证 您得10元现金</span><br>
                  <span class="margin-l-1p5">好友得体验金18888元</span>
            </p>
          </div>
          <div class="col-xs-6">
            <img class="margin-l--165" src="/images/send-money02.png" alt="">
            <p class="text-left margin-l-1p5">
              <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp; 第二步：<br>
                  <span class="margin-l-1p5">好友首次投资 您得5元现金</span><br>
                  <span class="margin-l-1p5">好友得20倍体验金</span>
            </p>
          </div>
        </div>
      </div>
    </div> -->
</div>
