<!-- 推荐页 -->
<!-- 抽奖活动页面 -->
<div class="recommend-layout clearfix ">
<!-- 天天送大奖 -->
  <section class="rcm-activity">
    <img src="../images/activity/bg-words.png" alt="">
    <p class="rcm-act">活动详情</p>
    <img class="rec-icon" src="../images/activity/rec-arrow.png" alt="">
  </section>
  <!-- 签到周期 -->
  <section class="clearfix overflow-hid">
    <div class="rec-sign position-re clearfix">
      <span class="fl ">签到周期</span>
      <span class="fr ">{{formatDate(thisWeekCheckinRecords.monday)}}~{{formatDate(thisWeekCheckinRecords.sunday)}}</span>
    </div>
    <ul class="rec-sign-list " ng-repeat="checkinRecord in thisWeekCheckinRecords.checkinRecords">
      <li ng-if="checkinRecord.seq < 7" class="fl {{checkinRecord.checkin ? 'li-signed' : 'li-sign'}}"><p class="rec-p" id="rec-color">{{formatDate(checkinRecord.createTime)}}</p><img ng-show="checkinRecord.checkin" src="../images/activity/rec-signed.png" alt=""><img ng-show="!checkinRecord.checkin" src="../images/activity/rec-sign.png" alt=""></li>
      <li ng-if="checkinRecord.seq === 7" class="fl {{checkinRecord.checkin ? 'li-signed' : 'li-sign'}}">
        <p class="rec-p rec-box">{{formatDate(checkinRecord.createTime)}}</p>
        <img ng-show="thisWeekCheckinRecords.checkinDays < 4" src="../images/activity/rec-box.png" alt="">
        <img ng-show="thisWeekCheckinRecords.checkinDays >= 4" src="../images/activity/rec-boxed.png" alt=""></li>
    </ul>
  </section>
  <!-- 抽奖转盘 -->
  <section>
    <div class="position-re">
      <div class=" rec-disk-section"><img class="rec-disk" src="../images/activity/rec-circle-in.png" alt=""></div>
      <img class="rec-arrow-r rotate-bg fl position-ab"src="../images/activity/rec-arrow-r.png" alt="">
      <img class="rec-disk-words luck-click position-ab" src="../images/activity/rec-circle-inwords.png" alt="" ng-click="drawPrizeAndCheckin()" id="lijichoujiang">
    </div>
    <div class="rec-disk-bottom">
      <img src="../images/activity/rec-disk-bottom.png" alt="">
      <p class="fl position-ab">还需要&nbsp;<span class="rec-date-num">4</span>&nbsp;日&nbsp;周日即可抽取大奖！</p>
    </div>
  </section>
  <!-- 其他活动 -->
    <section class="rec-other-act">
      <div class="rec-other-img">
        <p>其他活动</p>
        <a href=""><img src="../images/activity/rec-invite.png" alt=""></a>
        <a href=""><img src="../images/activity/rec-return.png" alt=""></a>
      </div>
    </section>
</div>

<!-- //公用的弹框蒙层 -->
<div class=" rec-showmoney share-page-breakWishLayer position-ab width-100 height-100 position-re" style="background-color:rgba(0,0,0,0.85);" >

      <!-- 公用的关闭按钮 -->
    <img class="rec-xclose position-ab" src="../images/activity/rec-xclose.png" alt="">
<!-- 活动详情  弹出来需要去掉X号-->
    <section class="rec-act-rule margin-t-1p5  tab-content">
      <div class="rec-act-rule-top margin-l-1 margin-r-1">
        <p class="margin-l-1">活动规则</p>
      </div>
      <div class=" rec-act-rule-btm bg-yellow5 margin-l-1 margin-r-1 ft-1p2 padding-1">
        <!-- <div class="border-red-bottom"><span class="share-page-mask-activity">活动规则</span><span class="u-pull-right ft-red3" ng-click="activityDetailFlag=false;">关闭页面</span></div> -->

          <div class="margin-t-1 ft-1 ft-black4 padding-r-1">
            <p class="margin-t-1 margin-b-0">1、所有注册用户皆可参与。</p>
            <p class="margin-t-1 margin-b-0">2、每周有四天参与抽奖，周日即可抽取大奖。</p>
            <p class="margin-t-1 margin-b-0">3、每日分享链接增加一次抽奖机会，分享后第一次抽中奖品将失效。</p>
            <p class="margin-t-1 margin-b-0">4、金币生效后，直接投资，收益即刻到账，所得现金和收益均可提现。</p>
            <p class="margin-t-1 margin-b-0">5、本活动最终解释权归宏财网所有。</p>
            <p class="margin-l-1 margin-b-0">服务热线：010-59436409。</p>
            <input class="rec-rule-btn button" type="button" value="关闭页面">
          </div>
      </div>
    </section>
<!-- 活动弹出金币 -->
    <section class="rec-showmoney-ex" >
      <div class="position-re">
        <!-- 弹出金币-兑奖前 -->
        <div class="rec-excongradulations position-ab">
          <p>超赞哟！</p>
          <p>抽中<span>1000</span>元金币</p>
          <p>金币投资&nbsp;收益即刻到账</p>
        </div>
      <img class="rec-mbox" src="../images/activity/rec-mbox.png" alt="">
      <img class="rec-money position-ab" src="../images/activity/rec-money.png" alt="">
        <div class="rec-showmoney-exbtn">
          <a class="fl position-ab" href=""><p class="position-ab"><span class="rec-span">人家很满意</span><br>奖品生效</p><img src="../images/activity/rec-satisfy.png" alt=""></a>
          <a class="fl position-ab" href=""><p class="position-ab"><span class="rec-span">人家不满意</span><br>再抽一次</p><img src="../images/activity/rec-unsatisfy .png" alt=""></a>
        </div>
      </div>
    </section>
<!-- 活动弹出金币-兑奖 -->
    <section class=" rec-showmoney tab-content" >

      <div class="position-re">
        <div class="rec-congradulations position-ab">
          <p><span>1000元</span>金币换奖金已到账！</p>
          <p>快去查看&nbsp;可以提现</p>
          <p>明天再接再厉哦100%中奖</p>
        </div>
      <img class="rec-mbox" src="../images/activity/rec-mbox.png" alt="">
      <img class="rec-money position-ab" src="../images/activity/rec-money.png" alt="">
        <div class="rec-showmoney-btn">
          <a class="fl position-ab" href=""><p class="position-ab">我的奖品</p><img src="../images/activity/rec-satisfy.png" alt=""></a>
          <a class="fl position-ab" href=""><p class="position-ab">分享朋友</p><img src="../images/activity/rec-unsatisfy .png" alt=""></a>
        </div>
      </div>
    </section>
<!-- 活动弹出流量 2G提醒-->
    <section class=" rec-2Gagain tab-content" >

      <div class="position-re">
        <div class="rec-congradulations position-ab">
          <p>遗憾哟！</p>
          <p>不支持<span>2G手机</span>用户</p>
        </div>
      <img class="rec-mbox" src="../images/activity/rec-mbox.png" alt="">
      <img class="rec-money position-ab" src="../images/activity/rec-wifi.png" alt="">
        <div class="rec-2Gagain-btn">
          <a class="fl position-ab" href=""><p class="position-ab">再抽一次吧</p><img src="../images/activity/rec-gameover-btm.png" alt=""></a>
        </div>
      </div>
    </section>
<!-- 活动弹出次数用完 -->
    <section class="rec-gameover tab-content">
      <img src="../images/activity/rec-gameover.png" alt="">
      <div class="rec-gameover-div"><p>抽过奖了，请明天再来吧</p></div>
    </section>
 <!--  点击分享给好友  这个弹框弹出来时需要隐藏掉公用的关闭X号-->
    <section class="tab-content">
      <div class="rec-sharewords"><img src="../images/activity/rec-sharewords.png" alt=""></div>
      <!-- 分享成功页面只需改一下图片名字rec-sharewords-success -->
    </section>

</div>


