<!-- 推荐页 -->
<!-- 抽奖活动页面 -->
<div class="recommend-layout clearfix ">
<!-- 天天送大奖 -->
  <section class="rcm-activity">
    <img src="../images/activity/bg-words.png" alt="">
    <p class="rcm-act">活动详情</p>
    <img class="rec-icon" src="../images/activity/rec-arrow.png" alt="">
  </section>
  <!-- 签到周期 -->
  <section class="clearfix overflow-hid">
    <div class="rec-sign position-re clearfix">
      <span class="fl ">签到周期</span>
      <span class="fr ">5.24~5.30</span>
    </div>
    <ul class="rec-sign-list " >
      <li class="fl li-signed"><p class="rec-p" id="rec-color">5.24</p><img src="../images/activity/rec-signed.png" alt=""></li>
      <li class="fl li-signed"><p class="rec-p">5.24</p><img src="../images/activity/rec-signed.png" alt=""></li>
      <li class="fl li-signed"><p class="rec-p">5.24</p><img src="../images/activity/rec-signed.png" alt=""></li>
      <li class="fl li-sign"><p class="rec-p">5.24</p><img src="../images/activity/rec-sign.png" alt=""></li>
      <li class="fl li-sign"><p class="rec-p">5.24</p><img src="../images/activity/rec-sign.png" alt=""></li>
      <li class="fl li-sign"><p class="rec-p">5.24</p><img src="../images/activity/rec-sign.png" alt=""></li>
      <li class="fl li-sign "><p class="rec-p rec-box">5.24</p><img src="../images/activity/rec-box.png" alt=""></li>

    </ul>
  </section>
  <!-- 抽奖转盘 -->
  <section>
    <div class="position-re">
      <div class=" rec-disk-section"><img class="rec-disk" src="../images/activity/rec-circle-in.png" alt=""></div>
      <img class="rec-arrow-r rotate-bg fl position-ab"src="../images/activity/rec-arrow-r.png" alt="">
      <img class="rec-disk-words luck-click position-ab" src="../images/activity/rec-circle-inwords.png" alt="">
    </div>
    <div class="rec-disk-bottom">
      <img src="../images/activity/rec-disk-bottom.png" alt="">
      <p class="fl position-ab">还需要&nbsp;<span class="rec-date-num">4</span>&nbsp;日&nbsp;周日即可抽取大奖！</p>
    </div>
  </section>
  <!-- 其他活动 -->
    <section class="rec-other-act">
      <div class="rec-other-img">
        <p>其他活动</p>
        <a href=""><img src="../images/activity/rec-invite.png" alt=""></a>
        <a href=""><img src="../images/activity/rec-return.png" alt=""></a>

      </div>
    </section>
</div>
<!-- 活动详情蒙层 -->
<div class="share-page-breakWishLayer position-ab width-100 height-100" style="background-color:rgba(0,0,0,0.8);" ng-show="activityDetailFlag">
  <div class="bg-white margin-t-5 margin-l-1 margin-r-1 ft-1p2 padding-1" style="border-radius:0.5rem;">
    <div class="border-red-bottom"><span class="share-page-mask-activity">活动规则</span><span class="u-pull-right ft-red3" ng-click="activityDetailFlag=false;">关闭页面</span></div>
    <div class="margin-t-1 ft-1 ft-black2 padding-r-1">
      <p class="margin-t-1 margin-b-0">1、成功为好友点赞或通过其他途径参与活动的用户，最高可得50元宏财现金。</p>
      <p class="margin-t-1 margin-b-0">2、用户通过邀请6位好友为自己“点赞”，获得宏财现金，每位好友的点赞可以贡献1-9元奖金。</p>
      <p class="margin-t-1 margin-b-0">3、活动有效期2015年12月15日09点-2015年12月21日24点。</p>
      <p class="margin-t-1 margin-b-0">4、宏财现金有效期为10天，10天之内未领取者，宏财现金自动清零。</p>
      <p class="margin-t-1 margin-b-0">5、服务热线：010-59436409。</p>
      <p class="margin-t-1 margin-b-0">6、本活动最终解释权归宏财理财所有。</p>
    </div>
  </div>
</div>
<!-- 活动弹出现金 -->
<div class="rec-showcash share-page-breakWishLayer position-ab width-100 height-100 tab-content" style="background-color:rgba(0,0,0,0.85);">

</div>
<!-- 活动弹出现金-兑奖 -->
<div class="share-page-breakWishLayer position-ab width-100 height-100 tab-content" style="background-color:rgba(0,0,0,0.85);" >

</div>
<!-- 活动弹出流量 -->
<div class="rec-showmob share-page-breakWishLayer position-ab width-100 height-100 tab-content" style="background-color:rgba(0,0,0,0.85);" >

</div>
<!-- 活动弹出流量-兑奖 -->
<div class="share-page-breakWishLayer position-ab width-100 height-100 tab-content" style="background-color:rgba(0,0,0,0.85);" >

</div>
<!-- 活动弹出金币 -->
<div class=" rec-showmoney share-page-breakWishLayer position-ab width-100 height-100 position-re tab-content" style="background-color:rgba(0,0,0,0.85);" >
    <img class="rec-xclose position-ab" src="../images/activity/rec-xclose.png" alt="">
    <div class="position-re">
      <img class="rec-mbox" src="../images/activity/rec-mbox.png" alt="">
      <img class="rec-money position-ab" src="../images/activity/rec-money.png" alt="">
      <div class="rec-showmoney-btn">
        <a class="fl position-ab" href=""><img src="../images/activity/rec-satisfy.png" alt=""></a>
        <a class="fl position-ab" href=""><img src="../images/activity/rec-unsatisfy .png" alt=""></a>
      </div>
    </div>

    <!-- <div class="rec-mbox"></div> -->


</div>
<!-- 活动弹出金币-兑奖 -->
<div class="share-page-breakWishLayer position-ab width-100 height-100 tab-content" style="background-color:rgba(0,0,0,0.85);">

</div>
<!-- 活动弹出次数用完 -->
<div class="share-page-breakWishLayer position-ab width-100 height-100 tab-content" style="background-color:rgba(0,0,0,0.85);">

</div>
<!-- 活动弹出-分享成功 -->
<div class="share-page-breakWishLayer position-ab width-100 height-100 tab-content" style="background-color:rgba(0,0,0,0.85);">

</div>

<script>

$(function (){
  var timeOut = function (){
    $('.rec-disk').rotate({
      angle:0,
      animateTo:2160,
      duration:8000,
      callback:function (){
       alert('网络超时，请检查您的网络设置！');
      }
    });
  };
  // var bRotate = false;
  var rotateFn = function (awards, angles,text){
    // bRotate = !bRotate;
    $('.rec-disk').stopRotate();
    $('.rec-disk').rotate({
      angle:0,
      animateTo:angles+1800,
      duration:8000,
      callback:function(){
        //抽中金币
         if(awards == 0 || awards==3){
            // $(".rec-showmoney").removeClass("tab-content");
         }else if(awards==2 || awards ==4){
            // $(".rec-showcash").removeClass("tab-content");
         }else{
            // $(".rec-showmob").removeClass("tab-content");
         }
      }
    })
  };
  $(".luck-click").rotate({
       bind:
         {
            click: function(){
                // console.log(1);
                var item = Math.floor(Math.random()*5);
                console.log(item);
                // if(bRotate) return;
                switch (item) {
                  case 0:
                    rotateFn(0, 335, '0');//金币
                    break;
                  case 1:
                    rotateFn(1, 290, '1');//手机流量
                    break;
                  case 2:
                    rotateFn(2, 245, '2');//现金
                    break;
                  case 3:
                    rotateFn(3,155 , '3');//金币
                    break;
                  case 4:
                    rotateFn(4,70 , '4'); //现金
               }
            }
         }

    });
})

</script>

