<div class="bg-White margin-b-7 w-100">
  <div class="safe-top">
    <img src="images/safe/safe-top.png" width="100%">
  </div>
  <div class="section section-one position-re margin-auto">
    <div class="business text-center">
      <div class="tittle text-center">
        <p class="margin-b-0 ft-white">国有企业战略投资</p>
      </div>
      <div>
        <img src="images/safe/advantage1.png" class="display-bl margin-auto" width="70%">
      </div>
      <div class="advantages">
        <ul class="display-bl margin-auto safe-black">
          <li>国有企业战略投资1亿元</li>
          <li>股东是政府直接出资的国有金融机构-洛阳中小企业资产管理公司</li>
          <li>财务由国有企业统一管理</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="section section-two">
    <div class="business">
      <div class="tittle text-center">
        <p class="margin-b-0 ft-white">资金银行存管</p>
      </div>
      <div class="content">
        <ul>
          <li class="clearfix">
            <img src="/images/safe/li1.png" width="16%" class="fl margin-l-1p5 margin-t-2">
            <div class="fr padding-r-0p5">
              <p class="margin-b-0 safe-blue">资金存管</p>
              <p class="margin-b-0 safe-black"> 宏财网率先对接北京网贷监控及资金存管系统。标的、资金信息同步上传北京市金融局、北京市网贷协会，最大限度保护投资者利益。</p>
            </div>
          </li>
          <li class="clearfix">
            <img src="/images/safe/li2.png" width="16%" class="fl margin-l-1p5 margin-t-2">
            <div class="fr padding-r-0p5">
              <p class="margin-b-0 safe-blue">银行监管</p>
              <p class="margin-b-0 safe-black"> 投资人和借款人的所有资金往来，必须通过存管通账户在中信银行直接进行。宏财网无权触碰用户资金。</p>
            </div>
          </li>
          <li class="clearfix">
            <img src="/images/safe/li3.png" width="16%" class="fl margin-l-1p5 margin-t-2">
            <div class="fr padding-r-0p5">
              <p class="margin-b-0 safe-blue">第三方支付</p>
              <p class="margin-b-0 safe-black"> 与易宝、富友、联动优势等知名第三方机构达成战略合作。第三方支付、存管通系统、银行系统共同构筑用户资金安全堡垒。</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="section section-thr margin-auto">
    <div class="business text-left">
      <div class="tittle text-center">
        <p class="margin-b-0 ft-white">风险控制保障</p>
      </div>
      <ul class="content">
        <li><p class="display-inb circle"> 第一层</p><span class="display-inb safe-black"> 严格甄选行业及资产</span></li>
        <li><p class="display-inb circle"> 第二层</p><span class="display-inb safe-black"> 资产足值抵押，抵押率50%</span>  </li>
        <li><p class="display-inb circle"> 第三层</p><span class="display-inb safe-black"> 注册10亿以上的AA级担保公司担保</span>  </li>
        <li><p class="display-inb circle"> 第四层</p><span class="display-inb safe-black"> 全方位立体风控审查</span>  </li>
        <li><p class="display-inb circle"> 第五层</p><span class="display-inb safe-black"> 严选合作机构</span>  </li>
        <li><p class="display-inb circle"> 第六层</p><span class="display-inb safe-black"> 企业综合评估评审</span>  </li>
        <li><p class="display-inb circle"> 第七层</p><span class="display-inb safe-black"> 贷后持续性监控</span>  </li>
        <li><p class="display-inb circle"> 第八层</p><span class="display-inb safe-black"> 全流程内控稽核管理</span>  </li>
      </ul>
    </div>
  </div>
  <div class="section section-four margin-auto">
    <div class="business text-center">
      <div class="tittle text-center">
        <p class="margin-b-0 ft-white">五大风险评分</p>
      </div>
      <img src=" /images/safe/danger.png" width="90%" class="disply-bl">
    </div>
  </div>
  <div class="section section-fif margin-auto">
    <div class="business text-center position-re">
      <div class="tittle text-center">
        <p class="margin-b-0 ft-white ft-1p2">信息隐私安全保障</p>
        <p class="position-ab m1 ft-1p2 safe-black">两地三中心容灾备份</p>
        <p class="position-ab m2 ft-1p2 safe-black">SSL128位数</br>据加密</p>
        <p class="position-ab m3 ft-1p2 safe-black">专职安全系统</br>运维工程师<p>
      </div>
      <img src=" /images/safe/information.png" width="56%" class="disply-bl margin-t-1p5">
    </div>
  </div>
  <div class="section section-six margin-auto">
    <div class="business">
      <div class="tittle text-center">
        <p class="margin-b-0 ft-white">法律权益保障</p>
      </div>
      <div class="content safe-black margin-auto">
        <p class="margin-b-0 ft-1p2 safe-black">宏财网在平台运作、借贷居间服务、财务管理等方</p>
        <p class="margin-b-0 ft-1p2 safe-black">面均合法合规。若上述风险防控措施仍不能覆盖全</p>
        <p class="margin-b-0 ft-1p2 safe-black">部风险，投资人的借款合同仍然有效，受国家法律</p>
        <p class="margin-b-0 ft-1p2 safe-black">保护。宏财网可以帮助投资人通过法律程序维护合</p>
        <p class="margin-b-0 ft-1p2 safe-black">法权益。</p>
      </div>
    </div>
  </div>
</div>

