<div class="bg-white padding-l-1 padding-r-1 padding-t-3 padding-b-3 overflow-hid text-center" ng-switch="page">
    <div class="overflow-hid" ng-switch-default>
        <img src="/images/signup-2.png" width="30%"> 
        <p class="padding-t-1 ft-2 ft-orange"><strong>恭喜您，成功开通易宝账户！</strong></p>
        <p class="padding-t-1 padding-b-3">
            现在您可以&nbsp;<i class="fa fa-hand-o-down ft-red"></i>
        </p>
        <div class="column twelve padding-l-1 padding-r-1 margin-b-1 padding-b-2">
            <div class="one-half column button button-primary u-pull-left border-none" ui-sref="root.main">浏览项目</div>
            <div class="one-half column button ft-white bg-yellow u-pull-right border-none" ui-sref="root.login">登录</div>
        </div>
    </div> 

    <div class="overflow-hid" ng-switch-when="1">
        <img src="/images/signup-2.png" width="30%"> 
        <p class="padding-t-1 ft-2 ft-orange"><strong>hahaha</strong></p>
        <p class="padding-t-1 padding-b-3">
            现在您可以&nbsp;<i class="fa fa-hand-o-down ft-red"></i>
        </p>
        <div class="column twelve padding-l-1 padding-r-1 margin-b-1 padding-b-2">
            <div class="one-half column button button-primary u-pull-left border-none" ui-sref="root.main">浏览项目</div>
            <div class="one-half column button ft-white bg-yellow u-pull-right border-none" ui-sref="root.login">登录</div>
        </div>
    </div> 
</div>
