<div class="bg-white padding-l-1 padding-r-1 padding-t-3 padding-b-3 overflow-hid text-center" ng-switch="page">
  <div class="overflow-hid">
    <img src="/images/success-re_03.png" width="30%">
    <p class="padding-t-1 ft-2 ft-black2 margin-t-2">
      <strong ng-switch-default>恭喜您，成功开通存管账户！</strong>
      <strong ng-switch-when="1">恭喜您，成功充值{{amount | number:2}}元！</strong>
      <strong ng-switch-when="2">恭喜您，成功提现{{amount | number:2}}元！</strong>
      <strong ng-switch-when="3">恭喜您，成功投资{{amount | number:2}}元！<br><span ng-show="coupon.type == 1">额外加息{{coupon.value}}%</span><span ng-show="coupon.type == 2">额外奖励{{coupon.value}}元</span></strong>
      <strong ng-switch-when="4">恭喜您，成功绑定银行卡！</strong>
      <strong ng-switch-when="5">恭喜您，成功修改手机号！</strong>
      <strong ng-switch-when="6">恭喜您，成功投资{{amount | number:2}}元！</strong>
      <strong ng-switch-when="7">恭喜您，成功开通存管账号！</strong>
      <strong ng-switch-when="8">恭喜您，成功解绑银行卡！</strong>
      <strong ng-switch-when="9">恭喜您，成功申请解绑银行卡！</strong>
    </p>
    <div class="column twelve padding-l-1 padding-r-1 margin-b-1 padding-b-2 margin-t-2">

      <div  ng-switch-default>
        <div class="one-half column button button-primary u-pull-left border-none" ui-sref="root._main-list-temp">
          <span>浏览项目</span>
        </div>
        <div class="one-half column button button-primary u-pull-left border-none" ui-sref="root.userCenter.recharge">
          <span>充值</span>
        </div>
      </div>

      <div class="one-half column button button-primary u-pull-left border-none" ng-switch-when="1" ui-sref="root._main-list-temp">
        <span>浏览项目</span>
      </div>
      <div class="one-half column button button-primary u-pull-left border-none" ng-switch-when="2" ui-sref="root._main-list-temp">
        <span>浏览项目</span>
      </div>
      <!-- userCenter.credits -->
      <div class="one-half column button button-primary u-pull-left border-none" ng-switch-when="3" ui-sref="root.userCenter.credits">
        <span>我的投资</span>
      </div>
      <div class="one-half column button button-primary u-pull-left border-none" ng-switch-when="3" ui-sref="root._main-list-temp">
        <span>浏览项目</span>
      </div>
      <div class="one-half column button button-primary u-pull-left border-none" ng-switch-when="4" ui-sref="root._main-list-temp">
        <span>浏览项目</span>
      </div>
      <div class="one-half column button button-primary u-pull-left border-none" ng-switch-when="5" ui-sref="root._main-list-temp">
        <span>浏览项目</span>
      </div>
      <div class="one-half column button button-primary u-pull-left border-none" ng-switch-when="6" ui-sref="root._main-list-temp">
        <span>浏览项目</span>
      </div>
      <div ng-switch-when="7">
        <div class="one-half column button button-primary u-pull-left border-none" ui-sref="root._main-list-temp">
          <span>浏览项目</span>
        </div>
        <div class="one-half column button button-primary u-pull-left border-none" ui-sref="root.userCenter.account">
          <span>我的账户</span>
        </div>
      </div>
      <div ng-switch-when="8">
        <div class="one-half column button button-primary u-pull-left border-none" ui-sref="root.userCenter.setting">
          <span>绑定新银行卡</span>
        </div>
        <div class="one-half column button button-primary u-pull-left border-none" ui-sref="root.main">
          <span>逛逛首页</span>
        </div>
      </div>
      <div ng-switch-when="9">
        <div class="one-half column button button-primary u-pull-left border-none" ui-sref="root.userCenter.account">
          <span>我的账户</span>
        </div>
        <div class="one-half column button button-primary u-pull-left border-none" ui-sref="root.main">
          <span>逛逛首页</span>
        </div>
      </div>
    </div>
  </div>
</div>
